@{
    Layout = "_Layout";
    Content currentContent = ViewData["Content"] as Content;
}
@section styles {
    @RenderSection("styles", required: false)
}
@section includes {
    @RenderSection("includes", required: false)
}
@section scripts {
    @RenderSection("scripts", required: false)
}
@section metas {
    @RenderSection("metas", required: false)
}
<div class="container ptb-60">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">@ViewData["Template.TopFeaturette.Title"]</h2>
            <div class="featurette-body">@Html.Raw(ViewData["Template.TopFeaturette.Body"])</div>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="@ViewData["Template.TopFeaturette.Image"]" alt="@ViewData["Template.TopFeaturette.AltText"]">
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container text-center">
        <h1>@ViewData["Template.CallToAction.Title"]</h1>
        <p>@ViewData["Template.CallToAction.Text"]</p>
    </div>
</div>
<section class="container">
    <div class="row featurette ptb-60">
        <div class="col-md-8">
            @RenderBody()
        </div>
        <div class="col-md-3 col-md-offset-1">
            <ul class="list-group side-links">
                <li class="list-group-item">
                    <span class="tag tag-default tag-pill pull-right"><i class="fa fa-arrow-circle-o-right"></i></span>
                    <a href="/">
                        Links
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<div class="jumbotron">
    <div class="container text-center">
        <h1>Let's do a project</h1>
        <p>Get in touch now to discuss your event...</p>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Let's talk »</a>
        </p>
    </div>
</div>