@model MediaListModel
@inject IDirectoryManager _directoryManager
@{
    Layout = null;
    var rootDirModel = new MediaListModel();
    Model.CopyProperties(rootDirModel);
    rootDirModel.DirectoryId = null;
    var rootDirs = Model.TopLevelDirectories;
}
@if (Model.DirectoryId.HasValue)
{
    <input type="hidden" id="upload-directory-id" value="@Model.DirectoryId.Value" />
    rootDirs = _directoryManager.GetDirectoryById(Model.DirectoryId.Value).Children;
}
<div class="card mb-3 d-none d-md-block">
    <div class="card-body p-2">
        <i class="fa fa-folder-open mr-2 text-warning"></i>
        @_directoryManager.GetBreadcrumb(Model)
    </div>
</div>
<div class="card-deck card-deck-5">
    @foreach (var dir in rootDirs)
    {
        rootDirModel.DirectoryId = dir.Id;
        var link = rootDirModel.GetPageUrl(rootDirModel.PageIndex);
        var href = $"{Context.Request.Path}{link}";
        <div class="card text-center hover">
            <div class="card-body text-center">
                <i class="fa fa-3x fa-folder-open mr-2 text-warning"></i>
            </div>
            <div class="card-footer p-1">
                <p class="m-0 font-weight-bold text-truncate">
                    @dir.DisplayName
                </p>
                <a class="full-box-link hood-inline-list-target" data-target="#media-list" href="@href">@dir.DisplayName</a>
            </div>
        </div>
    }
</div>
@if (Model.TotalCount > 0)
{
    <div class="card-deck card-deck-5">
        @foreach (var media in Model.List)
        {
            var attachUrl = Url.Action("Attach", new { media = media.Id, tag = Model.Tag, id = Model.Id, entity = Model.Entity, field = Model.Field });
            <div class="card text-center hover">
                @switch (Model.Action)
                {
                    case MediaWindowAction.Select:
                        <fixedImage src="@media.Icon" class="img img-full img-wide card-img-top media-select" data-tag="@Model.Tag" data-url="@media.Url" />
                        break;
                    case MediaWindowAction.Insert:
                        <fixedImage src="@media.Icon" class="img img-full img-wide card-img-top media-insert" data-url="@media.Url" />
                        break;
                    case MediaWindowAction.Attach:
                        <fixedImage src="@media.Icon" class="img img-full img-wide card-img-top media-attach" data-url="@attachUrl" />
                        break;
                    default:
                        <fixedImage src="@media.Icon" class="img img-full img-wide card-img-top" />
                        break;
                }
                <div class="card-body p-1">
                    <p class="m-0 font-weight-bold text-truncate">
                        @media.Filename
                    </p>
                    <p>
                        <small>@media.FormattedSize</small>
                    </p>
                    @switch (Model.Action)
                    {
                        case MediaWindowAction.Select:
                            <p>
                                <a class="media-select btn btn-sm btn-outline-dark" data-tag="@Model.Tag" data-url="@media.SmallUrl" href="javascript:void(0);">
                                    Small
                                </a>
                                <a class="media-select btn btn-sm btn-outline-dark" data-tag="@Model.Tag" data-url="@media.MediumUrl" href="javascript:void(0);">
                                    Medium
                                </a>
                                <a class="media-select btn btn-sm btn-outline-dark" data-tag="@Model.Tag" data-url="@media.LargeUrl" href="javascript:void(0);">
                                    Large
                                </a>
                            </p>
                            break;
                        case MediaWindowAction.Insert:
                            <p>
                                <a class="media-insert btn btn-sm btn-outline-dark" data-url="@media.SmallUrl" data-title="@media.Filename" href="javascript:void(0);">
                                    Small
                                </a>
                                <a class="media-insert btn btn-sm btn-outline-dark" data-url="@media.MediumUrl" data-title="@media.Filename" href="javascript:void(0);">
                                    Medium
                                </a>
                                <a class="media-insert btn btn-sm btn-outline-dark" data-url="@media.LargeUrl" data-title="@media.Filename" href="javascript:void(0);">
                                    Large
                                </a>
                            </p>
                            break;
                        case MediaWindowAction.Attach:
                            <p class="no-margin">
                                <a class="media-insert btn btn-sm btn-outline-success" data-url="@attachUrl">
                                    <i class="fa fa-link mr-2"></i>
                                    Attach
                                </a>
                            </p>
                            break;
                        default:
                            <a class="full-box-link hood-modal" asp-action="Blade" asp-route-id="@media.Id" data-complete="$.hood.Media.BladeLoaded">@media.Filename</a>
                            break;
                    }

                </div>
            </div>
        }
    </div>
    <partial name="_Pagination" />
}
else
{
    <alert type="Info" icon="fa-info" size="Medium" class="m-0">
        @if (Model.DirectoryId.HasValue)
        {
            <span>No media in this directory.</span>
        }
        else
        {
            <span>No media.</span>
        }
    </alert>
}
