@model BuySubscriptionModel
@{
    ViewBag.Title = $"Complete your purchase: {Model.Plan.Name}";
    BillingSettings settings = Engine.Settings.Billing;
}
<section class="page-section">
    <div class="container">
        @if (Model.SaveMessage.IsSet())
        {
            <alert type="@Model.MessageType" size="Medium" icon="fa-save">@Model.SaveMessage</alert>;
        }
        <div class="panel panel-default panel-accordion">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    Confirm your package
                </h4>
            </div>
            <div id="price-panel" class="panel-body panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-heading form-group text-center bg-info">
                    <p class="no-margin"><strong>You have selected:</strong></p>
                    <h3>@Model.Plan.Name</h3>
                    <p>@Model.Plan.FullPrice</p>
                    @if (Model.Plan.TrialPeriodDays > 0)
                    {
                        <p>@Model.Plan.TrialPeriodDays days free trial</p>
                    }
                    else
                    {
                        <p>No trial period.</p>
                    }
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-accordion">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    Choose your payment method
                </h4>
            </div>
            <form id="buy-plan-form" class="panel-body" data-stripe="@(settings.EnableStripeTestMode ? settings.StripeTestPublicKey : settings.StripeLivePublicKey)">
                <input type="hidden" id="buy-plan-id" value="@Model.Plan.Id" />
                <div id="payment-method-list" class="hood-inline" data-url="@Url.Action("PaymentMethods", "Billing", new { viewName = "_List_PaymentMethodRadios" })">
                    <alert icon="fa fa-2x fa-cog fa-spin" size="Epic" type="Dark" class="text-center">Loading payment methods...</alert>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <input type="radio" class="buy-plan-method" id="buy-plan-method-new" name="buy-plan-method" value="new-card" />
                        <label for="buy-plan-method-new">
                            <span>Add a <strong>new card</strong> and pay with that</span>
                        </label>
                    </div>
                </div>
                <div class="collapse" id="buy-plan-add-card-form">
                    <div class="form-group">
                        <label class="control-label">Cardholder's Name</label>
                        <input id="buy-plan-cardholdername" name="CardholderName" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Card details</label>
                        <div id="buy-plan-element" class="form-control"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <input type="checkbox" id="buy-plan-consent" />
                        <label for="buy-plan-consent">
                            <strong>Check here to agree to the @Engine.Settings.Basic.CompanyName customer agreement.</strong><br />
                            <span style="font-weight:normal;">I authorise @Engine.Settings.Basic.CompanyName to send instructions to the financial institution that issued my card to take payments from my card account in accordance with the terms of my agreement with you. [Include terms link here]</span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <p class="text-danger" id="buy-plan-errors"></p>
        <p class="text-success" id="buy-plan-success"></p>
        <p class="no-margin">
            <button id="buy-plan-submit" data-url="@Url.Action("Buy")" class="btn btn-block btn-success">
                Confirm &amp; Pay
            </button>
        </p>
    </div>
</section>
