@model SubscriptionPlansModel
@{
    ViewBag.Title = Model.Product.DisplayName;
}
<div class="container">
    @if (Model.SaveMessage.IsSet())
    {
        <alert type="@Model.MessageType" size="Medium" icon="fa-save">@Model.SaveMessage</alert>
    }
    <h3>
        <a asp-action="Product" asp-route-id="@Model.Product.Id" asp-route-title="@Model.Product.DisplayName.ToSeoUrl()">
            @Model.Product.DisplayName
        </a>
    </h3>
    @if (Model.Plans.Count > 0)
    {
        <div class="row">
            @foreach (Subscription plan in Model.Product.Subscriptions.OrderBy(s => s.Level))
            {
                <partial name="_Template_Plan" model="plan" />
            }
        </div>
    }
    else
    {
        <p>No plans are available in this package yet.</p>
    }
</div>
