@inject IThemesService themesSource
@{
    var theme = themesSource.Current;
    ViewData["Title"] = "Site Theme";
    if (theme != null)
    {
        ViewData["Title"] = "Site Theme: " + theme["ThemeFullName"];
    }
}
<div class="row">
    <div class="col-sm-8">
        <div class="row">
            @foreach (KeyValuePair<string, IConfiguration> themeSel in themesSource.ThemeConfigs)
            {
                string activeClass = "";
                bool active = false;
                try
                {
                    var themeConf = themeSel.Value;
                    active = theme["name"] == themeConf["Name"];
                    if (active)
                    {
                        activeClass = "active";
                    }
                }
                catch { }
                <div class="col-md-6 col-lg-4">
                    <div class="thumbnail @activeClass">
                        <figure class="img img-wide img-full" style="background-image:url(@themeSel.Value["PreviewImage"]);">
                            <img src="@themeSel.Value["PreviewImage"]" alt="@themeSel.Value["ThemeFullName"]" />
                        </figure>
                        <div class="caption">
                            <h4 class="no-margin">@themeSel.Value["ThemeFullName"] <small>(@themeSel.Value["name"])</small></h4>
                            <p>by <strong>@themeSel.Value["Author"]</strong></p>
                            @if (!active)
                            {
                            <a class="btn-success btn btn-sm btn-block activate-theme" data-name="@themeSel.Value["name"]">Activate Theme</a>
                            }
                            else
                            {
                            <span class="btn-disabled btn-default btn btn-block btn-sm" data-name="@themeSel.Value["name"]">Currently Active</span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel-body">
            @if (theme != null)
            {
                <h4 class="text-center">Current theme: <strong>@theme["ThemeFullName"]</strong></h4>
                <p>Theme currently selected: <strong>@_settings["Hood.Settings.Theme"]</strong></p>
                <p></p>
            }
            else
            {
                <h4 class="text-center">There is no theme currently active.</h4>
                <h5>Theme currently selected: @_settings["Hood.Settings.Theme"]</h5>
                <p>There is no active theme currently, this could be due to no theme being selected, or an issue with the installation of the currently selected theme.</p>
            }
            <hr />
            @if (_settings != null)
            {
                <div class="editor-box">
                    <h5>Holding Page</h5>
                    <p>You can activate a holding page, which will show instead of the site, this is useful prelaunch.</p>
                    <p class="text-warning">This feature is currently disabled. Please contact Hood for more information.</p>
                    @*<p>
                            @if (config["Settings.HoldingPage"] == "true")
                            {
                                <a class="pull-right btn-danger btn-block btn btn-sm update-site-setting" data-name="Settings.HoldingPage" data-value="false">De-activate Holding Page</a>
                            }
                            else
                            {
                                <a class="pull-right btn-primary btn-block btn btn-sm update-site-setting" data-name="Settings.HoldingPage" data-value="true">Activate Holding Page</a>
                            }
                        </p>*@
                </div>
                <hr />
                <div class="editor-box">
                    <h5>Under Construction Page</h5>
                    <p>You can activate an Under Construction page, which will show instead of the site, this is useful during maintenance periods.</p>
                    <p class="text-warning">This feature is currently disabled. Please contact Hood for more information.</p>
                    @*<p>
                            @if (config["Settings.MaintenancePage"] == "true")
                            {
                                <a class="pull-right btn-danger btn-block btn btn-sm update-site-setting" data-name="Settings.MaintenancePage" data-value="false">De-activate Maintenance Page</a>
                            }
                            else
                            {
                                <a class="pull-right btn-primary btn-block btn btn-sm update-site-setting" data-name="Settings.MaintenancePage" data-value="true">Activate Maintenance Page</a>
                            }
                        </p>*@
                </div>
            }
        </div>
    </div>
</div>
