@model MediaSettings
@{
    ViewData["Title"] = "Media Settings";
    Layout = "_Layout_Settings";
}
@section buttons {
    <a asp-action="RefreshMedia" class="btn btn-warning warning-alert" data-warning="This will refresh all media items, removing any broken media, and updating the location to the currently set up cloud storage. Are you sure?"><i class="fa fa-refresh"></i> Refresh all media</a>
    @if (User.IsAdminOrBetter())
    {
        <a asp-action="ResetMedia" class="btn btn-danger warning-alert" data-warning="This will completely reset these settings to their default state, are you sure!?"><i class="fa fa-refresh"></i> Reset to Default</a>
    }
}
@section alerts {
    @if (Model.UpdateReport.HasRun)
    {
        <div class="alert @(Model.UpdateReport.Succeeded ? "alert-success" : Model.UpdateReport.Running ? "alert-warning" : "alert-danger")">
            @if (Model.UpdateReport.Running)
            {
                <h3 class="no-margin">Media is being refreshed.</h3>
            }
            else
            {
                if (Model.UpdateReport.Succeeded)
                {
                    <h3 class="no-margin">Media refresh succeeded.</h3>
                }
                else
                {
                    <h3 class="no-margin">Media refresh failed.</h3>
                }
            }
            <p class="m-t-md">@Model.UpdateReport.StatusMessage</p>
            <p>Processed: @Model.UpdateReport.Processed</p>
            <p>Total: @Model.UpdateReport.Total</p>
            <p>Completed: @Model.UpdateReport.Complete</p>
        </div>
    }
}
<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="page-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="mail-tab" data-bs-toggle="tab" href="#mail" role="tab" aria-controls="mail" aria-selected="true">
                        Azure Storage
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="tab-content">
            <div id="mail" class="tab-pane active" role="tabpanel" aria-labelledby="mail-tab">
                <div class="form-floating mb-3">
                    <input asp-for="AzureKey" type="text" class="form-control" />
                    <label asp-for="AzureKey"></label>
                    <small asp-for="AzureKey"></small>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="AzureHost" type="text" class="form-control" />
                    <label asp-for="AzureHost"></label>
                    <small asp-for="AzureHost"></small>
                </div>
                <div class="form-floating mb-3">
                    <select asp-for="AzureScheme" class="form-select">
                        <option value="https">HTTPS (Secure)</option>
                        <option value="http">HTTP (Insecure)</option>
                    </select>
                    <label asp-for="AzureScheme"></label>
                    <small asp-for="AzureScheme"></small>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ContainerName" type="text" class="form-control" />
                    <label asp-for="ContainerName"></label>
                    <small asp-for="ContainerName"></small>
                </div>
                <div media-select="NoImage" media-fit="cover"></div>
                <div media-select="NoProfileImage" media-fit="cover"></div>
            </div>
        </div>
    </div>
</div>
