@inject IConfiguration Config
<!DOCTYPE html>
<html>
<head>
    @{ await Html.RenderPartialAsync("_BaseMetas"); }
    <title>@ViewData["Title"]</title>
    @RenderSection("metas", required: false)
    @{ await Html.RenderPartialAsync("_LoginStyles"); }
    @RenderSection("styles", required: false)
</head>
<body class="@ViewData["BodyClass"]">
    <div class="login-block">
        <header>
            <a href="/">
                <img src="~/hood/images/hood-cms.png" alt="@Engine.Settings.Basic.FullTitle" />
            </a>
        </header>
        @RenderBody()
        <footer>
            <small><a href="http://hooddigital.com/">Powered by HoodCMS @($"v{Engine.Version}") by Hood Digital</a></small>
        </footer>
    </div>
    @{ await Html.RenderPartialAsync("_LoginScripts"); }
    @RenderSection("scripts", required: false)
</body>
</html>
