@{
    BasicSettings _basicSettings = Engine.Settings.Basic;
    SeoSettings _seoSettings = Engine.Settings.Seo;

    var pageTitle = ViewData["PageTitle"] as string;
    if (pageTitle.IsSet())
    {
        ViewData["Title"] += " - " + pageTitle;
    }
}
<!DOCTYPE html>
<html lang="en-gb" xml:lang="en">
<head>
    <partial name="_Metas_Base" />
    <title>@ViewData["Title"]</title>

    @Html.Raw(_seoSettings.HeadTags)

    @if (!IsSectionDefined("metas"))
    {
        <partial name="_Metas" />
    }
    @RenderSection("metas", required: false)

    @Html.RenderScripts(Url, ResourceLocation.BeforeCss)
    @Html.RenderInlineScripts(Url, ResourceLocation.BeforeCss)

    @if (Engine.Settings.Basic.EnablePreload)
    {
        <partial name="_DeferredStyles" />
    }
    else
    {
        <partial name="_Styles" />
    }
    @RenderSection("styles", required: false)

    @Html.RenderScripts(Url, ResourceLocation.AfterCss)
    @Html.RenderInlineScripts(Url, ResourceLocation.AfterCss)

</head>
<body class="@ViewData["BodyClass"]" @ViewData["BodyAttributes"]>
    @Html.Raw(_seoSettings.BodyTags)

    @RenderSection("afterbody", required: false)

    <partial name="_NoScript" />

    @if (Engine.Settings.Basic.EnablePreload)
    {
        <partial name="_PreLoader" />
    }

    @RenderSection("beforecontent", required: false)

    <div class="wrapper" id="wrapper">
        @await Component.InvokeAsync(nameof(Hood.ViewComponents.Header))
        @RenderBody()
    </div>

    @RenderSection("beforefooter", required: false)
    <partial name="_Footer" />
    <partial name="_CookieConsentPartial" />

    @RenderSection("afterfooter", required: false)
    <partial name="_AdminEditor" />

    @if (Engine.Settings.Basic.EnablePreload)
    {
        <partial name="_DeferredStylesLoader" />
    }

    @RenderSection("includes", required: false)

    <partial name="_Scripts" />

    @RenderSection("scripts", required: false)

    @Html.Raw(JavaScriptSnippet.FullScript)
    @Html.Raw(_seoSettings.GoogleAnalytics)
</body>
</html>
