@inject IConfiguration Config
<!DOCTYPE html>
<html>
<head>
    @{ await Html.RenderPartialAsync("_BaseMetas"); }
    <title>@ViewData["Title"]</title>
    @RenderSection("metas", required: false)
    @{ await Html.RenderPartialAsync("_LoginStyles"); }
    @RenderSection("styles", required: false)
</head>
<body class="@ViewData["BodyClass"]">
    <div class="container">
        <div class="login-block">
            <div class="hood-title">
                <img src="~/lib/hood/images/hood-logo.svg" alt="Hood - Digital Architecture - Your Digital Account" />
            </div>
            @RenderBody()
        </div>
    </div>
    @{ await Html.RenderPartialAsync("_LoginScripts"); }
    @RenderSection("scripts", required: false)
</body>
</html>
