@model PropertySettings
@{
    ViewData["Title"] = "Property Settings";
    Layout = "_Layout_Settings";
}
@section buttons {
    @if (User.IsAdminOrBetter())
    {
        <a asp-action="ResetProperty" class="btn btn-danger warning-alert" data-warning="This will completely reset these settings to their default state, are you sure!?"><i class="fa fa-refresh"></i> Reset to Default</a>
    }
}
<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="page-tabs" data-hood-tabs="@($"tabs-settings-property")">
                <li class="nav-item">
                    <a class="nav-link active" id="property-tab" data-bs-toggle="tab" href="#property" role="tab" aria-controls="property" aria-selected="true">
                        Property
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="editor-tab" data-bs-toggle="tab" href="#editor" role="tab" aria-controls="editor" aria-selected="true">
                        Editor Settings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="price-tab" data-bs-toggle="tab" href="#price" role="tab" aria-controls="price" aria-selected="true">
                        Price Settings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="importer-tab" data-bs-toggle="tab" href="#importer" role="tab" aria-controls="importer" aria-selected="true">
                        Auto Importer
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="tab-content">
            <div id="property" class="tab-pane active" role="tabpanel" aria-labelledby="mail-tab">
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="Enabled" class="form-check-input">
                        <label asp-for="Enabled" class="form-check-label d-block"></label>
                        <small asp-for="Enabled"></small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="ShowList" class="form-check-input">
                        <label asp-for="ShowList" class="form-check-label d-block"></label>
                        <small asp-for="ShowList"></small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="ShowItem" class="form-check-input">
                        <label asp-for="ShowItem" class="form-check-label d-block"></label>
                        <small asp-for="ShowItem"></small>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="DefaultPageSize" type="number" min="0" class="form-control" />
                    <label asp-for="DefaultPageSize"></label>
                    <small asp-for="DefaultPageSize"></small>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Title" class="form-control" />
                    <label asp-for="Title"></label>
                    <small asp-for="Title"></small>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Name" class="form-control" />
                    <label asp-for="Name"></label>
                    <small asp-for="Name"></small>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Plural" class="form-control" />
                    <label asp-for="Plural"></label>
                    <small asp-for="Plural"></small>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Slug" class="form-control restrict-to-slug" />
                    <label asp-for="Slug"></label>
                    <small asp-for="Slug"></small>
                </div>
            </div>
            <div id="editor" class="tab-pane" role="tabpanel" aria-labelledby="editor-tab">
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="ShowBedrooms" class="form-check-input">
                        <label asp-for="ShowBedrooms" class="form-check-label d-block"></label>
                        <small asp-for="ShowBedrooms"></small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="ShowBathrooms" class="form-check-input">
                        <label asp-for="ShowBathrooms" class="form-check-label d-block"></label>
                        <small asp-for="ShowBathrooms"></small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="ShowShowers" class="form-check-input">
                        <label asp-for="ShowShowers" class="form-check-label d-block"></label>
                        <small asp-for="ShowShowers"></small>
                    </div>
                </div>
                <div media-select="NoImage" media-fit="contain"></div>
                <div class="card">
                    <div class="card-header border-dark bg-light">
                        <h6 class="m-0">
                            Editor &amp; Type Settings
                        </h6>
                    </div>
                    <div class="card-body p-4">
                        <alert size="Medium" type="Warning" icon="fa-exclamation-triangle">
                            Do not change the system values if you are using property importers using Rightmove, BLM or Other API protocols.<br />You can of course add your own to the lists.
                        </alert>
                        <div class="form-floating mb-3">
                            <textarea asp-for="PriceDisplays" class="form-control"></textarea>
                            <label asp-for="PriceDisplays"></label>
                            <small asp-for="PriceDisplays"></small>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea asp-for="RentDisplays" class="form-control"></textarea>
                            <label asp-for="RentDisplays"></label>
                            <small asp-for="RentDisplays"></small>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea asp-for="FeesDisplay" class="form-control"></textarea>
                            <label asp-for="FeesDisplay"></label>
                            <small asp-for="FeesDisplay"></small>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea asp-for="PropertyType" class="form-control"></textarea>
                            <label asp-for="PropertyType"></label>
                            <small asp-for="PropertyType"></small>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea asp-for="PlanningType" class="form-control"></textarea>
                            <label asp-for="PlanningType"></label>
                            <small asp-for="PlanningType"></small>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea asp-for="ListingTypes" class="form-control"></textarea>
                            <label asp-for="ListingTypes"></label>
                            <small asp-for="ListingTypes"></small>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea asp-for="LeaseStatuses" class="form-control">@Model.LeaseStatuses</textarea>
                            <label asp-for="LeaseStatuses"></label>
                            <small asp-for="LeaseStatuses"></small>
                        </div>
                    </div>
                </div>
            </div>
            <div id="price" class="tab-pane" role="tabpanel" aria-labelledby="price-tab">
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="ShowRent" class="form-check-input">
                        <label asp-for="ShowRent" class="form-check-label d-block"></label>
                        <small asp-for="ShowRent"></small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="ShowRentDecimals" class="form-check-input">
                        <label asp-for="ShowRentDecimals" class="form-check-label d-block"></label>
                        <small asp-for="ShowRentDecimals"></small>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" asp-for="RentMinimum" class="form-control" />
                    <label asp-for="RentMinimum"></label>
                    <small asp-for="RentMinimum"></small>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" asp-for="RentMaximum" class="form-control" />
                    <label asp-for="RentMaximum"></label>
                    <small asp-for="RentMaximum"></small>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" asp-for="RentIncrement" class="form-control" />
                    <label asp-for="RentIncrement"></label>
                    <small asp-for="RentIncrement"></small>
                </div>
                <hr class="mt-4 mb-4" />
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="ShowAskingPrice" class="form-check-input">
                        <label asp-for="ShowAskingPrice" class="form-check-label d-block"></label>
                        <small asp-for="ShowAskingPrice"></small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="ShowAskingPriceDecimals" class="form-check-input">
                        <label asp-for="ShowAskingPriceDecimals" class="form-check-label d-block"></label>
                        <small asp-for="ShowAskingPriceDecimals"></small>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" asp-for="AskingPriceMinimum" class="form-control" />
                    <label asp-for="AskingPriceMinimum"></label>
                    <small asp-for="AskingPriceMinimum"></small>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" asp-for="AskingPriceMaximum" class="form-control" />
                    <label asp-for="AskingPriceMaximum"></label>
                    <small asp-for="AskingPriceMaximum"></small>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" asp-for="AskingPriceIncrement" class="form-control" />
                    <label asp-for="AskingPriceIncrement"></label>
                    <small asp-for="AskingPriceIncrement"></small>
                </div>
                <hr class="mt-4 mb-4" />
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="ShowPremium" class="form-check-input">
                        <label asp-for="ShowPremium" class="form-check-label d-block"></label>
                        <small asp-for="ShowPremium"></small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="ShowPremiumDecimals" class="form-check-input">
                        <label asp-for="ShowPremiumDecimals" class="form-check-label d-block"></label>
                        <small asp-for="ShowPremiumDecimals"></small>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="PremiumMinimum" class="form-control" type="number" />
                    <label asp-for="PremiumMinimum"></label>
                    <small asp-for="PremiumMinimum"></small>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="PremiumMaximum" class="form-control" type="number" />
                    <label asp-for="PremiumMaximum"></label>
                    <small asp-for="PremiumMaximum"></small>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="PremiumIncrement" class="form-control" type="number" />
                    <label asp-for="PremiumIncrement"></label>
                    <small asp-for="PremiumIncrement"></small>
                </div>
                <hr class="mt-4 mb-4" />
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="ShowFees" class="form-check-input">
                        <label asp-for="ShowFees" class="form-check-label d-block"></label>
                        <small asp-for="ShowFees"></small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="ShowFeesDecimals" class="form-check-input">
                        <label asp-for="ShowFeesDecimals" class="form-check-label d-block"></label>
                        <small asp-for="ShowFeesDecimals"></small>
                    </div>
                </div>
            </div>
            <div id="importer" class="tab-pane" role="tabpanel" aria-labelledby="importer-tab">
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="FTPImporterSettings.Enabled" class="form-check-input">
                        <label asp-for="FTPImporterSettings.Enabled" class="form-check-label d-block"></label>
                        <small asp-for="FTPImporterSettings.Enabled"></small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="FTPImporterSettings.ClearImagesBeforeImport" class="form-check-input">
                        <label asp-for="FTPImporterSettings.ClearImagesBeforeImport" class="form-check-label d-block"></label>
                        <small asp-for="FTPImporterSettings.ClearImagesBeforeImport"></small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="FTPImporterSettings.DeletePhysicalImageFiles" class="form-check-input">
                        <label asp-for="FTPImporterSettings.DeletePhysicalImageFiles" class="form-check-label d-block"></label>
                        <small asp-for="FTPImporterSettings.DeletePhysicalImageFiles"></small>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <select asp-for="FTPImporterSettings.ExtraneousPropertyProcess" class="form-select">
                        <option value="@((int)ExtraneousPropertyProcess.Delete)">Delete property entirely</option>
                        <option value="@((int)ExtraneousPropertyProcess.StatusDelete)">Set status as "Deleted"</option>
                        <option value="@((int)ExtraneousPropertyProcess.StatusArchive)">Set status as "Archived"</option>
                        <option value="@((int)ExtraneousPropertyProcess.LeaseStatusLetSold)">Mark as Let/Sold depeding on sale or rental</option>
                    </select>
                    <label asp-for="FTPImporterSettings.ExtraneousPropertyProcess"></label>
                    <small asp-for="FTPImporterSettings.ExtraneousPropertyProcess"></small>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="TriggerAuthKey" class="form-control" />
                    <label asp-for="TriggerAuthKey"></label>
                    <small asp-for="TriggerAuthKey"></small>
                </div>
                <div class="form-floating mb-3">
                    <select asp-for="FTPImporterSettings.Method" class="form-select">
                        <option value="@((int)PropertyImporterMethod.FtpBlm)">Download BLM file from remote FTP</option>
                        <option value="@((int)PropertyImporterMethod.Directory)">Load BLM file from local folder.</option>
                    </select>
                    <label asp-for="FTPImporterSettings.Method">Use FTP Service:</label>
                    <small asp-for="FTPImporterSettings.Method"></small>
                </div>
                <script asp-location="AfterScripts">
                    $('body').on('change', '#FTPImporterSettings_Method', function () {
                        $('[class*="method-"]').hide();
                        $('.method-' + $(this).val()).show();
                    });
                    $('[class*="method-"]').hide();
                    $('.method-' + $('#FTPImporterSettings_Method').val()).show();
                </script>
                <div class="card">
                    <div class="card-header border-dark bg-light mb-3">
                        <h6 class="m-0 @($"method-{(int)PropertyImporterMethod.Directory}")">
                            Local Directory Importer Settings
                        </h6>
                        <h6 class="m-0 @($"method-{(int)PropertyImporterMethod.FtpBlm}")">
                            FTP Importer Settings
                        </h6>
                    </div>
                    <div class="card-body p-4">
                        <div class="mb-3">
                            <div class="form-check form-switch">
                                <input asp-for="FTPImporterSettings.RequireUnzip" class="form-check-input">
                                <label asp-for="FTPImporterSettings.RequireUnzip" class="form-check-label d-block"></label>
                                <small asp-for="FTPImporterSettings.RequireUnzip"></small>
                            </div>
                        </div>
                        <div class="mb-3 @($"method-{(int)PropertyImporterMethod.FtpBlm}")">
                            <div class="form-check form-switch">
                                <input asp-for="FTPImporterSettings.RequireUnzip" class="form-check-input">
                                <label asp-for="FTPImporterSettings.RequireUnzip" class="form-check-label d-block"></label>
                                <small asp-for="FTPImporterSettings.RequireUnzip"></small>
                            </div>
                        </div>
                        <div class="form-floating mb-3 @($"method-{(int)PropertyImporterMethod.FtpBlm}")">
                            <input asp-for="FTPImporterSettings.Server" class="form-control" />
                            <label asp-for="FTPImporterSettings.Server"></label>
                            <small asp-for="FTPImporterSettings.Server"></small>
                        </div>
                        <div class="form-floating mb-3 @($"method-{(int)PropertyImporterMethod.FtpBlm}")">
                            <input asp-for="FTPImporterSettings.Username" class="form-control" />
                            <label asp-for="FTPImporterSettings.Username"></label>
                            <small asp-for="FTPImporterSettings.Username"></small>
                        </div>
                        <div class="form-floating mb-3 @($"method-{(int)PropertyImporterMethod.FtpBlm}")">
                            <input asp-for="FTPImporterSettings.Password" class="form-control" />
                            <label asp-for="FTPImporterSettings.Password"></label>
                            <small asp-for="FTPImporterSettings.Password"></small>
                        </div>
                        <div class="form-floating mb-3 @($"method-{(int)PropertyImporterMethod.Directory}")">
                            <input asp-for="FTPImporterSettings.LocalFolder" class="form-control" />
                            <label asp-for="FTPImporterSettings.LocalFolder"></label>
                            <small asp-for="FTPImporterSettings.LocalFolder"></small>
                        </div>
                        <div class="form-floating mb-3 @($"method-{(int)PropertyImporterMethod.FtpBlm}")  @($"method-{(int)PropertyImporterMethod.Directory}")">
                            <input asp-for="FTPImporterSettings.Filename" class="form-control" />
                            <label asp-for="FTPImporterSettings.Filename"></label>
                            <small asp-for="FTPImporterSettings.Filename"></small>
                        </div>
                        <div class="form-floating mb-3 @($"method-{(int)PropertyImporterMethod.Directory}")">
                            <input asp-for="FTPImporterSettings.ZipFile" class="form-control" />
                            <label asp-for="FTPImporterSettings.ZipFile"></label>
                            <small asp-for="FTPImporterSettings.ZipFile"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
