@{ 
    Layout = "_Layout";
}
@section styles {
    @RenderSection("styles", required: false)
}
@section metas {
    @RenderSection("metas", required: false)
}
<section class="hero">
    <fixedImage src="https://cdn.jsdelivr.net/npm/hoodcms@4.0.1/images/bg/4.jpg" class="background-image hood-image"></fixedImage>
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>@ViewData["Title"]</h1>
                    <p>@Html.Raw(ViewData["SubTitle"])</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    @RenderBody()
</section>
