@inject IContentRepository _content
@{
    Layout = null;
    IntegrationSettings _integrations = _settings.GetIntegrationSettings();
    var tweets = (await _content.GetTweets(_integrations.TwitterId, 6)).Select(t => new TwitterStatus(t));
}
<div class="row">
    @foreach (var tweet in tweets)
    {
        <div class="col-sm-6 col-md-4">
            <div class="tweet m-b-lg">
                <figure style="background-image:url(@tweet.AvatarUrl)" class="img img-full img-md avatar tweet">
                    <img src="@tweet.AvatarUrl" alt="Tweet by @tweet.Handle" />
                </figure>
                <div class="details">
                    <p>@Html.Raw(tweet.Html)</p>
                    <p>
                        <i class="fa fa-calendar m-r-sm"></i>@tweet.CreatedAt.ToShortDateString() via Twitter
                    </p>
                    <div class="buttons">
                        <a href="https://twitter.com/intent/retweet?tweet_id=@tweet.StatusId" target="_blank" class=""><i class="fa fa-retweet"></i></a>
                        <a href="https://twitter.com/intent/tweet?in_reply_to=@tweet.StatusId" target="_blank" class=""><i class="fa fa-reply"></i></a>
                        <a href="https://twitter.com/intent/favorite?tweet_id=@tweet.StatusId" target="_blank" class=""><i class="fa fa-star"></i></a>
                        <a href="https://twitter.com/@tweet.Handle" target="_blank" class="twitter-user">
                            <img src="@tweet.ProfileImageUrl" alt="" title="@tweet.DisplayName">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
