@model ContentModel

@if (Model.List.Count == 0)
{
    <partial name="_NoResults" />
}
else
{
    <div class="col-md-8 offset-md-2">
            @foreach (Content content in Model.List)
    {
        <blockquote class="blockquote d-flex align-items-center mb-5 mt-5">
            @{
                string jobTitle = content.GetMetaValue<string>("Content.Testimonial.JobTitle");
                string companyName = content.GetMetaValue<string>("Content.Testimonial.CompanyName");
            }
            @if (content.FeaturedImageJson.IsSet())
            {
                <div>
                    <fixedImage src="@content.FeaturedImage.MediumUrl" class="img img-sm mr-5" style="@content.GetImageStyle()"></fixedImage>
                </div>
            }
            <div class="flex-grow-1">
                <p class="mb-0">@content.Excerpt</p>
                <footer class="blockquote-footer">
                    @content.Title
                    @if (jobTitle.IsSet())
                    {
                        <small><cite title="@(jobTitle)">@(jobTitle)</cite></small>
                    }
                    @if (companyName.IsSet())
                    {
                        <small>from <cite title="@(companyName)">@(companyName)</cite></small>
                    }
                </footer>

            </div>
        </blockquote>
    }

    </div>
    <partial name="_Pagination" />
}
