@model Forum
@inject ForumCategoryCache _categories
<div class="card mb-3">
    <div class="card-header position-relative" id="forum-access-panel-heading">
        <p class="card-title m-0 font-weight-bold">
            <a class="stretched-link text-dark text-decoration-none" data-toggle="collapse" data-target="#forum-access-panel" href="#forum-access-panel" aria-expanded="true" aria-controls="forum-access-panel">
                URL &amp; Status
                <i class="fe fe-arrow-up mt-1"></i>
            </a>
        </p>
    </div>
    <div class="card-body collapse show" aria-labelledby="forum-access-panel-heading" id="forum-access-panel">
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input asp-for="Published" class="custom-control-input">
                <label asp-for="Published" class="custom-control-label"></label>
            </div>
            <small asp-for="Published"></small>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input asp-for="Featured" class="custom-control-input">
                <label asp-for="Featured" class="custom-control-label"></label>
            </div>
            <small asp-for="Featured"></small>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input asp-for="RequireTopicModeration" class="custom-control-input">
                <label asp-for="RequireTopicModeration" class="custom-control-label"></label>
            </div>
            <small asp-for="RequireTopicModeration"></small>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input asp-for="RequirePostModeration" class="custom-control-input">
                <label asp-for="RequirePostModeration" class="custom-control-label"></label>
            </div>
            <small asp-for="RequirePostModeration"></small>
        </div>
        <div class="form-group floating-label m-0">
            <label asp-for="Slug"></label>
            <input asp-for="Slug" class="form-control restrict-to-page-slug" value="@Model.Slug" />
            <small asp-for="Slug"></small>
        </div>
    </div>
    <div class="card-footer text-center">
        <p class="font-weight-bold m-0">URL Preview:</p>
        <p class="m-0">@Url.AbsoluteUrl()forum/<strong><span class="slug-display">@Model.Url.TrimStart('/')</span></strong></p>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header position-relative" id="forum-categories-panel-heading">
        <p class="card-title m-0 font-weight-bold">
            <a class="stretched-link text-dark text-decoration-none" data-toggle="collapse" data-target="#forum-categories-panel" href="#forum-categories-panel" aria-expanded="true" aria-controls="forum-categories-panel">
                Categories
                <i class="fe fe-arrow-up mt-1"></i>
            </a>
        </p>
    </div>
    <div class="card-body collapse p-0 show" aria-labelledby="forum-categories-panel-heading" id="forum-categories-panel">
        <div class="list-group list-group-flush">
            @{
                _categories.ResetCache();
            }
            @if (_categories.Count > 0)
            {
                @_categories.AddToCategoryTree(_categories.TopLevel(), Model)
            }
            else
            {
                <p class="text-center p-2">No categories added yet. To add a category, go back to the forum list and select Add Category on the categories panel.</p>
            }
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header position-relative" id="forum-author-panel-heading">
        <p class="card-title m-0 font-weight-bold">
            <a class="stretched-link text-dark text-decoration-none" data-toggle="collapse" data-target="#forum-author-panel" href="#forum-author-panel" aria-expanded="true" aria-controls="forum-author-panel">
                Author
                <i class="fe fe-arrow-up mt-1"></i>
            </a>
        </p>
    </div>
    <div class="card-body collapse show" aria-labelledby="forum-author-panel-heading" id="forum-author-panel">
        <div class="form-group floating-label">
            <label asp-for="AuthorId"></label>
            <select class="form-control" asp-for="AuthorId">
                @foreach (var author in Model.Authors)
                {
                    <option value="@author.Id">@author.UserName - @author.FirstName @author.LastName</option>
                }
            </select>
            <small asp-for="AuthorId"></small>
        </div>
    </div>
</div>
