@model ForumModel
@inject ForumCategoryCache _categories
@{
    Layout = null;
}

@if (Model.List.Count > 0)
{
    @foreach (var forum in Model.List)
    {
        <div class="card hover mb-3">
            <div class="row no-gutters align-items-stretch">
                <div class="col-2">
                    <a asp-action="Edit" asp-route-id="@forum.Id">
                        <fixedImage src="@forum.FeaturedImage.MediumUrl" class="img m-0 w-100 h-100 overflow-hidden" alt="@forum.Title"></fixedImage>
                    </a>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-action="Edit" asp-route-id="@forum.Id">@forum.Title</a>
                        </h5>
                        <p class="card-text mb-1">
                            @if (forum.Published)
                            {
                                <span class="badge badge-success">Published</span>
                            }
                            else
                            {
                                <span class="badge badge-warning">Archived</span>
                            }
                        </p>
                        <p class="card-text mb-1">
                            <small class="d-block">
                                Author:
                                <strong>@forum.Author.ToFullName()</strong>
                            </small>
                        </p>
                        <p class="card-text mb-1">
                            <small class="d-block">Created on <i class="fa fa-clock-o"></i> @forum.CreatedOn.ToDisplay()</small>
                            <small class="d-block font-bold"><a href="@forum.Url" target="_blank">@forum.Url</a></small>
                        </p>
                        <p class="card-text mb-0">
                            @if (forum.Categories.Count == 0)
                            {
                                <span class="badge badge-light">Not in a category.</span>
                            }
                            @foreach (var category in forum.Categories)
                            {
                                <span class="badge badge-light">@category.Category.DisplayName</span>
                            }
                        </p>
                    </div>
                </div>
                <div class="col-auto d-flex align-items-center">
                    <button type="button" class="btn btn-lg shadow-none v-middle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@forum.Id">
                            <i class="fa fa-edit mr-2"></i>
                            Edit
                        </a>
                        @if (forum.Published)
                        {
                            <a class="dropdown-item forum-publish" asp-action="Publish" asp-route-id="@forum.Id">
                                <i class="fa fa-eye-slash mr-2"></i>
                                Archive
                            </a>
                        }
                        else
                        {
                            <a class="dropdown-item forum-archive" asp-action="Archive" asp-route-id="@forum.Id">
                                <i class="fa fa-thumbs-up mr-2"></i>
                                Publish
                            </a>
                        }
                        <a class="dropdown-item" href="@forum.Url" target="_blank">
                            <i class="fa fa-search mr-2"></i>
                            Preview
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item forum-delete" asp-action="Delete" asp-route-id="@forum.Id">
                            <i class="fa fa-trash-alt mr-2"></i>
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    <partial name="_Pagination" />
}
else
{
        <alert type="Info" icon="fa-info" size="Epic" class="text-center m-0">
            There are no forums yet.
        </alert>
}
