@model Forum
@inject ForumCategoryCache _categories
@{
    ViewBag.Title = "Edit: " + Model.Title;
}
@section buttons {
    <a href="javascript:document.getElementById('forum-edit-form').submit()" class="btn btn-success"><i class="fa fa-save"></i> Save</a>
    <button type="button" class="btn btn-outline-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-ellipsis-h"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="@Model.Url" target="_blank"><i class="fa fa-search"></i>Preview</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item forum-delete" asp-action="Delete" asp-route-id="@Model.Id" data-redirect="@Url.Action("Index")"><i class="fa fa-trash-alt"></i> Delete</a>
    </div>
}
@section breadcrumbs {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a asp-action="Index" asp-controller="Home" asp-route-area="Admin">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <a asp-action="Index" asp-controller="Forum" asp-route-area="Admin">
                    <i class="fa fa-comments mr-2"></i>
                    Forums
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
}
@if (Model.SaveMessage.IsSet())
{
    <alert type="@Model.MessageType" size="Medium" icon="fa-save">@Model.SaveMessage</alert>
}
<form method="post" id="forum-edit-form" data-id="@Model.Id">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="NumTopics" />
    <input type="hidden" asp-for="NumPosts" />
    <input type="hidden" asp-for="ModeratedPostCount" />
    <input type="hidden" asp-for="CreatedOn" />
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="LastEditedOn" />
    <input type="hidden" asp-for="LastEditedBy" />
    <input type="hidden" asp-for="LastPosted" />
    <input type="hidden" asp-for="LastTopicId" />
    <input type="hidden" asp-for="LastPostId" />
    <input type="hidden" asp-for="LastUserId" />
    <input type="hidden" asp-for="LastUserName" />
    <input type="hidden" asp-for="LastUserDisplayName" />
    <input type="hidden" asp-for="UserVars" />
    <input type="hidden" asp-for="Notes" />
    <input type="hidden" asp-for="SystemNotes" />
    <input type="hidden" asp-for="Views" />
    <input type="hidden" asp-for="ShareCount" />
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <ul class="nav nav-tabs card-header-tabs" role="tablist" id="page-tabs">
                            <li class="nav-item active">
                                <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">
                                    Basics
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="viewing-tab" data-toggle="tab" href="#viewing" role="tab" aria-controls="viewing" aria-selected="false">
                                    Viewing Settings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="posting-tab" data-toggle="tab" href="#posting" role="tab" aria-controls="posting" aria-selected="false">
                                    Posting Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body p-4">
                    <div class="tab-content">
                        <partial name="_Editor_Info" model="Model" />
                        <partial name="_Editor_Settings" model="Model" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <partial name="_Editor_Sidebar" />
        </div>
    </div>
</form>
