@inject ISiteConfiguration _site
@model EditPropertyModel
@{
    ViewBag.Title = "Edit " + Model.Property.Title;
    PropertySettings _settings = _site.GetPropertySettings();
    PropertyListingApi mapi = _site.ToPropertyListingApi(Model.Property);
}
<div class="widget-head-color-box black-bg p-lg image-heading">
    <div class="m-b-md text-center">
        <h4 class="font-bold no-margins text-white">
            <span>@mapi.Title</span>
        </h4>
        <small>@Html.Raw(mapi.StatusString)</small>
    </div>
    <button type="submit" class="btn btn-success btn-block m-t-md"><i class="fa fa-save m-r-xs"></i> Save Property</button>
</div>
<div class="ibox float-e-margins">
    <div>
        <div class="ibox-content">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label pt-15">Share Image</label>
                    <div class="col-sm-8">
                        <fixedImage src="@mapi.FeaturedImage.SmallUrl" class="img-xs img-circle m-r-sm property-feature-@mapi.Id" id="property-blade-avatar" />
                        <attacher dataid="@mapi.Id" entity="PropertyListing" field="FeaturedImage" type="image" refresh="/admin/property/getmedia?type=FeaturedImage" tag="property-feature-@mapi.Id" title="Choose a featured image." class="btn btn-xs btn-primary">Choose...</attacher>
                        <a class="btn btn-xs btn-danger hood-inline-task" asp-action="ClearField" asp-controller="Property" asp-area="Admin" asp-route-id="@mapi.Id" data-complete="$.hood.Uploader.RefreshImage('.property-feature-@mapi.Id', '/admin/property/getmedia?type=FeaturedImage', @mapi.Id)"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>
            Agent / Publish Settings
        </h5>
    </div>
    <div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Agent</label>
                        <div>
                            <select class="form-control" data-selected="@Model.Property.AgentId" id="AgentId" name="AgentId">
                                @foreach (ApplicationUser author in Model.Agents)
                                {
                                    <option value="@author.Id">@author.UserName - @author.FirstName @author.LastName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Publish Status</label>
                        <div>
                            <select class="form-control" data-selected="@Model.Property.Status" id="Status" name="Status">
                                <option value="1">Draft</option>
                                <option value="2">Published</option>
                                <option value="3">Archived</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">PublishDate</label>
                                <div class="">
                                    <input class="datepicker form-control" id="PublishDate" name="PublishDate" value="@Model.Property.PublishDate.ToShortDateString()">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">Time</label>
                                <div>
                                    <select class="form-control half" id="PublishHour" name="PublishHour" data-selected="@Model.Property.PublishDate.Hour">
                                        @for (int i = 0; i < 24; i++)
                                        {
                                            <option value="@i">@i.ToString("00")</option>
                                        }
                                    </select>
                                    <select class="form-control half" id="PublishMinute" name="PublishMinute" data-selected="@Model.Property.PublishDate.Minute">
                                        @for (int i = 0; i < 60; i++)
                                        {
                                            <option value="@i">@i.ToString("00")</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="Views" class="control-label">View Count</label>
                        <div>
                            <input id="Views" name="Views" value="@Model.Property.Views" class="form-control" />
                            <input id="Views" name="Views" value="@Model.Property.ShareCount" class="form-control" type="hidden" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
