@model Log
<div class="data-item">
    <div class="row row-center">
        <div class="col-xs-1">
            <div>
                @switch (Model.Type)
                {
                    case LogType.Success:
                        <span class="label label-success">Success</span>
                        break;
                    case LogType.Error:
                        <span class="label label-danger">Error</span>
                        break;
                    case LogType.Warning:
                        <span class="label label-warning">Warning</span>
                        break;
                    case LogType.Info:
                        <span class="label label-info">Info</span>
                        break;
                }
            </div>
        </div>
        <div class="col-xs-1">
            <div>
                <span class="label label-default">@Model.Source</span>
            </div>
        </div>
        <div class="col-xs-3">
            <div>@Model.Time.ToDisplay()</div>
        </div>
        <div class="col-md-6">
            <div><strong>@Model.Title</strong></div>
        </div>
        <a data-toggle="collapse" href="@string.Format("#log-{0}", Model.Id)" class="full-box-link"></a>
    </div>
    <div class="collapse" id="@string.Format("log-{0}", Model.Id)">
        <div class="well m-t-lg">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Log</label>
                    <div class="col-sm-6">
                        <p class="form-control-static">
                            @Model.Title
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Severity</label>
                    <div class="col-sm-6">
                        <p class="form-control-static">
                            @switch (Model.Type)
                            {
                                case LogType.Success:
                                    <span class="label label-success">Success</span>
                                    break;
                                case LogType.Error:
                                    <span class="label label-danger">Error</span>
                                    break;
                                case LogType.Warning:
                                    <span class="label label-warning">Warning</span>
                                    break;
                                case LogType.Info:
                                    <span class="label label-info">Info</span>
                                    break;
                            }
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Date &amp; Time</label>
                    <div class="col-sm-6">
                        <p class="form-control-static">@Model.Time.ToDisplay()</p>
                    </div>
                </div>
                @if (Model.Detail.IsSet())
                {
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Detail</label>
                        <div class="col-sm-6">
                            <textarea rows="10" class="form-control select-text" readonly="readonly" style="font-family:monospace;">@Html.Raw(Model.Detail.ToFormattedJson())</textarea>
                        </div>
                    </div>
                }
                @if (Model.User != null)
                {
                    <div class="form-group">
                        <label class="col-sm-4 control-label">User</label>
                        <div class="col-sm-6">
                            <p class="form-control-static">
                                <a asp-action="Edit" asp-controller="Users" asp-route-id="@Model.User.Id">
                                    @Model.User.FullName
                                </a>
                            </p>
                        </div>
                    </div>
                }
                @if (Model.SourceUrl.IsSet())
                {
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Source</label>
                        <div class="col-sm-6">
                            <p class="form-control-static">
                                <a href="@Model.SourceUrl">
                                    @Model.SourceUrl
                                </a>
                            </p>
                        </div>
                    </div>
                }
                @if (Model.EntityType.IsSet())
                {
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Source</label>
                        <div class="col-sm-6">
                            <p class="form-control-static">
                                @Model.EntityType
                            </p>
                        </div>
                    </div>
                }
                @if (Model.EntityId.IsSet())
                {
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Source Id</label>
                        <div class="col-sm-6">
                            <p class="form-control-static">
                                @Model.EntityId
                            </p>
                        </div>
                    </div>
                }
                @switch (Model.Source)
                {
                    case LogSource.Api:
                        await Html.RenderPartialAsync("_Log_Api");
                        break;
                    case LogSource.Subscriptions:
                        await Html.RenderPartialAsync("_Log_Subscription");
                        break;
                    default:
                        break;
                }
            </div>
        </div>
    </div>
</div>
