@model ContactFormModel
@{
    ContactSettings _contactSettings = _settings.GetContactSettings();
    IntegrationSettings _integrationSettings = _settings.GetIntegrationSettings();
}
<form method="post"
      role="form"
      id="contact-form"
      class="contact-form"
      asp-action="ProcessContactForm"
      asp-controller="Hood"
      data-redirect="@_contactSettings.ThankYouUrl"
      data-alert-message="@_contactSettings.ThankYouMessage">
    @Html.RenderHoneypotField()
    <div class="thank-you">
        <h2>@_contactSettings.ThankYouTitle</h2>
        <p>@_contactSettings.ThankYouMessage</p>
    </div>
    <div class="form">
        <h2>@_contactSettings.ContactFormTitle</h2>
        <p>@_contactSettings.ContactFormMessage</p>
        <div asp-validation-summary="All" class="validation-summary"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" placeholder="Your name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" placeholder="Your e-mail address" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" placeholder="Your phone number" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Subject" class="control-label"></label>
            <input asp-for="Subject" class="form-control" placeholder="Subject" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Enquiry" class="control-label"></label>
            <textarea asp-for="Enquiry" class="form-control" placeholder="Your enquiry"></textarea>
            <span asp-validation-for="Enquiry" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                @if (_integrationSettings.EnableGoogleRecaptcha)
                {
                    <div class="g-recaptcha" id="contact-form-captcha"
                         data-target="#contact-form"
                         data-sitekey="@_integrationSettings.GoogleRecaptchaSiteKey"
                         data-size="normal">
                    </div>
                }
                else
                {
                }
                <button class="btn btn-md btn-primary form-full" type="submit">Send Message</button>
            </div>
        </div>
    </div>
</form>
