@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment _env
@{     
    bool production = _env.EnvironmentName == "Production";
}
<!DOCTYPE html>
<html lang="en-gb" xml:lang="en">
<head>

    <partial name="_Metas_Base" />
    <title>@ViewData["Title"]</title>

    @Html.Raw(Engine.Settings.Seo.HeadTags)

    @if (!IsSectionDefined("metas"))
    {
        <partial name="_Metas" />
    }
    @RenderSection("metas", required: false)

    @Html.RenderScripts(Url, ResourceLocation.BeforeCss)
    @Html.RenderInlineScripts(Url, ResourceLocation.BeforeCss)

    <partial name="_Styles" />
    @RenderSection("styles", required: false)

    @Html.RenderScripts(Url, ResourceLocation.AfterCss)
    @Html.RenderInlineScripts(Url, ResourceLocation.AfterCss)

</head>
<body class="@(!production ? "dev-mode" : "")">
    @Html.Raw(Engine.Settings.Seo.BodyTags)

    @RenderSection("afterbody", required: false)

    <partial name="_NoScript" />

    @RenderSection("beforecontent", required: false)

    @if (User.Identity.IsAuthenticated && !Engine.Account.EmailConfirmed && Engine.Settings.Account.RequireEmailConfirmation)
    {
        <div class="alert alert-warning border-0 rounded-0 m-0">
            <div class="d-flex align-items-center">
                <div>Your account is not confirmed. Click <a asp-action="ResendConfirm" asp-controller="Account">here</a> to resend confirmation email.</div>
            </div>
        </div>
    }

    <div class="wrapper" id="wrapper">
        @await Component.InvokeAsync(nameof(Hood.ViewComponents.Header))
        @RenderBody()
    </div>

    @RenderSection("beforefooter", required: false)
    <partial name="_Footer" />

    @RenderSection("afterfooter", required: false)
    <partial name="_AdminEditor" />

    @RenderSection("includes", required: false)


    @Html.RenderScripts(Url, ResourceLocation.BeforeScripts, production)
    @Html.RenderInlineScripts(Url, ResourceLocation.BeforeScripts)

    <partial name="_Scripts" />

    @Html.RenderScripts(Url, ResourceLocation.AfterScripts, production)
    @Html.RenderInlineScripts(Url, ResourceLocation.AfterScripts)

    @RenderSection("scripts", required: false)

    @Html.Raw(Engine.Settings.Seo.GoogleAnalytics)
</body>
</html>
