@{
    BasicSettings _basicSettings = Engine.Settings.Basic;
    SeoSettings _seoSettings = Engine.Settings.Seo;

    var pageTitle = ViewData["PageTitle"] as string;
    if (pageTitle.IsSet())
    {
        ViewData["Title"] += " - " + pageTitle;
    }
}
<!DOCTYPE html>
<html lang="en-gb" xml:lang="en">
<head>

    <partial name="_Metas_Base" />
    <title>@ViewData["Title"]</title>

    @Html.Raw(_seoSettings.HeadTags)

    @if (!IsSectionDefined("metas"))
    {
        <partial name="_Metas" />
    }
    @RenderSection("metas", required: false)

    @Html.RenderScripts(Url, ResourceLocation.BeforeCss)
    @Html.RenderInlineScripts(Url, ResourceLocation.BeforeCss)

    <partial name="_Styles" />
    @RenderSection("styles", required: false)

    @Html.RenderScripts(Url, ResourceLocation.AfterCss)
    @Html.RenderInlineScripts(Url, ResourceLocation.AfterCss)

</head>
<body class="@ViewData["BodyClass"]">
    @Html.Raw(_seoSettings.BodyTags)

    @RenderSection("afterbody", required: false)
    @RenderSection("beforecontent", required: false)

    <div class="wrapper" id="wrapper">
        <partial name="_Header" />
        @RenderBody()
    </div>

    @RenderSection("beforefooter", required: false)
    <partial name="_Footer" />

    @RenderSection("afterfooter", required: false)
    <partial name="_AdminEditor" />

    @RenderSection("includes", required: false)

    @Html.RenderScripts(Url, ResourceLocation.BeforeScripts)
    @Html.RenderInlineScripts(Url, ResourceLocation.BeforeScripts)

    <partial name="_Scripts" />

    @Html.RenderScripts(Url, ResourceLocation.AfterScripts)
    @Html.RenderInlineScripts(Url, ResourceLocation.AfterScripts)

    @RenderSection("scripts", required: false)

    @Html.Raw(_seoSettings.GoogleAnalytics)
</body>
</html>
