@model PropertyListModel
@{
    ViewData["Title"] = "Properties";
    Layout = "_Layout_Property";

    SeoSettings _seoSettings = Engine.Settings.Seo;
    BasicSettings _basicSettings = Engine.Settings.Basic;
    PropertySettings _propertySettings = Engine.Settings.Property;
    IntegrationSettings _plugins = Engine.Settings.Integrations;

    string url = Context.GetSiteUrl(true, true);
    if (_seoSettings.CanonicalUrl.IsSet())
    {
        url = string.Format("{0}{1}", _seoSettings.CanonicalUrl.TrimEnd('/'), Context.Request.Path);
    }

    bool maps = _plugins.GoogleMapsApiKey.IsSet() && (_plugins.EnableGoogleMaps || _plugins.EnableGoogleGeocoding);
}

@section metas {
    <meta name="description" content="Have a look a our properties, there are plenty to have a look at!" />
    <meta property="og:author" content="@_seoSettings.OgAuthor" />
    <meta property="og:title" content="Properties - @_basicSettings.FullTitle" />
    <meta property="og:image" content="@_seoSettings.OgImageUrl" />
    <meta property="og:image:secure_url" content="@_seoSettings.OgSecureImageUrl" />
    <meta property="og:description" content="Have a look a our properties, there are plenty to have a look at!" />
    <meta name="twitter:title" content="Properties - @_basicSettings.FullTitle" />
    <meta name="twitter:description" content="Have a look a our properties, there are plenty to have a look at!" />
    <meta name="twitter:image" content="@_seoSettings.TwitterCardImageUrl" />
}
<div class="container d-flex justify-content-between" id="page-tabs" data-hood-tabs="@($"tabs-page-property")">
    <ul class="nav nav-pills mt-3 mb-3">
        @if (maps)
        {
            <li class="nav-item mr-3">
                <a class="nav-link active" href="#map" aria-controls="map" role="tab" data-bs-toggle="tab"><i class="fa fa-map text-orange me-2"></i>Map View</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" href="#list" aria-controls="list" role="tab" data-bs-toggle="tab"><i class="fa fa-list text-orange me-2"></i>List View</a>
        </li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg">
            <div class="pt-5 pb-5">
                <div class="tab-content">
                    @if (maps)
                    {
                        <div role="tabpanel" class="tab-pane active show" id="map">
                            <div id="property-map" style="min-height:75vh;"
                                 data-lat="52.953926"
                                 data-long="-1.148921"
                                 data-zoom="13"
                                 data-scrollwheel="false">
                            </div>
                            <div id="property-map-list" data-url="/properties/map"></div>
                        </div>
                    }
                    <div role="tabpanel" class="tab-pane" id="list">
                        <div id="property-list" data-url="/properties/list"><partial name="_List_Properties" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 order-first order-lg-last col-lg-4 col-xxl-3 offset-xxl-1">
            <partial name="_Filters_Properties" />
        </div>
    </div>
</div>
@if (maps)
{
    <script asp-location="AfterScripts" async defer src="@string.Format("https://maps.googleapis.com/maps/api/js?key={0}&callback=hood.property.initMap{1}", _plugins.GoogleMapsApiKey, _plugins.EnableGoogleGeocoding ? "&libraries=places" : "")"></script>
}
