@inject ISiteConfiguration _site
@{
    BasicSettings _info = _site.GetBasicSettings();
    SeoSettings _meta = _site.GetSeo();
    IntegrationSettings _plugins = _site.GetIntegrationSettings();
    ContactSettings _settings = _site.GetContactSettings();
    Layout = "_Layout";
    ContentApi currentContent = ViewData["Content"] as ContentApi;
}
@section styles {
    @RenderSection("styles", required: false)
}
@section includes {
    @RenderSection("includes", required: false)
}
@section scripts {
    @RenderSection("scripts", required: false)
}
@section metas {
    @RenderSection("metas", required: false)
}
<div class="jumbotron">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        @if (currentContent != null)
        {
            <p>@currentContent.Excerpt</p>
        }
        else
        {
            <p>@ViewData["SubTitle"]</p>
        }
    </div>
</div>
<section class="container">
    @RenderBody()
</section>
@if (_plugins.EnableGoogleMaps && _plugins.GoogleMapsApiKey.IsSet())
{
    <div class="img-lg img-full google-map" data-lat="@_info.Address?.Latitude" data-long="@_info.Address?.Longitude" data-marker="@_site.GetSiteTitle()" data-zoom="12"></div>
}
<div class="bg-color-light-grey">
    <div class="container">
        <div class="m-t-lg m-b-lg">
            @{ await Html.RenderPartialAsync("_ContactForm", new ContactFormModel(true, true)); }
        </div>
    </div>
</div>


