@inject ISiteConfiguration _site
@inject IContentRepository _content
@model HeaderModel
@{
    BasicSettings _info = _site.GetBasicSettings();
    AccountInfo _account = Context.GetAccountInfo();
    ApplicationUserApi uapi = _site.ToApplicationUserApi(Model.User);
}
<header class="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    @_info.SiteTitle
                </a>
            </div>

            <div class="collapse navbar-collapse" id="site-navbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a asp-action="Index" asp-controller="Subscriptions">Member's Area</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Content <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @{
                                var settings = _site.GetPropertySettings();
                                var sideTypes = _site.GetContentSettings().GetAllowedTypes();
                                if (settings.Enabled)
                                {
                                    sideTypes.Add(new ContentType() { Type = "property", Title = settings.Title, TypeNamePlural = settings.Plural, Slug = settings.Slug, IsPublic = true });
                                }
                                sideTypes = sideTypes.OrderBy(t => t.TypeNamePlural).ToList();
                            }
                            @foreach (ContentType ct in sideTypes)
                            {
                                if (ct.IsPublic)
                                {
                                    <li><a href="@string.Format("/{0}/", ct.Slug)">@ct.Title</a></li>
                                }
                            }
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user m-r-xs"></i>Account <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="media p-md">
                                        <div class="media-left">
                                            <fixedImage src="@uapi.Avatar.SmallUrl" class="img-xs img-circle sidebar-avatar @string.Format("avatar-{0}", uapi.Id)" />
                                        </div>
                                        <div class="media-body media-middle">
                                            Logged in as<br />
                                            <strong class="font-bold">@uapi.FullName</strong>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                @if (_site.BillingEnabled().Succeeded)
                                {
                                    <li><a asp-action="Index" asp-controller="Billing"><i class="fa fa-money"></i>Billing</a></li>
                                    @if (_site.SubscriptionsEnabled().Succeeded)
                                    {
                                        <li><a asp-action="Index" asp-controller="Subscriptions"><i class="fa fa-user-plus"></i>Members Area</a></li>
                                        @if (_account.HasTieredSubscription)
                                        {
                                            <li><a asp-action="Change" asp-controller="Subscriptions"><i class="fa fa-random"></i>Modify your Subscription</a></li>
                                        }
                                    }
                                }
                                <li>
                                    <a asp-action="Profile" asp-controller="Manage">
                                        <i class="fa fa-id-card m-r-xs"></i>Your Profile
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Manage">
                                        <i class="fa fa-cogs m-r-xs"></i>Manage Account
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="ChangePassword" asp-controller="Manage">
                                        <i class="fa fa-lock m-r-xs"></i>Change Password
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <form asp-controller="Account" asp-action="LogOff" asp-area="" method="post" id="logoutForm" class="navbar-right"></form>
                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        <i class="fa fa-sign-out m-r-xs"></i>Log out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="Login" asp-controller="Account"><i class="fa fa-lock m-r-xs"></i>Login</a>
                        </li>
                        <li>
                            <a asp-action="Register" asp-controller="Account"><i class="fa fa-user-plus m-r-xs"></i>Sign up</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>