@{
    Layout = "_Layout";
    Content currentContent = ViewData["Content"] as Content;
}
@section styles {
    @RenderSection("styles", required: false)
}
@section includes {
    @RenderSection("includes", required: false)
}
@section metas {
    @RenderSection("metas", required: false)
}
<section class="hero">
    @if (currentContent != null)
    {
        <fixedImage src="@currentContent.FeaturedImage.Url" class="background-image hood-image"></fixedImage>
    }
    else
    {
        <fixedImage src="https://source.unsplash.com/random" class="background-image hood-image"></fixedImage>
    }
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>@ViewData["Title"]</h1>
                    @if (currentContent != null)
                    {
                        <p>@currentContent.Excerpt</p>
                    }
                    else
                    {
                        <p>@ViewData["SubTitle"]</p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    @RenderBody()
</section>



