@model PropertyListing
@{
    PropertySettings _propertySettings = Engine.Settings.Property;
}
<div class="panel-body">
    <h4 class="font-bold text-center">
        <span>@Model.Title</span>
    </h4>
    <p class="text-center">
        <small>@Html.Raw(Model.StatusString)</small>
    </p>
    <p>
        <button type="submit" class="btn btn-success btn-block m-t-md"><i class="fa fa-save m-r-xs"></i> Save Property</button>
    </p>
</div>
<div class="panel-body small">
    <h4>
        Images
    </h4>
    <div class="form-horizontal">
        <div class="form-group no-margin">
            <label class="col-sm-4 control-label pt-15">Share Image</label>
            <div class="col-sm-8">
                <input type="hidden" asp-for="FeaturedImageJson" />
                <fixedImage src="@Model.FeaturedImage.SmallUrl" class="img-xs img-circle m-r-sm property-feature-@Model.Id" id="property-blade-avatar" />
                <attacher dataid="@Model.Id" entity="PropertyListing" field="FeaturedImage" type="image" refresh="/admin/property/getmedia?type=FeaturedImage" tag="property-feature-@Model.Id" data-json="FeaturedImageJson" title="Choose a featured image." class="btn btn-xs btn-primary">Choose...</attacher>
                <a class="btn btn-xs btn-danger hood-inline-task" asp-action="ClearField" asp-controller="Property" asp-area="Admin" asp-route-id="@Model.Id" data-complete="$.hood.Uploader.RefreshImage('.property-feature-@Model.Id', '/admin/property/getmedia?type=FeaturedImage', @Model.Id)"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="panel-body small">
    <h4>
        Agent / Publish Settings
    </h4>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="control-label">Agent</label>
                <div>
                    <select class="form-control" data-selected="@Model.AgentId" id="AgentId" name="AgentId">
                        @foreach (ApplicationUser author in Model.AvailableAgents)
                                {
                                <option value="@author.Id">@author.UserName - @author.FirstName @author.LastName</option>
                                }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="control-label">Publish Status</label>
                <div>
                    <select class="form-control" data-selected="@Model.Status" id="Status" name="Status">
                        <option value="1">Draft</option>
                        <option value="2">Published</option>
                        <option value="3">Archived</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Publish Date</label>
                        <div class="">
                            <input class="datepicker form-control" id="PublishDate" name="PublishDate" value="@Model.PublishDate.ToShortDateString()">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Time</label>
                        <div>
                            <select class="form-control half" id="PublishHour" name="PublishHour" data-selected="@Model.PublishDate.Hour">
                                @for (int i = 0; i < 24; i++)
                                        {
                                        <option value="@i">@i.ToString("00")</option>
                                        }
                            </select>
                            <select class="form-control half" id="PublishMinute" name="PublishMinute" data-selected="@Model.PublishDate.Minute">
                                @for (int i = 0; i < 60; i++)
                                        {
                                        <option value="@i">@i.ToString("00")</option>
                                        }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group no-margin">
                <label for="Views" class="control-label">View Count</label>
                <div>
                    <input id="Views" name="Views" value="@Model.Views" class="form-control" />
                    <input id="Views" name="Views" value="@Model.ShareCount" class="form-control" type="hidden" />
                </div>
            </div>
        </div>
    </div>
</div>
