@model PropertyListing
@{
    Layout = null;
}
@if (Model.Media != null)
{
    <div class="media-list row">
        @foreach (var media in Model.Media)
        {
            <div class="col-xs-6 col-sm-3 col-lg-2">
                <div class="thumbnail text-center">
                    <fixedImage src="@media.Icon" class="img img-full img-square"></fixedImage>
                    <div class="caption">
                        <p class="no-wrap">
                            <small>@media.Filename</small>
                        </p>
                        <p class="no-margin">
                            @if (media.GeneralFileType == "Image")
                            {
                                <a class="btn btn-xs btn-success" asp-action="SetFeatured" asp-route-id="@Model.Id" asp-route-mediaId="@media.Id">Set as featured</a>
                            }                            
                            <a class="btn btn-xs btn-danger warning-alert" data-warning="Are you sure you want to delete this image permanently?" asp-action="RemoveMedia" asp-route-id="@Model.Id" asp-route-mediaId="@media.Id"><i class="fa fa-trash"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}
