@model ContentSettings
@{
    Layout = "_SettingsLayout";
    ViewData["Title"] = "Content Settings";
}
@section buttons {
    <a asp-action="ResetContent" class="btn btn-danger warning-alert" data-warning="This will completely reset these settings to their default state, are you sure!?"><i class="fa fa-refresh"></i> Reset to Default</a>
}
@section description {
    Use this page to manage what content types are available on your site.
    <!-- Nav tabs -->
    <ul class="nav nav-pills nav-stacked m-t-lg" role="tablist">
        @for (int i = 0; i < Model.Types.Count(); i++)
        {
            <li role="presentation">
                <a href="@string.Format("#collapse_{0}", i.ToString())" aria-controls="@string.Format("collapse_{0}", i.ToString())" role="tab" data-toggle="tab">
                    @if (Model.Types[i].Enabled)
                    {
                        <span class="pull-right label label-success"><i class="fa fa-thumbs-up m-r-xs"></i></span>
                    }
                    else
                    {
                        <span class="pull-right label label-danger"><i class="fa fa-thumbs-down m-r-xs"></i></span>
                    }
                    @Model.Types[i].Title
                </a>
            </li>
        }
    </ul>
}
<div class="tab-content">
    @for (int i = 0; i < Model.Types.Count(); i++)
    {
        <div role="tabpanel" class="tab-pane" id="@string.Format("collapse_{0}", i.ToString())">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="@string.Format("#type_{0}", i.ToString())">Type Settings</a></li>
                    <li><a data-toggle="tab" href="@string.Format("#editor_{0}", i.ToString())">Editor Settings</a></li>
                    <li><a data-toggle="tab" href="@string.Format("#meta_{0}", i.ToString())">Default Meta Titles</a></li>
                    <li><a data-toggle="tab" href="@string.Format("#fields_{0}", i.ToString())">Custom Fields</a></li>
                </ul>
                <div class="tab-content">
                    <div id="@string.Format("type_{0}", i.ToString())" class="tab-pane active">
                        <div class="panel-body">
                            <strong>Type Settings</strong>
                            <p>
                                Here you can set what types of content you want to show up on the website. You can activate them as full sections or simply as types to be shown in custom areas.
                            </p>
                        </div>
                        <div class="panel-body">
                            <fieldset class="form-horizontal">
                                <input type="hidden" asp-for="Types[i].Search" />
                                <input type="hidden" asp-for="Types[i].BaseName" />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Enabled:</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <input asp-for="Types[i].Enabled" class="styled">
                                            <label asp-for="Types[i].Enabled">Enable this content type for use on the site.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Base Type (System):</label>
                                    <div class="col-sm-9">
                                        @if (Model.Types[i].BaseName == "Page")
                                        {
                                            <input asp-for="Types[i].BaseName" class="form-control" type="hidden">
                                            <input asp-for="Types[i].BaseName" class="form-control" disabled>
                                        }
                                        else
                                        {
                                            <select asp-for="Types[i].BaseName" class="form-control">
                                                <option value="Blank">Blank</option>
                                                <option value="Slider">Slider</option>
                                                <option value="Event">Event</option>
                                                <option value="Client">Client</option>
                                                <option value="News">News</option>
                                                <option value="Team">Team</option>
                                                <option value="Testimonial">Testimonial</option>
                                                <option value="Portfolio">Portfolio</option>
                                                <option value="Product">Product</option>
                                            </select>
                                        }
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Url Slug:</label>
                                    <div class="col-sm-9">
                                        @if (Model.Types[i].BaseName == "Page")
                                        {
                                            <input asp-for="Types[i].Slug" class="form-control" type="hidden">
                                            <input asp-for="Types[i].Slug" class="form-control" disabled>
                                        }
                                        else
                                        {
                                            <input asp-for="Types[i].Slug" class="form-control restrict-to-slug" @(Model.Types[i].BaseName == "Page" ? "disabled" : "") />
                                            <p class="no-margin m-l-xs text-warning"><small><b>&nbsp;NOTE: Only use lowercase letters, no spaces.<br />&nbsp;<span class="text-danger">WARNING: changing this will affect external linking.</span></b></small></p>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Section Title:</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Types[i].Title" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Type Name:</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Types[i].TypeName" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Plural Name:</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Types[i].TypeNamePlural" class="form-control" />
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Type Variable:</label>
                                    <div class="col-sm-9">
                                        @if (Model.Types[i].BaseName == "Page")
                                        {
                                            <input asp-for="Types[i].Type" class="form-control" type="hidden">
                                            <input asp-for="Types[i].Type" class="form-control" disabled>
                                        }
                                        else
                                        {
                                            <input asp-for="Types[i].Type" class="form-control restrict-to-slug" @(Model.Types[i].BaseName == "Page" ? "disabled" : "") />
                                            <p class="no-margin m-l-xs text-warning"><small><b>&nbsp;NOTE: This is how your type is stored in the database. <br />&nbsp;<span class="text-danger">WARNING: Changing this will affect external linking, and may cause data loss.</span></b></small></p>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Icon:</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Types[i].Icon" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Is Public:</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <input asp-for="Types[i].IsPublic" class="styled" />
                                            <label asp-for="Types[i].IsPublic">Show a page list or grid page showing all types, with search etc. for this type.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Has a Page:</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <input asp-for="Types[i].HasPage" class="styled" />
                                            <label asp-for="Types[i].HasPage">Show individual pages for each record of this type.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Cached By Type:</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <input asp-for="Types[i].CachedByType" class="styled" />
                                            <label asp-for="Types[i].CachedByType">Cache this type for speedy reuse.</label>
                                        </div>
                                        <p><small>Only recommended for items that are rendered a lot, not recommended on large content sets such as news.</small></p>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div id="@string.Format("editor_{0}", i.ToString())" class="tab-pane">
                        <div class="panel-body">
                            <strong>Editor Settings: @Model.Types[i].Title</strong>
                            <p>
                                Here you can set what types of content you want to show up on the website. You can activate them as full sections or simply as types to be shown in custom areas.
                            </p>
                        </div>
                        <div class="panel-body">
                            <fieldset class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Title Field Name:</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Types[i].TitleName" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Excerpt Field Name:</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Types[i].ExcerptName" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Multi-Line Excerpt:</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <input asp-for="Types[i].MultiLineExcerpt" class="styled">
                                            <label asp-for="Types[i].MultiLineExcerpt">Set whether or not the excerpt field allows multi-line text.</label>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Url Formatting:</label>
                                    <div class="col-sm-9">
                                        <select asp-for="Types[i].UrlFormatting" class="form-control">
                                            <option value="">Default</option>
                                            <option value="news">News with Slug</option>
                                            <option value="news-title">News with Title</option>
                                        </select>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Enable Templates:</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <input asp-for="Types[i].Templates" class="styled">
                                            <label asp-for="Types[i].Templates">Enable templates for this type, you can select a template to use for the view of the type.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Template Folder:</label>
                                    <div class="col-sm-9">
                                        <select asp-for="Types[i].TemplateFolder" class="form-control">
                                            <option value="Templates">General Templates</option>
                                            <option value="SliderTemplates">Slider Templates</option>
                                        </select>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Enable Image:</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <input asp-for="Types[i].ShowImage" class="styled">
                                            <label asp-for="Types[i].ShowImage">Enable the featured image field.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Enable Banner:</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <input asp-for="Types[i].ShowBanner" class="styled">
                                            <label asp-for="Types[i].ShowBanner">Enable the banner image field.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Enable Image Gallery:</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <input asp-for="Types[i].Gallery" class="styled">
                                            <label asp-for="Types[i].Gallery">Enable the image gallery uploads.</label>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Enable Categories:</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <input asp-for="Types[i].ShowCategories" class="styled">
                                            <label asp-for="Types[i].ShowCategories">Allow categories on this type, users can add categories and assign items to them.</label>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Enable Designer:</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <input asp-for="Types[i].ShowDesigner" class="styled">
                                            <label asp-for="Types[i].ShowDesigner">Enables the inline designer (BETA). This allows the editing of content while viewing it.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Enable Preview Panel:</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <input asp-for="Types[i].ShowPreview" class="styled">
                                            <label asp-for="Types[i].ShowPreview">Show the preview panel in the editor, allows you preview the type on various screen sizes while editing.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Enable HTML Editor:</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <input asp-for="Types[i].ShowEditor" class="styled">
                                            <label asp-for="Types[i].ShowEditor">Enable a rich text editor on the content body, otherwise no editor will show.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">HTML Editor Type:</label>
                                    <div class="col-sm-9">
                                        <select asp-for="Types[i].EditorType" class="form-control">
                                            <option value="simple">Simple</option>
                                            <option value="full">Full</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div id="@string.Format("meta_{0}", i.ToString())" class="tab-pane">
                        <div class="panel-body">
                            <strong>Default Meta Titles</strong>
                            <p>
                                Here you can set what types of content you want to show up on the website. You can activate them as full sections or simply as types to be shown in custom areas.
                            </p>
                        </div>
                        <div class="panel-body">
                            <fieldset class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Title (Meta):</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Types[i].MetaTitle" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Description (Meta):</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Types[i].Description" class="form-control" />
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div id="@string.Format("fields_{0}", i.ToString())" class="tab-pane">
                        <div class="panel-body">
                            <strong>Custom Fields</strong>
                            <p>
                                Here you can add extra fields to the content type, that can be used to display data in templates etc.
                            </p>
                        </div>
                        <div class="panel-body">
                            <input asp-for="Types[i].CustomFieldsJson" type="hidden" id="fields-@i" value="@Model.Types[i].CustomFieldsJson" />
                            <fieldset class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Name:</label>
                                    <div class="col-sm-9">
                                        <input id="custom-field-name-@i" type="text" class="form-control restrict-to-slug" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Type:</label>
                                    <div class="col-sm-9">
                                        <select id="custom-field-type-@i" type="text" class="form-control">
                                            <option value="System.String">Single Line Text</option>
                                            <option value="Hood.MultiLineString">Multi-Line Text</option>
                                            <option value="Hood.WYSIWYG">Multi-Line Text (WYSIWYG)</option>
                                            <option value="Hood.ImageUrl">Image (Url)</option>
                                            <option value="System.DateTime">Date/Time</option>
                                            <option value="System.Int32">Integer</option>
                                            <option value="System.Double">Decimal Number</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Default Value:</label>
                                    <div class="col-sm-9">
                                        <input id="custom-field-default-@i" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                        <a class="btn btn-primary add-custom-field" data-id="@i">Add Field</a>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                        <div class="panel-body">
                            @if (Model.Types[i].CustomFields?.Count > 0)
                            {
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td><strong>Existing Fields</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody id="field-list-@i">
                                        @foreach (var floor in Model.Types[i].CustomFields)
                                        {
                                            <tr>
                                                <td class="col-xs-8"><strong>@floor.Name</strong> @floor.Type</td>
                                                <td class="col-xs-4 text-right">
                                                    @if (!floor.System)
                                                    {
                                                        <a class="delete-custom-field btn btn-xs bg-color-red txt-color-white" data-name="@floor.Name" data-id="@i"><i class='fa fa-trash-o'></i></a>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-default">System Field</span>
                                                    }
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td><strong>Existing Fields</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody id="field-list-@i">
                                        <tr><td colspan="2" class="p-lg text-center">No fields have been added yet.</td></tr>
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div role="tabpanel" class="tab-pane active" id="#types-home">
        <br />
        <br />
        <div class="alert alert-info text-center">
            <h1>Choose a content type to edit.</h1>
            <p>Select a content type to edit on the right...</p>
            <br />
            <br />
        </div>
    </div>
</div>
