@{ 
    Layout = "_Layout";
}
@section styles {
    @RenderSection("styles", required: false)
}
@section scripts {
    @RenderSection("scripts", required: false)
}
@section metas {
    @RenderSection("metas", required: false)
}
<div class="jumbotron">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        @if (ViewData["SubTitle"] != null) {
            <p>@ViewData["SubTitle"]</p>
        }
    </div>
</div>
<section class="container">
    @RenderBody()
</section>
