@model ApplicationUser
<div class="row">
    <div class="col-md-4">
        <div class="media">
            <div class="media-left media-middle">
                <fixedImage src="@Model.Avatar?.SmallUrl" class="img-xs pull-left m-r-sm" />
            </div>
            <div class="media-body">
                <a class="forum-item-title" href="/admin/users/edit/@Model.Id">@Model.UserName <small>@Model.ToFullName()</small></a>
                <small>Last logged in from <strong>@Model.LastLoginLocation</strong> <i class="fa fa-clock-o"></i> @Model.LastLogOn.ToDisplay()</small>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <strong>Active Subscriptions</strong>
        @if (Model.Subscriptions.Count > 0)
        {
            foreach (var sub in Model.Subscriptions.Where(s => s.Status == "active" || s.Status == "trialing"))
            {
                <ul>
                    <li>
                        <p>
                            @sub.StripeId -
                            @if (sub.Status == "active")
                            {
                                <span class="label label-success">@sub.Status</span>
                            }
                            else
                            {
                                <span class="label label-warning">@sub.Status</span>
                            }
                            <span class="label label-default">Next cycle: @sub.CurrentPeriodEnd.Value.ToDisplay()</span>
                        </p>
                    </li>
                </ul>
            }
        }
        else
        {
            <span class="label label-default">No active subscriptions.</span>
        }
    </div>
    <div class="col-md-2 text-right action-buttons">
        <a class="btn-primary btn btn-sm action-button" href="/admin/users/edit/7fb2fb76-796d-4ce1-8c2b-b0eda31e2d03">
            <i class="fa fa-edit"></i><span>&nbsp;Edit</span>
        </a>
        <a class="btn btn-info btn-sm" target="_blank" href="@string.Format("https://dashboard.stripe.com{0}/customers/{1}", _settings.GetBillingSettings().EnableStripeTestMode? "/test" : "", Model.StripeId)">
            <i class="fa fa-cc-stripe"></i><span>&nbsp;View on Stripe</span>
        </a>
    </div>
</div>
<hr />