@model PropertyListing
@{
    Layout = null;
}
<div class="modal fade modal-right media-blade" id="property-create-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-blade" role="document">
        <form id="property-create-form" action="@Url.Action("Create")" asp-antiforgery="true" autocomplete="off" class="modal-content">
            <div class="modal-header bg-dark text-white">
                <div>
                    <h5 class="modal-title">
                        Create new property
                    </h5>
                    <p class="m-0 text-muted">
                        <i class="fa fa-plus-circle mr-2"></i> Add a new property listing to the website.
                    </p>
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input asp-for="Latitude" type="hidden">
                <input asp-for="Longitude" type="hidden">
                <div class="mb-3 floating-label">
                    <label asp-for="Title">Display Address</label>
                    <small asp-for="Title"></small>
                    <input asp-for="Title" class="form-control" required>
                </div>
                <hr class="mt-2 mb-4" />
                <div class="mb-3 floating-label">
                    <label asp-for="Number"></label>
                    <small asp-for="Number"></small>
                    <input asp-for="Number" class="form-control" />
                </div>
                <div class="mb-3 floating-label">
                    <label asp-for="Address1"></label>
                    <small asp-for="Address1"></small>
                    <input asp-for="Address1" class="form-control"  required />
                </div>
                <div class="mb-3 floating-label">
                    <label asp-for="Address2"></label>
                    <small asp-for="Address2"></small>
                    <input asp-for="Address2" class="form-control">
                </div>
                <div class="mb-3 floating-label">
                    <label asp-for="City"></label>
                    <small asp-for="City"></small>
                    <input asp-for="City" class="form-control"  required>
                </div>
                <div class="mb-3 floating-label">
                    <label asp-for="County"></label>
                    <small asp-for="County"></small>
                    <input asp-for="County" class="form-control"  required>
                </div>
                <div class="mb-3 floating-label">
                    <label asp-for="Country"></label>
                    <small asp-for="Country"></small>
                    <select class="form-control" asp-for="Country">
                        <option value="">-- Choose a country --</option>
                        @foreach (var itm in Countries.All)
                        {
                            if (itm.Name == "United Kingdom")
                            {
                                <option value="@itm.Name" selected>@itm.Name</option>
                            }
                            else
                            {
                                <option value="@itm.Name">@itm.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="mb-3 floating-label">
                    <label asp-for="Postcode"></label>
                    <small asp-for="Postcode"></small>
                    <input asp-for="Postcode" class="form-control"  required>
                </div>
                <hr class="mt-2 mb-4" />
                <div class="mb-3 floating-label">
                    <label asp-for="Status"></label>
                    <small asp-for="Status"></small>
                    <select asp-for="Status" class="form-control">
                        <option value="1">Draft</option>
                        <option value="2">Published</option>
                        <option value="3">Archived</option>
                    </select>
                </div>
                <div class="mb-3 floating-label">
                    <label asp-for="PublishDate"></label>
                    <small asp-for="PublishDate"></small>
                    <input asp-for="PublishDate" type="datetime-local" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="property-create-submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-ban"></i> Cancel</button>
            </div>
        </form>
    </div>
</div>
