@model PropertyListing
@inject IContentRepository _data

@{
    PropertySettings _propertySettings = Engine.Settings.Property;
}
<div id="price" class="tab-pane">
    @if (_propertySettings.ShowAskingPrice)
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="form-floating mb-3">
                    <input asp-for="AskingPrice" type="number" step="0.01" min="0" max="99999999999" class="form-control" />
                    <label asp-for="AskingPrice"></label>
                    <small asp-for="AskingPrice"></small>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-floating mb-3">
                    <select class="form-select" asp-for="AskingPriceDisplay">
                        @foreach (string s in System.Text.RegularExpressions.Regex.Split(_propertySettings.PriceDisplays, "\r\n|\r|\n"))
                        {
                            <option value="@s">@string.Format(s, "£X")</option>
                        }
                    </select>
                    <label asp-for="AskingPriceDisplay"></label>
                    <small asp-for="AskingPriceDisplay"></small>
                </div>
            </div>
        </div>
    }
    @if (_propertySettings.ShowRent)
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="form-floating mb-3">
                    <input asp-for="Rent" type="number" step="0.01" min="0" max="99999999999" class="form-control" />
                    <label asp-for="Rent"></label>
                    <small asp-for="Rent"></small>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-floating mb-3">
                    <select class="form-select" asp-for="RentDisplay" data-selected="@Model.RentDisplay">
                        @foreach (string s in System.Text.RegularExpressions.Regex.Split(_propertySettings.RentDisplays, "\r\n|\r|\n"))
                        {
                            <option value="@s">@string.Format(s, "£X")</option>
                        }
                    </select>
                    <label asp-for="RentDisplay"></label>
                    <small asp-for="RentDisplay"></small>
                </div>
            </div>
        </div>
    }
    @if (_propertySettings.ShowPremium)
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="form-floating mb-3">
                    <input asp-for="Premium" type="number" step="0.01" min="0" max="99999999999" class="form-control" />
                    <label asp-for="Premium"></label>
                    <small asp-for="Premium"></small>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-floating mb-3">
                    <select class="form-select" asp-for="PremiumDisplay">
                        @foreach (string s in System.Text.RegularExpressions.Regex.Split(_propertySettings.PriceDisplays, "\r\n|\r|\n"))
                        {
                            <option value="@s">@string.Format(s, "£X")</option>
                        }
                    </select>
                     <label asp-for="PremiumDisplay"></label>
                   <small asp-for="PremiumDisplay"></small>
                </div>
            </div>
        </div>
    }
    @if (_propertySettings.ShowFees)
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="form-floating mb-3">
                    <input asp-for="Fees" type="number" step="0.01" min="0" max="99999999999" class="form-control" />
                    <label asp-for="Fees"></label>
                    <small asp-for="Fees"></small>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-floating mb-3">
                    <select class="form-select" asp-for="FeesDisplay">
                        @foreach (string s in System.Text.RegularExpressions.Regex.Split(_propertySettings.FeesDisplay, "\r\n|\r|\n"))
                        {
                            <option value="@s">@string.Format(s, "£X")</option>
                        }
                    </select>
                     <label asp-for="FeesDisplay"></label>
                   <small asp-for="FeesDisplay"></small>
                </div>
            </div>
        </div>
    }
    @if (!_propertySettings.ShowAskingPrice)
    {
        <alert icon="fa fa-info">Asking Prices are not enabled. You can enable them in <a asp-action="Property" asp-controller="Settings">property settings</a>.</alert>
        <input asp-for="AskingPrice" type="hidden" />
        <input asp-for="AskingPriceDisplay" type="hidden" />
    }
    @if (!_propertySettings.ShowRent)
    {
        <alert icon="fa fa-info">Rents are not enabled. You can enable them in <a asp-action="Property" asp-controller="Settings">property settings</a>.</alert>
        <input asp-for="Rent" type="hidden" />
        <input asp-for="RentDisplay" type="hidden" />
    }
    @if (!_propertySettings.ShowPremium)
    {
        <alert icon="fa fa-info">Premiums are not enabled. You can enable them in <a asp-action="Property" asp-controller="Settings">property settings</a>.</alert>
        <input asp-for="Premium" type="hidden" />
        <input asp-for="PremiumDisplay" type="hidden" />
    }
    @if (!_propertySettings.ShowFees)
    {
        <alert icon="fa fa-info">Fees are not enabled. You can enable them in <a asp-action="Property" asp-controller="Settings">property settings</a>.</alert>
        <input asp-for="Fees" type="hidden" />
        <input asp-for="FeesDisplay" type="hidden" />
    }
</div>
