@model SubscriptionProductsModel
@{
    ViewBag.Title = "Manage Subscriptions";
    ViewBag.SubTitle = "Use this area to provide information to your customers about their subscriptions, what packages they are on, how to cancel and upgrade/downgrade.";
}
@if (Model.SaveMessage.IsSet())
{
    <alert type="@Model.MessageType">@Model.SaveMessage</alert>
}
@if (Model.Products.Count() == 0)
{
    <alert type="Warning">There are no subscription products added to the site yet.</alert>
}
else
{
    foreach (var product in Model.Products)
    {
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0">
                    @product.DisplayName
                </h5>
            </div>
            <div class="card-body">
                @if (User.IsSubscribedToProduct(product.Id))
                {
                    <partial name="_Subscriptions_CurrentInfo" model="User.GetActiveSubscription(product.Id)" />
                }
                else
                {
                    <div class="current-subscription">
                        <h4>You do not currently have a subscription.</h4>
                        <p>
                            You do not currently have an active paid package, but you can access your previous subscriptions and invoices here:
                        </p>
                        <div>
                            <a class="btn btn-sm btn-primary" asp-action="Product" asp-route-id="@product.Id" asp-route-title="@product.DisplayName.ToSeoUrl()">Get a package!</a>
                            <a class="btn btn-sm btn-outline-dark" href="/account/billing">Billing Information</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}
