@model MediaListModel
@inject IDirectoryManager _directoryManager
@{
    Layout = null;
    var rootDirModel = new MediaListModel();
    Model.CopyProperties(rootDirModel);
    rootDirModel.DirectoryId = null;
    var rootDirs = Model.TopLevelDirectories;
}
@if (Model.DirectoryId.HasValue)
{
    <input type="hidden" id="upload-directory-id" value="@Model.DirectoryId.Value" />
    rootDirs = _directoryManager.GetDirectoryById(Model.DirectoryId.Value).Children;
}
else
{
    <input type="hidden" id="upload-directory-id" value="@Model.TopLevelDirectories.FirstOrDefault().Id" />
}
<div class="card mb-3 d-none d-md-block">
    <div class="card-body p-2">
        <div class="d-flex align-items-center">
            <div div class="flex-fill">
                <i class="fa fa-folder-open mx-2 text-warning"></i>
                @_directoryManager.GetBreadcrumb(Model)
            </div>
            <div>
                @if (Model.DirectoryId.HasValue)
                {
                    <a class="btn btn-outline-danger btn-sm media-delete-directory" asp-action="DeleteDirectory" asp-route-id="@Model.DirectoryId" title="Delete directory">
                        <i class="fa fa-trash me-1"></i> Directory
                    </a>
                    <a class="btn btn-outline-success btn-sm media-create-directory" asp-action="CreateDirectory" asp-route-id="@Model.DirectoryId" title="Create directory">
                        <i class="fa fa-plus-circle me-1"></i> Directory
                    </a>
                }
                <a class="btn btn-success btn-sm" id="media-add">
                    <i class="fa fa-plus-circle me-1"></i>
                    <span>Upload files...</span>
                </a>

            </div>
        </div>
    </div>
</div>
<div id="media-upload" class="media-upload text-center" data-url="@Url.Action("UploadToDirectory")"></div>
<div id="media-progress" class="card p-3 mb-3 collapse"></div>
<form class="inline" data-target="#media-list">
    <partial name="_Media_Filters" />
</form>

<div class="row row-cols-2 row-cols-lg-4 row-cols-xl-6 g-1">
    @foreach (var dir in rootDirs)
    {
        rootDirModel.DirectoryId = dir.Id;
        var link = rootDirModel.GetPageUrl(rootDirModel.PageIndex);
        var href = $"{Context.Request.Path}{link}";
        <div class="col mb-3">
            <div class="card media-directory-item text-center hover">
                <div class="card-body text-center">
                    <i class="fa fa-3x fa-folder-open me-2 text-warning"></i>
                </div>
                <div class="card-footer p-1">
                    <p class="m-0 font-weight-bold text-truncate">
                        @if (dir.DisplayName.IsSet())
                        {
                            @dir.DisplayName
                        }
                        else
                        {
                            <span>Untitled</span>
                        }
                    </p>
                </div>
                <a class="full-box-link hood-inline-list-target" data-target="#media-list" href="@href">@dir.DisplayName</a>
            </div>
        </div>
    }
</div>
@if (Model.TotalCount > 0)
{
    <div class="mb-3"><partial name="_Pagination" /></div>
    <div class="row row-cols-2 row-cols-lg-4 row-cols-xl-6 g-1 mb-3">
        @foreach (var media in Model.List)
        {
            var contract = new Newtonsoft.Json.Serialization.DefaultContractResolver()
            {
                NamingStrategy = new Newtonsoft.Json.Serialization.CamelCaseNamingStrategy()
            };
            <div class="col">
                <div class="card media-item text-center hover">
                    <fixedImage src="@media.Icon" class="img img-full img-wide m-0 card-img-top" />
                    <div class="card-body p-1">
                        <div class="fw-bold small text-truncate">
                            @media.Filename
                        </div>
                        <div class="text-muted">
                            @media.FormattedSize
                        </div>
                    </div>
                    <a class="full-box-link media-item" data-id="@media.Id"
                       data-blade="@Url.Action("Blade", new { id = media.Id })"
                       data-json="@Newtonsoft.Json.JsonConvert.SerializeObject(media, new Newtonsoft.Json.JsonSerializerSettings() { ContractResolver = contract })"></a>
                </div>
            </div>
        }
    </div>
    <partial name="_Pagination" />
}
else
{
    <alert type="Info" icon="fa-info" size="Medium" class="m-0">
        @if (Model.DirectoryId.HasValue)
        {
            <span>No media in this directory.</span>
        }
        else
        {
            <span>No media.</span>
        }
    </alert>
}
