@model PropertyListing
@{
    PropertySettings _propertySettings = Engine.Settings.Property;
}
<div class="card mb-4">
    <a href="@Model.Url"><fixedImage src="@Model.FeaturedImage.MediumUrl" class="card-img img img-full img-wide content-feature-@Model.Id" /></a>
    <div class="card-body">
        <a href="@Model.Url">
            <h5>@Model.Title</h5>
        </a>
        <p class="text-muted">@_propertySettings.GetPlanningFromType(Model.Planning)</p>
    </div>
    <table class="table border-top-0 m-0">
        @if (_propertySettings.ShowAskingPrice)
        {
            <tr class="ratings text-left">
                <th>
                    Asking Price
                </th>
                <td>
                    @Model.FormattedAskingPrice
                </td>
            </tr>
        }
        @if (_propertySettings.ShowRent)
        {
            <tr class="ratings text-left">
                <th>
                    Rent
                </th>
                <td>
                    @Model.FormattedRent
                </td>
            </tr>
        }
        @if (_propertySettings.ShowPremium)
        {
            <tr class="ratings text-left">
                <th>
                    Premium
                </th>
                <td>
                    @Model.FormattedPremium
                </td>
            </tr>
        }
        @if (_propertySettings.ShowFees)
        {
            <tr class="ratings text-left">
                <th>
                    Fees
                </th>
                <td>
                    @Model.FormattedFees
                </td>
            </tr>
        }
    </table>
    <div class="card-footer">
        <a href="@Model.Url" class="btn btn-primary btn-block btn-sm" role="button">Learn more...</a>
    </div>
</div>
