@model PropertyListModel

@{
    ViewData["Title"] = "Properties";
    Layout = "_Layout_Property";

    SeoSettings _seoSettings = Engine.Settings.Seo;
    BasicSettings _basicSettings = Engine.Settings.Basic;
    PropertySettings _propertySettings = Engine.Settings.Property;
    string url = Context.GetSiteUrl(true, true);
    if (_seoSettings.CanonicalUrl.IsSet())
    {
        url = string.Format("{0}{1}", _seoSettings.CanonicalUrl.TrimEnd('/'), Context.Request.Path);
    }

}
@section metas {
    <meta name="description" content="Have a look a our properties, there are plenty to have a look at!" />
    <meta property="og:author" content="@_seoSettings.OgAuthor" />
    <meta property="og:title" content="Properties - @_basicSettings.FullTitle" />
    <meta property="og:image" content="@_seoSettings.OgImageUrl" />
    <meta property="og:image:secure_url" content="@_seoSettings.OgSecureImageUrl" />
    <meta property="og:description" content="Have a look a our properties, there are plenty to have a look at!" />
    <meta name="twitter:title" content="Properties - @_basicSettings.FullTitle" />
    <meta name="twitter:description" content="Have a look a our properties, there are plenty to have a look at!" />
    <meta name="twitter:image" content="@_seoSettings.TwitterCardImageUrl" />
}
<section class="container">
    <div class="row">
        <div class="col">
            <div id="property-list" class="hood-inline-list refresh query" data-url="@Url.Action("List")" data-complete="$.hood.App.Property.Loaded">
                <partial name="_List_Property" />
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <partial name="_Form_Property" />
        </div>
    </div>
</section>
<partial name="_Map" />
<div class="modal fade" tabindex="-1" role="dialog" id="property-modal">
</div>
<script>
    function openPropertyModal(id) {
        $.get('/property/modal', { id: id }, function (data, textStatus, jqXHR) {
            if (textStatus == 'success') {
                $('#property-modal').empty().html(data).modal();

            } else {
                alert('Failed to load property.');
            }
        });
    }
</script>
