@model UserListModel
@{
    Layout = null;
}
@if (Model.TotalCount > 0)
{
    @foreach (var user in Model.List)
    {
        <div class="card hover mb-3 p-2">
            <div class="row no-gutters align-items-center">
                <div class="col-auto">
                    <a asp-action="Edit" asp-route-id="@user.Id">
                        <fixedImage src="@user.Avatar.ThumbUrl" class="img img-circle img-sm m-2 mr-4" alt="@user.ToInternalName()"></fixedImage>
                    </a>
                </div>
                <div class="col">
                    <div class="mb-1">
                        <h5 class="card-title d-lg-inline">
                            <a asp-action="Edit" asp-route-id="@user.Id">@user.ToAdminName()</a>
                        </h5>
                        <small class="ml-2 text-muted d-lg-inline">Last logged in @user.LastLogOn.ToHumaneDate()</small>
                    </div>
                    <p class="card-text mb-1">
                        @if (user.Active)
                        {
                            <small class="badge bg-success">Active</small>
                        }
                        else
                        {
                            <small class="badge bg-danger">Inactive</small>

                        }
                        @foreach (var sub in user.Roles)
                        {
                            <small class="badge bg-info">@sub.Name.CamelCaseToString()</small>
                        }
                        @if (user.Roles.Count == 0)
                        {
                            <small class="badge bg-dark">Not in any roles</small>
                        }
                    </p>
                    <p class="card-text mb-1">
                        <small class="d-block">
                            Username:
                            <strong>@user.UserName</strong>
                        </small>
                        <small class="d-block">
                            Email:
                            <strong>@user.Email</strong>
                            @if (!user.EmailConfirmed)
                            {<i class="fa fa-exclamation-triangle text-danger" title="Email not confirmed."></i>}
                        </small>
                    </p>
                </div>
                <div class="col-auto d-flex align-items-center">
                    <button type="button" class="btn btn-lg shadow-none v-middle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@user.Id"><i class="fa fa-edit"></i> Edit User</a>
                        <a class="dropdown-item user-reset-password" asp-action="ResetPassword" asp-route-id="@user.Id"><i class="fa fa-lock"></i> Reset Password</a>
                        <a class="dropdown-item" asp-action="Impersonate" asp-route-id="@user.Id"><i class="fa fa-user-secret"></i> Impersonate User</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item user-delete" asp-action="Delete" asp-route-id="@user.Id"><i class="fa fa-trash-alt"></i> Delete User</a>
                    </div>
                </div>
            </div>
        </div>
    }
    <partial name="_Pagination" />
}
else
{
    <alert type="Info" icon="fa-info" size="Epic" class="text-center m-0">
        No users found.
    </alert>
}
