@model PropertySearchModel

@{
    PropertySettings _propertySettings = _settings.GetPropertySettings();
}
<form method="get">
    <div class="row no-margin">
        <div class="panel-body small">
            <h4>Search</h4>
            <input type="text" class="form-control" placeholder="Search our portfolio..." asp-for="Search" />
        </div>
        <div class="panel-body small">
            <h4>Type</h4>
            <select class="form-control submit-on-change" asp-items="Model.Types.Select(c => new SelectListItem() { Value = c, Text = c })" asp-for="Type">
                <option value="">Show All</option>
            </select>
        </div>
        @if (_propertySettings.ShowBedrooms)
        {
            <div class="panel-body small">
                <h4>Bedrooms</h4>
                <select class="form-control half submit-on-change" asp-for="Bedrooms">
                    <option value="">Show All</option>
                    @for (int i = 0; i < 13; i++)
                    {
                        <option value="@i">@(i)</option>
                    }
                </select>
            </div>
        }
        @if (_propertySettings.ShowRent)
        {
            <div class="panel-body small">
                <h4>Rent</h4>
                <select class="form-control half submit-on-change" asp-for="MinRent">
                    <option value="">Show All</option>
                    @for (int i = _propertySettings.RentMinimum; i <= _propertySettings.RentMaximum; i = i + _propertySettings.RentIncrement)
                    {
                        <option value="@i">£ @(string.Format(_propertySettings.ShowRentDecimals ? "{0:n}" : "{0:n0}", i))</option>
                    }
                </select>
                <select class="form-control half submit-on-change" asp-for="MaxRent">
                    <option value="">Show All</option>
                    @for (int i = _propertySettings.RentMinimum; i <= _propertySettings.RentMaximum; i = i + _propertySettings.RentIncrement)
                    {
                        <option value="@i">£ @(string.Format(_propertySettings.ShowRentDecimals ? "{0:n}" : "{0:n0}", i))</option>
                    }
                </select>
            </div>
        }
        @if (_propertySettings.ShowAskingPrice)
        {
            <div class="panel-body small">
                <h4>Asking Price</h4>
                <select class="form-control half submit-on-change" asp-for="MinPrice">
                    <option value="">Show All</option>
                    @for (int i = _propertySettings.AskingPriceMinimum; i <= _propertySettings.AskingPriceMaximum; i = i + _propertySettings.AskingPriceIncrement)
                    {
                        <option value="@i">£ @(string.Format(_propertySettings.ShowAskingPriceDecimals ? "{0:n}" : "{0:n0}", i))</option>
                    }
                </select>
                <select class="form-control half submit-on-change" asp-for="MaxPrice">
                    <option value="">Show All</option>
                    @for (int i = _propertySettings.AskingPriceMinimum; i <= _propertySettings.AskingPriceMaximum; i = i + _propertySettings.AskingPriceIncrement)
                    {
                        <option value="@i">£ @(string.Format(_propertySettings.ShowAskingPriceDecimals ? "{0:n}" : "{0:n0}", i))</option>
                    }
                </select>
            </div>
        }
        @if (_propertySettings.ShowPremium)
        {
            <div class="panel-body small">
                <h4>Premium</h4>
                <select class="form-control half submit-on-change" asp-for="MinPremium">
                    <option value="">Show All</option>
                    @for (int i = _propertySettings.PremiumMinimum; i <= _propertySettings.PremiumMaximum; i = i + _propertySettings.PremiumIncrement)
                    {
                        <option value="@i">£ @(string.Format(_propertySettings.ShowPremiumDecimals ? "{0:n}" : "{0:n0}", i))</option>
                    }
                </select>
                <select class="form-control half submit-on-change" asp-for="MaxPremium">
                    <option value="">Show All</option>
                    @for (int i = _propertySettings.PremiumMinimum; i <= _propertySettings.PremiumMaximum; i = i + _propertySettings.PremiumIncrement)
                    {
                        <option value="@i">£ @(string.Format(_propertySettings.ShowPremiumDecimals ? "{0:n}" : "{0:n0}", i))</option>
                    }
                </select>
            </div>
        }
        <div class="panel-body small">
            <h4>Planning</h4>
            <select class="form-control submit-on-change" asp-items="Model.PlanningTypes.Select(c => new SelectListItem() { Value = c.Key, Text = c.Value })" asp-for="PlanningType">
                <option value="">Show All</option>
            </select>
        </div>
        <div class="panel-body small">
            <h4>Organise by</h4>
            <select class="form-control submit-on-change" asp-for="Order">
                <optgroup label="Property">
                    <option value="name">Name (A-Z)</option>
                    <option value="name+desc">Name (Z-A)</option>
                    <option value="date+desc">Added Date (Newest)</option>
                    <option value="date">Added Date (Oldest)</option>
                    <option value="area">Area (A-Z)</option>
                    <option value="area+desc">Area (Z-A)</option>
                </optgroup>
                <optgroup label="Price">
                    <option value="rent+desc">Rent (£££-£)</option>
                    <option value="rent">Rent (£-£££)</option>
                    <option value="premium+desc">Premium (£££-£)</option>
                    <option value="premium">Premium (£-£££)</option>
                </optgroup>
                <optgroup label="Listings">
                    <option value="planning">Planning (A-Z)</option>
                    <option value="planning+desc">Planning (Z-A)</option>
                    <option value="type">Listing Type (A-Z)</option>
                    <option value="type+desc">Listing Type (Z-A)</option>
                </optgroup>
            </select>
        </div>
        <div class="panel-body small">
            <button type="submit" class="btn btn-sm btn-block btn-success"><i class="fa fa-refresh m-r-md"></i>Search</button>
        </div>
    </div>
</form>
