@model PropertyListing
@{
    ViewBag.Title = "Edit " + Model.Title;
    PropertySettings _propertySettings = _settings.GetPropertySettings();
}
@section buttons {
    <a class="btn btn-sm btn-danger delete-property" data-id="@Model.Id"><i class="fa fa-trash m-r-xs"></i>Delete</a>
    <a class="btn btn-sm btn-info" href="@Model.Url" target="_blank"><i class="fa fa-search m-r-xs"></i>Preview</a>
    <a href="javascript:document.getElementById('edit-property').submit()" class="btn btn-success btn-sm"><i class="fa fa-save m-r-sm"></i>Save</a>
}
@section breadcrumbs {
    <ol class="breadcrumb">
        <li>
            <a href="/admin">Home</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Property" asp-route-area="Admin">
                <i class="fa fa-building m-r-xs"></i>
                Properties
            </a>
        </li>
        <li class="active">
            <strong>@ViewBag.Title</strong>
        </li>
    </ol>
}
<form method="post" id="edit-property" data-id="@Model.Id">
    @if (Model.SaveMessage.IsSet())
    {
        @Html.BootstrapAlert(Model.SaveMessage, Model.MessageType);
    }
    <div class="row">
        <div class="col-md-8">
            @{ await Html.RenderPartialAsync("_Editor_Property"); }
        </div>
        <div class="col-md-4">
            @{ await Html.RenderPartialAsync("_Editor_Sidebar"); }
        </div>
    </div>
</form>