@model Topic
@{
    bool moderator = User.Identity.IsAuthenticated &&
        (Model.AuthorId == Engine.Account.Id || User.IsForumModerator() || User.IsAdminOrBetter());
}
<div class="post" id="@string.Format("topic-{0}", Model.Id)">
    <a asp-action="ShowTopic" asp-route-topicId="@Model.Id" asp-route-title="@Model.Title.ToSeoUrl()" class="full-box-link"></a>
    <div class="row">
        <div class="col-md-8">
            <h5>@Model.Title</h5>
            <p class="stats">
                <span class="m-r-sm"><i class="fa fa-paper-plane m-r-xs"></i> <strong>@Model.NumPosts</strong> posts.</span>
                <span class="m-r-sm"><i class="fa fa-user m-r-xs"></i> @Model.Author.ToDisplayName()</span>
                <span><i class="fa fa-clock-o m-r-xs"></i> @Model.CreatedOn.ToHumaneDate()</span>
            </p>
        </div>
        <div class="col-md-4">
            <p class="latest">
                @if (Model.LastPostId.HasValue)
                {
                    <span>
                        Latest Post by <strong>@Model.LastUserDisplayName</strong><br />
                        at <strong>@Model.LastPosted.Value.ToDisplay()</strong>
                    </span>
                }
                else
                {
                    <span>No posts yet.</span>
                }
            </p>
        </div>
    </div>
    @if (moderator)
    {
        <hr class="m-t-sm m-b-sm" />
        <p class="no-margin">
            <a class="btn btn-xs btn-warning m-r-sm" asp-action="ShowTopic" asp-route-topicId="@Model.Id" asp-route-title="@Model.Title.ToSeoUrl()">Edit</a>
            <a class="btn btn-xs btn-danger warning-alert" asp-action="DeleteTopic" asp-route-slug="@Model.Forum.Slug" asp-route-topicId="@Model.Id" data-warning="This will delete the post, and cannot be undone, are you sure?">Delete</a>
        </p>
    }
</div>