@inject ISiteConfiguration Site
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HoodCMS - @ViewData["Title"]</title>
    <link type="image/png" href="~/lib/hood/images/site-icon.png" rel="icon" />
    @{ await Html.RenderPartialAsync("_AdminStyles"); }
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="wrapper">
        <nav class="navbar-default sidebar" role="navigation">
            @{ await Html.RenderPartialAsync("_Sidebar"); }
        </nav>
        <div class="main-content">
            <nav class="navbar navbar-static-top top-bar">
                <div class="navbar-header hidden-xs">
                    <a class="sidebar-toggle btn btn-primary"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-right">
                    <li class="welcome-message">
                        <span>Welcome to your Hood CMS Dashboard.</span>
                    </li>
                    <li>
                        <a href="http://hoodcmsdocs.readthedocs.io/en/latest/?badge=latest" target="_blank">
                            <i class="fa fa-life-ring"></i><span class="nav-label m-l-sm">Help</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            <i class="fa fa-sign-out"></i><span class="nav-label m-l-sm">Log out</span>
                        </a>
                        <form asp-controller="Account" asp-action="LogOff" asp-area="" method="post" id="logoutForm"></form>
                    </li>
                </ul>
            </nav>
            <div id="right-sidebar"></div>
            <div class="page-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>@ViewBag.Title</h2>
                    </div>
                    <div class="col-sm-6 buttons">
                        @RenderSection("buttons", false)
                    </div>
                </div>
            </div>
            @if (!IsSectionDefined("breadcrumbs"))
            {
                <ol class="breadcrumb">
                    <li>
                        <a href="/admin">Home</a>
                    </li>
                    <li class="active">
                        <strong>@ViewBag.Title</strong>
                    </li>
                </ol>
            }
            else
            {
                @RenderSection("breadcrumbs", false)
            }

            <div class="content-body">
                @RenderBody()
            </div>

            <footer class="footer">
                <div>
                    @{
                        var version = typeof(Hood.HoodStartup).Assembly.GetName().Version;
                    }
                    <strong>&copy; @DateTime.Now.Year Hood Digital Ltd.</strong><br />
                    <small>Powered by HoodCMS @string.Format("v{0}.{1}.{2}", version.Major, version.MajorRevision, version.Minor) - lovingly crafted by <a target="_blank" href="https://twitter.com/JorjeRedemption">George Whysall</a> for <a target="_blank" href="http://hooddigital.com">Hood</a>.</small>
                </div>
            </footer>
        </div>
    </div>
    @{ await Html.RenderPartialAsync("_AdminScripts"); }
    @RenderSection("scripts", required: false)
</body>
</html>
