@model ContentModel
@{
    IntegrationSettings _integrationSettings = Engine.Settings.Integrations;
}
<div class="row">
    <div class="col-sm-8 col-lg-9">
        <div class="blog-post mb-30">
            @if (Model.Content.Author != null)
            {
                <div class="post-meta"><span>by <a href="@Url.Action("Author", "News", new { author = Model.Content.Author.UserName.ToLower() })">@Model.Content.Author.ToDisplayName()</a>,</span> posted on <span>@Model.Content.PublishDate.ToLongDateString() at @Model.Content.PublishDate.ToShortTimeString()</span></div>
            }
            <div class="post-header">
                <h2>@Model.Content.Title</h2>
            </div>
            @if (Model.Content.FeaturedImage != null)
            {
                <a href="@Model.Content.Url"><img src="@Model.Content.FeaturedImage.LargeUrl" class="img img-full full-content-image content-feature-@Model.Content.Id" /></a>
            }
            <div id="share"></div>
            <div class="post-entry">
                @if (Model.Content.Body.IsSet())
                {
                    @Html.Raw(Model.Content.Body)
                }
            </div>
            <div id="gallery">
                @foreach (var media in Model.Content.Media)
                {
                    <a class="colorbox m-r-xs" href="@media.Url">
                        <fixedImage src="@media.LargeUrl" class="img-sm"></fixedImage>
                    </a>
                }
            </div>
        </div>
        <partial name="_Author" />
        <partial name="_Disqus" />
    </div>
    <div class="col-sm-4 col-lg-3">
        <partial name="_Sidebar" />
    </div>
</div>
<div class="m-t-lg">
    <partial name="_NeighbourPosts" />
</div>
