@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model RegisterViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject ISiteConfiguration _site
@inject IContentRepository _content
@{
    BasicSettings _info = _site.GetBasicSettings();
    SeoSettings _meta = _site.GetSeo();
    string description = "Sign up - " + _info.Address.ToFormat(AddressFormat.SingleLine);
    string title = "Sign up - " + _info.CompanyName;
    if (_meta.Login != null)
    {
        description = _meta.SignUp.Description.IsSet() ? _meta.SignUp.Description : _meta.Description.IsSet() ? _meta.Description : "Sign up - " + _info.Address.ToFormat(AddressFormat.SingleLine);
        title = _meta.SignUp.Title.IsSet() ? _meta.SignUp.Title : _meta.Title.IsSet() ? _meta.Title : "Sign up - " + _info.CompanyName;
    }
    ViewData["Title"] = title;
    Layout = "_LoginLayout";
}
@section metas {
    <meta name="description" content="@description" />
    <meta property="og:author" content="@_meta.OgAuthor" />
    <meta property="og:title" content="@title" />
    <meta property="og:image" content="@_meta.OgImageUrl" />
    <meta property="og:image:secure_url" content="@_meta.OgSecureImageUrl" />
    <meta property="og:description" content="@description" />
    <meta name="twitter:title" content="@title" />
    <meta name="twitter:description" content="@description" />
    <meta name="twitter:image" content="@_meta.TwitterCardImageUrl" />
}
<div class="login-block-header">
    <h2>@ViewData["Title"]</h2>
    @{
        var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
        if (loginProviders.Count == 0)
        {
            <div>
                <p>
                    There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
        }
        else
        {
            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="l" role="form">
                <div>
                    <p>
                        @foreach (var provider in loginProviders)
                        {
                            switch (provider.AuthenticationScheme)
                            {
                                case "Facebook":
                                    <button class="btn btn-block btn-facebook-inversed rounded" type="submit" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">
                                        <i class="fa fa-facebook"></i> Facebook
                                    </button>
                                    break;
                                case "Google":
                                    <button class="btn btn-block btn-googleplus-inversed rounded" type="submit" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">
                                        <i class="fa fa-google-plus"></i> Google
                                    </button>
                                    break;
                                default:
                                    <button class="btn btn-block rounded" type="submit" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">
                                        <i class="fa fa-google-plus"></i> @provider.AuthenticationScheme
                                    </button>
                                    break;
                            }
                        }
                    </p>
                </div>
            </form>
        }
    }
    <p>Already have an account? Click here to <a asp-action="Login">log in</a>.</p>
</div>

<form asp-controller="Account" asp-action="Register" method="post" class="" role="form">
    <div asp-validation-summary="All" class="validation-summary"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input asp-for="Email" class="form-control" placeholder="Your email address" />
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input asp-for="Password" class="form-control" placeholder="Choose your password..." />
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm your password..." />
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <p><button type="submit" class="btn btn-block">Create Account</button></p>
        </div>
    </div>
</form>
