@model ContentModel
<div class="row">
    <div class="col-sm-8">
        @if (Model.List.Count == 0)
        {
            <partial name="_NoResults" />
        }
        else
        {
            @foreach (var content in Model.List)
            {
                <div class="content-feed-item @content.ContentType">
                    <partial name="_FeaturedMedia" model="content" />
                    <h3><a href="@content.Url">@content.Title</a></h3>
                    @if (content.ShowAuthor)
                    {
                        <p>
                            <span class="m-r-sm"><i class="fa fa-user"></i> <a href="@string.Format("/{0}/author/{1}", Model.ContentType.Type.ToLower(), content.Author.UserName)">content.Author.ToDisplayName()</a></span>
                            <span><i class="fa fa-clock-o"></i> @content.PublishDate.ToLongDateString() at @content.PublishDate.ToShortTimeString()</span>
                        </p>
                    }
                    else
                    {
                        <p>
                            <span><i class="fa fa-clock-o"></i> @content.PublishDate.ToLongDateString() at @content.PublishDate.ToShortTimeString()</span>
                        </p>
                    }
                    <p>@content.Excerpt</p>
                    <hr />
                    <span class="pull-right"><a href="@content.Url">Read More<i class="fa fa-long-arrow-right m-l-xs"></i></a></span>
                    @if (Model.ContentType.ShowCategories)
                    {
                        @if (content.Categories != null && content.Categories.Count != 0)
                        {
                            foreach (var category in content.Categories)
                            {
                                <a class="label label-default" href="@string.Format("/{0}/category/{1}/", Model.ContentType.Type, category.Category.Slug)">@category.Category.DisplayName</a>
                            }
                        }
                        else
                        {
                            <span>Uncategorised</span>
                        }
                    }
                    else
                    {
                        <p>&nbsp;</p>
                    }
                </div>
            }
            <partial name="_Pagination" />
        }
    </div>
    <div class="col-sm-4">
        <partial name="_Sidebar" />
    </div>
</div>
