@model ContentModel
<div class="row">
    <div class="col-sm-8">
        <div class="blog-post">
            <h2>@Model.Content.Title</h2>
            @if (Model.Content.ShowAuthor)
            {
                <p>
                    <span class="m-r-sm"><i class="fa fa-user"></i> <a href="@string.Format("/{0}/author/{1}", Model.ContentType.Type.ToLower(), Model.Content.AuthorEmail)">@Model.Content.ToDisplayName()</a></span>
                    <span><i class="fa fa-clock-o"></i> @Model.Content.PublishDate.ToLongDateString() at @Model.Content.PublishDate.ToShortTimeString()</span>
                </p>
            } else
            {
                <p>
                    <span><i class="fa fa-clock-o"></i> @Model.Content.PublishDate.ToLongDateString() at @Model.Content.PublishDate.ToShortTimeString()</span>
                </p>
            }
            <p>@Model.Content.Excerpt</p>
            <hr />
            <partial name="_FeaturedMedia" model="Model.Content" />
            <hr />
            <div id="post-content">
                @if (Model.Content.Body.IsSet())
                {
                    @Html.Raw(Model.Content.Body)
                }
            </div>
            <div id="gallery">
                @foreach (var media in Model.Content.Media)
                {
                    <a class="colorbox m-r-xs" href="@media.Url">
                        <fixedImage src="@media.LargeUrl" class="img-sm"></fixedImage>
                    </a>
                }
            </div>
        </div>
        <partial name="_Author" />
    </div>
    <div class="col-sm-4">
        <partial name="_Sidebar" />
    </div>
</div>
<div class="m-t-lg">
    <partial name="_NeighbourPosts" />
</div>
