@model ContentModel
@{
    IntegrationSettings _integrationSettings = _settings.GetIntegrationSettings();
}
<div class="m-b-lg">
    @{ await Html.RenderPartialAsync("_NeighbourPosts"); }
</div>
<div class="row">
    <div class="col-sm-8 col-lg-9">
        <div class="blog-post mb-30">
            @if (Model.Content.Author != null)
            {
                <div class="post-meta"><span>by <a href="@Url.Action("Author", "News", new { author = Model.Content.Author.UserName.ToLower() })">@Model.Content.Author.ToDisplayName()</a>,</span> posted on <span>@Model.Content.PublishDate.ToLongDateString() at @Model.Content.PublishDate.ToShortTimeString()</span></div>
            }
            <div class="post-header">
                <h2>@Model.Content.Title</h2>
            </div>
            @if (Model.Content.FeaturedImage != null)
            {
                <a href="@Model.Content.Url"><img src="@Model.Content.FeaturedImage.LargeUrl" class="full-content-image content-feature-@Model.Content.Id" /></a>
            }
            <div id="share"></div>
            <div class="post-entry">
                @{ await Html.RenderPartialAsync("_EditableContent"); }
            </div>
            <div id="gallery">
                @foreach (var media in Model.Content.Media)
                {
                    <a class="colorbox m-r-xs" href="@media.Url">
                        <fixedImage src="@media.LargeUrl" class="img-sm"></fixedImage>
                    </a>
                }
            </div>
        </div>
        <hr />
        @{ await Html.RenderPartialAsync("_Author"); }
        <hr />
        <div class="clearfix"></div>
        <div id="disqus_thread"></div>
        <script>
            (function () { 
                var d = document, s = d.createElement('script');

                s.src = '@string.Format("//{0}.disqus.com/embed.js", _integrationSettings.DisqusId)';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>
            Please enable
            JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
        </noscript>
    </div>
    <div class="col-sm-4 col-lg-3">
        @{ await Html.RenderPartialAsync("_Sidebar"); }
    </div>
</div>
<div class="m-t-lg">
    @{ await Html.RenderPartialAsync("_NeighbourPosts"); }
</div>
