@model ContentModel

@if (Model.List.Count == 0)
{
    await Html.RenderPartialAsync("_NoResults");
}
else
{
    <div class="row">
        @foreach (Content content in Model.List)
        {
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="thumbnail">
                    <fixedImage src="@content.FeaturedImage.MediumUrl" class="img img-square img-full" style="@content.GetImageStyle()" />
                    <div class="caption">                        
                        <h3>@content.Title</h3>
                        <p class="text-muted">@content.GetMetaValue("JobTitle")</p>
                        <p>@content.Excerpt</p>
                        <ul class="social">
                            @if (content.GetMetaValue("Facebook").IsSet())
                            {
                                <li><a href="@content.GetMetaValue("Facebook")" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            }
                            @if (content.GetMetaValue("Twitter").IsSet())
                            {
                                <li><a href="@content.GetMetaValue("Twitter")" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            }
                            @if (content.GetMetaValue("GooglePlus").IsSet())
                            {
                                <li><a href="@content.GetMetaValue("GooglePlus")" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            }
                            @if (content.GetMetaValue("LinkedIn").IsSet())
                            {
                                <li><a href="@content.GetMetaValue("LinkedIn")" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
    await Html.RenderPartialAsync("_Pagination");
}
