@model UserSubscriptionInfo
<div class="well current-subscription m-t-lg">
    <h4>Your current subscription: <strong>@Model.Name</strong></h4>
    <p>
        @if (!Model.CancelAtPeriodEnd)
        {
            <span class="text-success">Next Charge:</span>
            <span class="text-success">@Model.Amount.ToCurrencyFormat() on @Model.CurrentPeriodEnd.Value.ToShortDateString()</span>
        }
        else
        {
            <span class="text-danger">Cancelling on @Model.CurrentPeriodEnd.Value.ToShortDateString()</span>
        }
    </p>
    <p>
        @if (!Context.Request.Path.ToString().Contains("account/subscriptions/change"))
        {
            <a class="btn btn-sm btn-primary" asp-action="Product" asp-route-id="@Model.SubscriptionProductId" asp-route-title="@Model.Name.ToSeoUrl()">Change Package</a>
        }
        @if (Model != null)
        {
            @if (Model.Status != "canceled")
            {
                if (Model.CancelAtPeriodEnd)
                {
                    <a class="btn btn-sm btn-success confirm" data-warning="Are you sure you want to reactiveate your subscription? You will be charged again on your next payment date as usual, and no extra charges will be made. Your account will remain active." asp-action="Reactivate" asp-controller="Subscriptions" asp-route-id="@Model.Id">Re-Activate</a>
                    <a class="btn btn-sm btn-danger confirm" data-warning="Are you sure you want to cancel your susbcription? This cannot be undone, however you can buy a new subscription at any time." asp-action="Remove" asp-controller="Subscriptions" asp-route-id="@Model.Id">Fully Cancel (Refund remaining charges)</a>
                }
                else
                {
                    <a class="btn btn-sm btn-danger confirm" data-warning="Are you sure you want to revert to the free package? Your account will remain active until your current period ends, but after that you will be restricted to the free package." asp-action="Cancel" asp-controller="Subscriptions" asp-route-id="@Model.Id">Revert to the free package</a>
                }
            }
        }
        <a class="btn btn-sm btn-default" href="/account/billing">Billing Information</a>
    </p>
</div>
