@model SubscriptionProductsModel
@{
    ViewBag.Title = "Manage Subscriptions";
    ViewBag.SubTitle = "Use this area to provide information to your customers about their subscriptions, what packages they are on, how to cancel and upgrade/downgrade.";

    Layout = "_BasicLayout";
}
<div class="container">
    @if (Model.SaveMessage.IsSet())
    {
        <alert type="@Model.MessageType">@Model.SaveMessage</alert>
    }
    @if (Model.Products.Count() == 0)
    {
        <alert type="Warning">There are no subscription products added to the site yet.</alert>
    }
    else
    {
        foreach (var product in Model.Products)
        {
            <h3>
                <a asp-action="Product" asp-route-id="@product.Id">
                    @product.DisplayName
                </a>
            </h3>
            if (User.IsSubscribedToProduct(product.Id))
            {
                <partial name="_Subscriptions_CurrentInfo" model="User.GetActiveSubscription(product.Id)" />
            }
            else
            {
                <div class="current-subscription well">
                    <h4>You are not currently on a paid package, you have the free package.</h4>
                    <p>
                        You do not currently have an active paid package, but you can access your previous subscriptions and invoices here:
                    </p>
                    <p>
                        <a class="btn btn-sm btn-primary" asp-action="Product" asp-route-id="@product.Id" asp-route-title="@product.DisplayName.ToSeoUrl()">Get a package!</a>
                        <a class="btn btn-sm btn-default" href="/account/billing">Billing Information</a>
                    </p>
                </div>
            }
        }
    }
</div>
