@{
    ViewData["Title"] = "Dashboard";
    var _propertySettings = _settings.GetPropertySettings();
    var colClass = _propertySettings.Enabled ? "col-md-3 col-sm-6" : "col-lg-4";
}
<div class="row">

    <div class="@(colClass)">
        <div class="widget coloured info">
            <i class="mdi mdi-book-multiple-variant icon"></i>
            <div class="content">
                <p>Content on the site</p>
                <h2 class="txt-color-white"><span data-plugin="counterup" class="content-totalPosts">0</span> <small><i class="mdi mdi-arrow-up txt-color-white"></i></small></h2>
                <p class="txt-color-white"><b data-plugin="counterup" class="content-totalPublished">0</b> published items.</p>
            </div>
            <a class="full-box-link" data-toggle="collapse" href="#content-types">Show content types...</a>
        </div>
    </div>
    <div class="@(colClass)">
        <div class="widget coloured success">
            <i class="mdi mdi-account-key icon"></i>
            <div class="content">
                <p>Registered Users</p>
                <h2 class="txt-color-white"><span data-plugin="counterup" class="users-totalUsers">0</span> <small><i class="mdi mdi-arrow-up txt-color-white"></i></small></h2>
                <p class="txt-color-white"><b data-plugin="counterup" class="users-totalAdmins">0</b> administrator accounts.</p>
            </div>
            <a class="full-box-link" asp-action="Index" asp-controller="Users">Show users...</a>
        </div>
    </div>
    <div class="@(colClass)">
        <div class="widget coloured warning">
            <i class="mdi mdi-currency-usd icon"></i>
            <div class="content">
                <p>Active Subscriptions</p>
                <h2 class="txt-color-white"><span data-plugin="counterup" class="subs-active">0</span> <small><i class="mdi mdi-arrow-up txt-color-white"></i></small></h2>
                <p class="txt-color-white"><b data-plugin="counterup" class="subs-trials">0</b> trial accounts.</p>
            </div>
            <a class="full-box-link" asp-action="Index" asp-controller="Subscriptions">Show subscriptions...</a>
        </div>
    </div>
    @if (_propertySettings.Enabled)
    {
        <div class="@(colClass)">
            <div class="widget coloured danger">
                <i class="mdi mdi-map-marker-multiple icon"></i>
                <div class="content">
                    <p>Property Listings</p>
                    <h2 class="txt-color-white"><span data-plugin="counterup" class="properties-totalPosts">0</span> <small><i class="mdi mdi-arrow-up txt-color-white"></i></small></h2>
                    <p class="txt-color-white"><b data-plugin="counterup" class="properties-totalPublished">0</b> published properties.</p>
                </div>
                <a class="full-box-link" asp-action="Index" asp-controller="Property">Show subscriptions...</a>
            </div>
        </div>
    }
</div>
<div class="row collapse" id="content-types">
    @{
        var types = _settings.GetContentSettings().Types;
    }
    @foreach (var t in types)
    {
    <div class="col-sm-6 col-md-3">
        <div class="widget">
            <div class="icon left">
                <i class="fa @t.Icon"></i>
            </div>
            <div class="text-right">
                <p class="text-uppercase">@t.TypeNamePlural</p>
                <h2 class="m-b-10"><span data-plugin="counterup" class="content-@t.Type-total">0</span></h2>
            </div>
        </div>
        <a class="full-box-link" href="/admin/content/@t.Type/manage">Show subscriptions...</a>
    </div>
    }
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="widget table">
            <div class="pull-right">
                <select id="history">
                    <option value="7">Past 7 days</option>
                    <option value="30">Past 30 days</option>
                    <option value="90">Past 90 days</option>
                    <option value="365">Past 12 months</option>
                </select>
            </div>
            <h3>Site history</h3>
            <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                <canvas id="chart"></canvas>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
@section scripts {
    <script>

        $.get('/admin/stats/', function (data) {
            LoadStats(data);
            DoCharts(data);
        });

        $('body').on('change', '#history', function () { 
            $.get('/admin/stats/', function (data) {
                DoCharts(data);
            });
        });

        function DoCharts(data) {
            datasets = [];
            dataLabels = [];
            if (Number($('#history').val()) < 100) {

                labels = []

                // Content by day
                var content = data.content.days.slice(Math.max(data.content.days.length - Number($('#history').val()), 1));
                contentSet = [];
                content.forEach(function (element) {
                    contentSet.push(element.Value);
                    labels.push(element.Key);
                });

                datasets.push({
                    label: 'New Content',
                    data: contentSet,
                    borderColor: '#5bc0de',
                    borderWidth: 2
                });

                // users by day
                var users = data.users.days.slice(Math.max(data.content.days.length - Number($('#history').val()), 1));
                contentSet = [];
                users.forEach(function (element) {
                    contentSet.push(element.Value);
                });

                datasets.push({
                    label: 'New Users',
                    data: contentSet,
                    borderColor: '#5cb85c',
                    borderWidth: 2
                });

                // subs by day
                var subs = data.subs.days.slice(Math.max(data.content.days.length - Number($('#history').val()), 1));
                contentSet = [];
                subs.forEach(function (element) {
                    contentSet.push(element.Value);
                });

                datasets.push({
                    label: 'New Subscriptions',
                    data: contentSet,
                    borderColor: '#f0ad4e',
                    borderWidth: 2
                });

                // Properties by day
                var properties = data.properties.days.slice(Math.max(data.content.days.length - Number($('#history').val()), 1));
                contentSet = [];
                properties.forEach(function (element) {
                    contentSet.push(element.Value);
                });

                datasets.push({
                    label: 'New Properties',
                    data: contentSet,
                    borderColor: '#8892d6',
                    borderWidth: 2
                });

                dataLabels = labels;
            }
            else {
                // 12 months
                labels = []

                // Content by day
                contentSet = [];
                data.content.months.forEach(function (element) {
                    contentSet.push(element.Value);
                    labels.push(element.Key);
                });

                datasets.push({
                    label: 'New Content',
                    data: contentSet,
                    borderColor: '#5bc0de',
                    borderWidth: 2
                });

                // users by day
                contentSet = [];
                data.users.months.forEach(function (element) {
                    contentSet.push(element.Value);
                });

                datasets.push({
                    label: 'New Users',
                    data: contentSet,
                    borderColor: '#78c350',
                    borderWidth: 2
                });

                // subs by day
                contentSet = [];
                data.subs.months.forEach(function (element) {
                    contentSet.push(element.Value);
                });

                datasets.push({
                    label: 'New Subscriptions',
                    data: contentSet,
                    borderColor: '#f0ad4e',
                    borderWidth: 2
                });

                // Properties by day
                contentSet = [];
                data.properties.months.forEach(function (element) {
                    contentSet.push(element.Value);
                });

                datasets.push({
                    label: 'New Properties',
                    data: contentSet,
                    borderColor: '#8892d6',
                    borderWidth: 2
                });

                dataLabels = labels;
            }
            
            var ctx = document.getElementById("chart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dataLabels,
                    datasets: datasets
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }

        function LoadStats(data) {
            $('.content-totalPosts').text(data.content.totalPosts);
            $('.content-totalPublished').text(data.content.totalPublished);

            $('.users-totalUsers').text(data.users.totalUsers);
            $('.users-totalAdmins').text(data.users.totalAdmins);

            $('.subs-active').text(data.subs.active);
            $('.subs-trials').text(data.subs.trials);

            $('.properties-totalPosts').text(data.properties.totalPosts);
            $('.properties-totalPublished').text(data.properties.totalPublished);

            for (i = 0; i < data.content.byType.length; i++) {
                $('.content-' + data.content.byType[i].typeName + '-total').text(data.content.byType[i].total);
            }

            $('[data-plugin="counterup"]').counterUp({
                delay: 10,
                time: 2000
            });
        }
    </script>}
