@model Log
<div class="card p-2 mb-2 hover">
    <div class="row row-center">
        <div class="col-1">
            @switch (Model.Type)
            {
                case LogType.Success:
                    <span class="badge badge-success">Success</span>
                    break;
                case LogType.Error:
                    <span class="badge badge-danger">Error</span>
                    break;
                case LogType.Warning:
                    <span class="badge badge-warning">Warning</span>
                    break;
                case LogType.Info:
                    <span class="badge badge-info">Info</span>
                    break;
            }
        </div>
        <div class="col-auto">
            <div>@Model.Time.ToDisplay()</div>
        </div>
        <div class="col">
            <div><strong>@Model.Title</strong></div>
        </div>
        <div class="col-auto text-right">
            <div>
                <span class="badge badge-default">@Model.Source</span>
            </div>
        </div>
        <a data-toggle="modal" href="@string.Format("#log-{0}", Model.Id)" class="full-box-link"></a>
    </div>
    <div class="modal fade modal-right" id="@string.Format("log-{0}", Model.Id)" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-blade" role="document">
            <div class="modal-content">
                @switch (Model.Type)
                {
                    case LogType.Success:
                        <div class="modal-header bg-success text-white">
                            <h5 class="modal-title">
                                Success
                            </h5> 
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        break;
                    case LogType.Error:
                        <div class="modal-header bg-danger text-white">
                            <h5 class="modal-title">
                                Error
                            </h5> 
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        break;
                    case LogType.Warning:
                        <div class="modal-header bg-warning text-white">
                            <h5 class="modal-title">
                                Warning
                            </h5> 
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        break;
                    case LogType.Info:
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">
                                Info
                            </h5> 
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        break;
                }
                <div class="modal-body">
                    <div class="form-group">
                        <label>Message</label>
                        <p class="h5">
                            @Model.Title
                        </p>
                    </div>
                    @if (Model.Source.IsSet())
                    {
                        <div class="form-group">
                            <label>Source</label>
                            <p class="h5">
                                @Model.Source
                            </p>
                        </div>
                    }
                    <div class="form-group">
                        <label>Date &amp; Time</label>
                        <p class="h5">
                            @Model.Time.ToDisplay()
                        </p>
                    </div>
                    @if (Model.Detail.IsSet())
                    {
                        <div class="form-group">
                            <label>Detail</label>
                            <div class="code-viewer p-2 bg-gray text-white" style="font-family:monospace;">
                                @Html.Raw(Model.Detail.AddHtmlBreaks().ToFormattedJson())
                            </div>
                        </div>
                    }
                    @if (Model.Exception != null)
                    {
                        <div class="form-group">
                            <label>Detail</label>
                            <div class="code-viewer p-2 bg-gray text-white" style="font-family:monospace;">
                                @Html.Raw(Model.Detail.ToFormattedJson())
                            </div>
                        </div>
                    }
                    @if (Model.User != null)
                    {
                        <div class="form-group">
                            <label>User</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">
                                    <a asp-action="Edit" asp-controller="Users" asp-route-id="@Model.User.Id">
                                        @Model.User.ToFullName()
                                    </a>
                                </p>
                            </div>
                        </div>
                    }
                    @if (Model.SourceUrl.IsSet())
                    {
                        <div class="form-group">
                            <label>Source Url</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">
                                    <a href="@Model.SourceUrl">
                                        @Model.SourceUrl
                                    </a>
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
