@model Content
<h5 class="mt-2 mb-0">Featured & Sharer Images</h5>
<p>Set images for this content. You can enable/disable these images for this content type in <a asp-action="Content" asp-controller="Settings">content settings</a>.</p>
@if (Model.Type.ShowImage)
{
    <input type="hidden" asp-for="FeaturedImageJson">
    <div class="form-group row align-items-center g-3">
        <div class="col-2">
            <div style="background-image:url(@Model.FeaturedImage.SmallUrl)" class="img img-full img-square round m-0 FeaturedImage" id="content-feature-image"
                 media-for="FeaturedImage"
                 media-json="FeaturedImageJson"
                 media-refresh=".FeaturedImage"
                 media-url="@Url.Action("UploadMedia", "Content", new { id = Model.Id, field = nameof(Model.FeaturedImage) })"></div>
        </div>
        <div class="col">
            <h6>Featured Image</h6>
            <p>Choose a featured image for this @Model.Type.TypeName. This will appear in content lists, and as the main featured image.</p>
            <a class="btn btn-success btn-sm"
               media-for="FeaturedImage"
               media-json="FeaturedImageJson"
               media-refresh=".FeaturedImage"
               media-url="@Url.Action("UploadMedia", "Content", new { id = Model.Id, field = nameof(Model.FeaturedImage) })">
                Choose...
            </a>
        </div>
    </div>
}
@if (Model.Type.ShowBanner)
{
    <hr class="mt-4 mb-4" />
    <input type="hidden" asp-for="ShareImageJson">
    <div class="form-group row align-items-center g-3">
        <div class="col-2">
            <div style="background-image:url(@Model.ShareImage.SmallUrl)" class="img img-full img-square round m-0 ShareImage" id="content-share-image"
                 media-for="ShareImage"
                 media-json="ShareImageJson"
                 media-refresh=".ShareImage"
                 media-url="@Url.Action("UploadMedia", "Content", new { id = Model.Id, field = nameof(Model.ShareImage) })"></div>
        </div>
        <div class="col">
            <h6>Sharer Image</h6>
            <p>Choose a sharer image for this @Model.Type.TypeName. This will appear when shared in social media, or in links, this will override the featured image if one is set.</p>
             <a class="btn btn-success btn-sm"
                 media-for="ShareImage"
                 media-json="ShareImageJson"
                 media-refresh=".ShareImage"
                 media-url="@Url.Action("UploadMedia", "Content", new { id = Model.Id, field = nameof(Model.ShareImage) })">
                Choose...
            </a>
       </div>
    </div>
}
@{
    var imageSettings = Model.Metadata.Where(c => c.IsImageSetting).OrderBy(cm => cm.Name);
}
@if (imageSettings.Count() > 0)
{
    <hr class="mt-4 mb-4" />
    <h5 class="mb-0">Image Settings</h5>
    <p>These image settings will dictate how the featured image is displayed in standard templates.</p>
    foreach (ContentMeta cm in imageSettings)
    {
        if (Model.Type.ShowImage && cm.Name.Contains("Featured"))
        {
            <partial name="_Editor_Metadata" model="cm" />
        }
    }
}
