@model ContentType
@{
    Layout = "_Layout";
    ViewData["Title"] = "Content Type Settings";
}
@section breadcrumbs {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item text-decoration-none active" aria-current="page"><a asp-action="Index" asp-controller="Home" asp-route-area="Admin">Home</a></li>
            <li class="breadcrumb-item text-decoration-none active" aria-current="page"><a asp-action="Index" asp-controller="ContentType" asp-route-area="Admin">Content Types</a></li>
            <li class="breadcrumb-item active" aria-current="page"><i class="fa @Model.Icon me-2"></i>@Model.TypeNamePlural</li>
        </ol>
    </nav>
}
@section buttons {
    @if (User.IsAdminOrBetter())
    {
        <a asp-action="ResetContent" class="btn btn-danger warning-alert" data-warning="This will completely reset these settings to their default state, are you sure!?"><i class="fa fa-refresh"></i> Reset to Default</a>
    }
    <a href="javascript:document.getElementById('settings-form').submit()" class="btn btn-success">
        <i class="fa fa-save"></i> Save
    </a>
}
<form method="post" id="settings-form">
    <alert type="@Model.MessageType" size="Medium" icon="fa-save">@Model.SaveMessage</alert>
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <ul class="nav nav-tabs card-header-tabs" role="tablist" id="page-tabs" data-hood-tabs="@($"tabs-content-type-{Model.Type}")">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#type" role="tab" aria-controls="fields" aria-selected="false">
                            Type Settings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#editor" role="tab" aria-controls="editor" aria-selected="false">
                            Editor Settings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#meta" role="tab" aria-controls="meta" aria-selected="false">
                            Default Meta Titles
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#fields" role="tab" aria-controls="fields" aria-selected="false">
                            Custom Fields
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="tab-content">
                <div id="type" class="tab-pane active" role="tabpanel" aria-labelledby="type-label">
                    <div class="form-floating mb-3">
                        @if (Model.BaseName == "Page")
                        {
                            <input asp-for="Type" class="form-control" type="hidden">
                            <input asp-for="Type" class="form-control" disabled>
                        }
                        else
                        {
                            <input asp-for="Type" class="form-control restrict-to-slug" />
                        }
                        <label asp-for="Type"></label>
                        <small asp-for="Type"></small>
                        <span class="text-danger">Changing this will affect external linking, and may cause data loss.</span>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input asp-for="Enabled" class="form-check-input">
                            <label asp-for="Enabled" class="form-check-label d-block"></label>
                            <small asp-for="Enabled"></small>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        @if (Model.BaseName == "Page")
                        {
                            <input asp-for="BaseName" class="form-select" type="hidden">
                            <input asp-for="BaseName" class="form-control" disabled>
                        }
                        else
                        {
                            <select asp-for="BaseName" class="form-select">
                                <option value="Default">Basic Content (Default)</option>
                                @foreach (var t in ContentTypes.All.Where(c => c.BaseName != "Page"))
                                {
                                    <option value="@t.BaseName">@t.BaseName</option>
                                }
                            </select>
                        }
                        <label asp-for="BaseName"></label>
                        <small asp-for="BaseName"></small>
                    </div>
                    <hr class="mt-4 mb-4" />
                    <div class="form-floating mb-3">
                        @if (Model.BaseName == "Page")
                        {
                            <input asp-for="Slug" class="form-control" type="hidden">
                            <input asp-for="Slug" class="form-control" disabled>
                        }
                        else
                        {
                            <input asp-for="Slug" class="form-control restrict-to-slug" />
                        }
                        <label asp-for="Slug"></label>
                        <small asp-for="Slug"></small>
                        <span class="text-danger">Changing this will affect external linking, and may cause data loss.</span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Title" class="form-control" />
                        <label asp-for="Title"></label>
                        <small asp-for="Title"></small>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="TypeName" class="form-control" />
                        <label asp-for="TypeName"></label>
                        <small asp-for="TypeName"></small>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="TypeNamePlural" class="form-control" />
                        <label asp-for="TypeNamePlural"></label>
                        <small asp-for="TypeNamePlural"></small>
                    </div>
                    <hr class="mt-4 mb-4" />

                    <div data-hood-icon>
                        <label asp-for="Icon" class="fw-bold mb-2"></label>
                        <div id="Types-IconDisplay" class="p-3 border rounded" data-bs-toggle="collapse" href="#Types-IconSelector">
                            <span data-hood-icon-display>@Html.Raw($"<i class='fa {Model.Icon} me-2'></i> {Model.Icon.Replace("fa-", "").Replace("-", " ").ToTitleCase()}")</span>
                        </div>
                        <small asp-for="Icon" class="text-info d-block mb-3"></small>
                        <div id="Types-IconSelector" class="card bg-light collapse mb-3 p-3" style="max-height:400px;overflow-y:auto;overflow-x:hidden;">
                            <input asp-for="Icon" type="hidden" data-hood-icon-input />
                            <div class="row g-2">
                                @foreach (var icon in FontAwesome.Icons)
                                {
                                    <div class="col-3 col-sm-2 col-xl-1">
                                        <div class="card py-3 hover text-center mb-1 @(icon.Key == Model.Icon ? "active" : "")"
                                             data-hood-icon-key="@icon.Key"
                                             data-hood-icon-value="@icon.Value">
                                            <i class="fa-2x fa @icon.Key"></i>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div media-select="NoImage" media-fit="cover"></div>
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input asp-for="IsPublic" class="form-check-input">
                            <label asp-for="IsPublic" class="form-check-label d-block"></label>
                            <small asp-for="IsPublic"></small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input asp-for="HasPage" class="form-check-input">
                            <label asp-for="HasPage" class="form-check-label d-block"></label>
                            <small asp-for="HasPage"></small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input asp-for="HideAuthor" class="form-check-input">
                            <label asp-for="HideAuthor" class="form-check-label d-block"></label>
                            <small asp-for="HideAuthor"></small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input asp-for="CachedByType" class="form-check-input">
                            <label asp-for="CachedByType" class="form-check-label d-block"></label>
                            <small asp-for="CachedByType"></small>
                        </div>
                    </div>
                    <div class="card mt-4 border-danger">
                        <div class="card-body">
                            <h4 class="text-danger mb-2">Delete this type?</h4>
                            <p class="text-danger mb-2">This will delete this content type, you will no longer be able to access or manage this type, however anything saved to the database will remain. You should clear all the content before deleting this if you wish to.</p>
                            <p class="mb-0">
                                <a asp-action="Delete" asp-route-id="@Model.Type" class="btn btn-danger warning-alert" data-warning="This will delete this content type, you will no longer be able to access or manage this type, however anything saved to the database will remain. You should clear all the content before deleting this if you wish to. Are you sure you wish to continue!?">
                                    <i class="fa fa-trash-o"></i> Delete this Content Type
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="editor" class="tab-pane" role="tabpanel" aria-labelledby="editor-tab">
                    <div class="form-floating mb-3">
                        <input asp-for="TitleName" class="form-control" />
                        <label asp-for="TitleName"></label>
                        <small asp-for="TitleName"></small>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="ExcerptName" class="form-control" />
                        <label asp-for="ExcerptName"></label>
                        <small asp-for="ExcerptName"></small>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input asp-for="MultiLineExcerpt" class="form-check-input">
                            <label asp-for="MultiLineExcerpt" class="form-check-label d-block"></label>
                            <small asp-for="MultiLineExcerpt"></small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input asp-for="RichTextExcerpt" class="form-check-input">
                            <label asp-for="RichTextExcerpt" class="form-check-label d-block"></label>
                            <small asp-for="RichTextExcerpt"></small>
                        </div>
                    </div>
                    <hr class="mt-4 mb-4" />
                    <div class="form-floating mb-3">
                        <select asp-for="UrlFormatting" class="form-select">
                            <option value="">Default</option>
                            <option value="news">Id Value with Slug</option>
                            <option value="news-title">Id Value with Title</option>
                        </select>
                        <label asp-for="UrlFormatting"></label>
                        <small asp-for="UrlFormatting"></small>
                    </div>
                    <hr class="mt-4 mb-4" />
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input asp-for="Templates" class="form-check-input">
                            <label asp-for="Templates" class="form-check-label d-block"></label>
                            <small asp-for="Templates"></small>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="TemplateFolder" class="form-select">
                            <option value="Templates">General Templates</option>
                            <option value="SliderTemplates">Slider Templates</option>
                        </select>
                        <label asp-for="TemplateFolder"></label>
                        <small asp-for="TemplateFolder"></small>
                    </div>
                    <hr class="mt-4 mb-4" />
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input asp-for="ShowImage" class="form-check-input">
                            <label asp-for="ShowImage" class="form-check-label d-block"></label>
                            <small asp-for="ShowImage"></small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input asp-for="ShowBanner" class="form-check-input">
                            <label asp-for="ShowBanner" class="form-check-label d-block"></label>
                            <small asp-for="ShowBanner"></small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input asp-for="Gallery" class="form-check-input">
                            <label asp-for="Gallery" class="form-check-label d-block"></label>
                            <small asp-for="Gallery"></small>
                        </div>
                    </div>
                    <hr class="mt-4 mb-4" />
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input asp-for="ShowCategories" class="form-check-input">
                            <label asp-for="ShowCategories" class="form-check-label d-block"></label>
                            <small asp-for="ShowCategories"></small>
                        </div>
                    </div>
                    <hr class="mt-4 mb-4" />
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input asp-for="ShowDesigner" class="form-check-input">
                            <label asp-for="ShowDesigner" class="form-check-label d-block"></label>
                            <small asp-for="ShowDesigner"></small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input asp-for="ShowPreview" class="form-check-input">
                            <label asp-for="ShowPreview" class="form-check-label d-block"></label>
                            <small asp-for="ShowPreview"></small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input asp-for="ShowEditor" class="form-check-input">
                            <label asp-for="ShowEditor" class="form-check-label d-block"></label>
                            <small asp-for="ShowEditor"></small>
                        </div>
                    </div>
                </div>
                <div id="meta" class="tab-pane" role="tabpanel" aria-labelledby="meta-tab">
                    <div class="form-floating mb-3">
                        <label asp-for="MetaTitle"></label>
                        <input asp-for="MetaTitle" class="form-control" />
                        <small asp-for="MetaTitle"></small>
                    </div>
                    <div class="form-floating mb-3">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" />
                        <small asp-for="Description"></small>
                    </div>
                </div>
                <div id="fields" class="tab-pane" role="tabpanel" aria-labelledby="fields-tab">
                    <p class="text-end">
                        <a class="btn btn-outline-success content-custom-field-create" asp-action="CreateField" asp-route-id="@Model.Type">
                            <i class="fa fa-plus-circle me-2"></i>Add field
                        </a>
                    </p>
                    <div id="content-custom-field-list" class="" data-url="@Url.Action("FieldList", new { id = Model.Type })">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
