@model ContentModel
@if (Model.List.Count == 0)
{
    <partial name="_NoResults" />
}
else
{
    <div class="accordion mb-4" id="faq-accordion">
        @foreach (ContentView content in Model.List)
        {
            <div class="card">
                <div class="card-header" role="tab" id="@string.Format("faq-heading-{0}", content.Id)">
                    <button class="btn btn-link p-0" role="button" data-toggle="collapse" aria-expanded="false"
                        data-target="@string.Format("#faq-collapse-{0}", content.Id)" 
                        aria-controls="@string.Format("faq-collapse-{0}", content.Id)">
                        @content.Title
                    </button>
                </div>
                <div class="collapse"           
                     id="@string.Format("faq-collapse-{0}", content.Id)"                                      
                     data-parent="#faq-accordion" 
                     aria-labelledby="@string.Format("faq-heading-{0}", content.Id)">
                    <div class="card-body">
                        @Html.Raw(content.Excerpt)
                    </div>
                </div>
            </div>
        }
    </div>
    <partial name="_Pagination" />
}
