@model PagedList<Content>
@inject IContentRepository _content
@if (Model != null && Model.List.Count > 0)
{
    @foreach (Content content in Model.List)
    {
        <div class="ratio ratio-16x9 mb-3">
            <div class="text-white d-flex flex-column justify-content-center text-center">
                <div style="background-image:url(@content.FeaturedImage.ThumbUrl);@content.GetImageStyle()" class="position-absolute top-0 start-0 end-0 bottom-0"></div>
                <div style="background-color:rgba(0,0,0,0.4)" class="position-absolute top-0 start-0 end-0 bottom-0"></div>
                <div class="position-relative">
                    <p class="lead my-3 text-white"><a class="text-white text-decoration-none" href="@content.Url"><strong>@content.Title</strong></a></p>
                    @switch (content.ContentType)
                    {
                        case "news":
                        case "blog":
                            <small>
                                <i class="me-2 fa fa-user"></i> <a class="text-white text-decoration-none" asp-action="Author" asp-route-author="@content.Author.UserName" asp-route-type="@content.ContentType">@content.Author.ToDisplayName()</a><br />
                                <i class="me-2 fa fa-clock"></i> @content.PublishDate.ToLongDateString()
                            </small>

                            break;
                        default:
                            <small>
                                <i class="me-2 fa fa-user"></i>@content.Author.ToDisplayName()<br />
                                <i class="me-2 fa fa-clock"></i>@content.PublishDate.ToLongDateString()
                            </small>
                            break;
                    }
                </div>
            </div>
        </div>
    }
}
