@model ContentModel
@{
    BasicSettings _basicSettings = Engine.Settings.Basic;
}
@if (Model.Content.Type.ShowAuthor)
{
    <hr />
    <div class="media">
        <div class="media-left">
            <fixedImage src="@Model.Content.Author.Avatar.SmallUrl" class="img-xs m-r-sm content-feature-@Model.Content.Id" alt="@Model.Content.Author.ToDisplayName()" />
        </div>
        <div class="media-body media-middle">
            <h6>
                @Model.Content.Author.ToDisplayName()
                @if (!string.IsNullOrEmpty(Model.Content.Author.JobTitle))
                {
                    <small>
                        @Model.Content.Author.JobTitle
                        @if (!string.IsNullOrEmpty(Model.Content.Author.CompanyName))
                        {
                            <span>at @Model.Content.Author.CompanyName</span>
                        }
                    </small>
                }
            </h6>
            @if (!string.IsNullOrEmpty(Model.Content.Author.Email))
            {
                <a href="mailto:@Model.Content.Author.Email" target="_blank"><i class="fa fa-envelope"></i></a>
            }
            @if (!string.IsNullOrEmpty(Model.Content.Author.Facebook))
            {
                <a href="@Model.Content.Author.Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            }
            @if (!string.IsNullOrEmpty(Model.Content.Author.Twitter))
            {
                <a href="@Model.Content.Author.Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            }
            @if (!string.IsNullOrEmpty(Model.Content.Author.LinkedIn))
            {
                <a href="@Model.Content.Author.LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
            }
            @if (!string.IsNullOrEmpty(Model.Content.Author.Instagram))
            {
                <a href="@Model.Content.Author.Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
            }
        </div>
    </div>
}
