@model ContentModel
@if (Model.List.Count == 0)
{
     <partial name="_NoResults" />
}
else
{
    <div class="row">
        @foreach (Content content in Model.List)
        {
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="thumbnail">
                    <a href="@content.Url"><fixedImage src="@content.FeaturedImage.MediumUrl" class="item-img content-feature-@content.Id" style="@content.GetImageStyle()" /></a>
                    <div class="caption">
                        <a href="@content.Url">
                            <h3>@content.Title</h3>
                        </a>
                        <p>@content.Excerpt</p>
                        <p><a href="@content.Url" class="btn btn-primary" role="button">Learn more...</a></p>
                    </div>
                </div>
            </div>
        }
    </div>
    <partial name="_Pagination" />
}