@model SubscriptionModel
@{
    ViewBag.Title = "Change your subscription";
    Layout = "_Layout";
    var currentSub = Model.User.Subscriptions.Where(us => !us.Subscription.Addon && (us.Status == "active" || us.Status == "trialing")).FirstOrDefault();

}
<div class="jumbotron">
    <div class="container">
        <h1>Change your subscription</h1>
        <p>Update your subscription to add more features or to change the amount you pay. You require an active subscription to access this area.</p>
    </div>
</div>
<div class="container">
    @{ await Html.RenderPartialAsync("_BillingMessage", Model.Message); }
        @if (Model.Customer?.Sources?.Data?.Count == 0)
        {
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="alert alert-warning">
                        <p><i class="fa fa-info-circle fa-4x m-r-xs"></i><br />You do not currently have an active payment source, such as a credit card, to continue your subscription after the current period you must add one to your account now.</p>
                        <p>
                            <a asp-action="AddCard" asp-controller="Billing" class="btn btn-lg btn-success"><i class="fa fa-credit-card m-r-xs"></i>Add Card</a>
                            <a asp-action="Index" asp-controller="Billing" class="btn btn-lg btn-default"><i class="fa fa-credit-card m-r-xs"></i>Manage Cards</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    <div class="row">
        @foreach (Subscription plan in Model.Plans.OrderBy(p => p.Amount))
        {
            var sub = Model.User.Subscriptions.Where(us => us.SubscriptionId == plan.Id && (us.Status == "active" || us.Status == "trialing")).FirstOrDefault();
            <div class="col-md-4 mb-30">
                <div class="thumbnail">
                    <div class="text-center">
                        <h4>@plan.Name</h4>
                    </div>
                    <hr>
                    <div class="p-md text-center">
                        <div class="font-lg">@plan.Price</div>
                        <div class="font-md">per @plan.Interval</div>
                    </div>
                    <hr>
                    <div class="p-lg">
                        @plan.Description
                    </div>
                    <hr>
                    <div class="p-lg text-center">
                        @if (sub != null)
                        {
                            // get the sub that matches
                            <p class="no-margin">You are curently on this package.</p>
                            if (!sub.CancelAtPeriodEnd)
                            {
                                <p><small class="text-success">Next charge: @plan.Price on @sub.CurrentPeriodEnd.Value.ToShortDateString()</small></p>
                            }
                            else
                            {
                                <p><small class="text-warning">Cancelling on @sub.CurrentPeriodEnd.Value.ToShortDateString()</small></p>
                            }
                        }
                        else
                        {

                            <a class="btn btn-md btn-default" asp-action="Upgrade" asp-route-id="@currentSub.UserSubscriptionId" asp-route-plan="@plan.Id">
                                @if (plan.Amount > currentSub.Subscription.Amount)
                                {
                                    <span>Upgrade</span>
                                }
                                else
                                {
                                    <span>Downgrade</span>
                                }
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

</div>