@model ContentListModel
@{ 
    string baseUrl = string.Format("admin/content/{0}/manage", Model.Type.Slug);
    string urlFormat = "/{0}?page={1}{2}";
    var query = "&pageSize=" + Model.Filters.pageSize;
    query += Model.Search.IsSet() ? "&search=" + Model.Search : "";
    query += Model.Category.IsSet() ? "&category=" + Model.Category : "";
    query += Model.Sort.IsSet() ? "&sort=" + Model.Sort : "";
}
<div div class="m-lg text-center">
    <ul class="pagination">
        @if (Model.Posts.CurrentPage > 1)
        {
            <li><a href="@string.Format(urlFormat, baseUrl, 1, query)" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span></a></li>
            <li><a href="@string.Format(urlFormat, baseUrl, Model.Posts.CurrentPage - 1, query)" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
        }
        @for (int i = Model.Posts.CurrentPage - 2; i <= Model.Posts.CurrentPage + 2; i++)
        {
            if (i > 0 && i <= Model.Posts.Pages)
            {
                if (i == Model.Posts.CurrentPage)
                {
                    <li class="active"><a href="@string.Format(urlFormat, baseUrl, i, query)">@i</a></li>
                }
                else
                {
                    <li><a href="@string.Format(urlFormat, baseUrl, i, query)">@i</a></li>
                }
            }
        }
        @if (Model.Posts.CurrentPage < Model.Posts.Pages)
        {
            <li><a href="@string.Format(urlFormat, baseUrl, Model.Posts.CurrentPage + 1, query)" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
            <li><a href="@string.Format(urlFormat, baseUrl,  Model.Posts.Pages + 1, query)" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span></a></li>
        }
    </ul>
</div>
