@model ApiKey
@{
    ViewBag.Title = "Your Api Key";
}
@if (Model.SaveMessage.IsSet())
{
    <alert type="@Model.MessageType" size="Medium" icon="fa-save">@Model.SaveMessage</alert>
}
<div class="row">
    <div class="col-md-8">
        <h3>Your Access Tokens &amp; URLs</h3>
        <div class="form-group">
            <label>Private Token</label>
            <p>Use this encoded token to authorise your API calls, as an Authorization header for POST endpoints only.</p>
            <div><textarea class="form-control">@Model.Token</textarea></div>
            <p>
                <small>
                    <strong>This token will expire on @DateTime.Now.AddDays(7).ToDisplay(true)</strong><br />
                </small>
            </p>
        </div>
        <div class="form-group">
            <label>Public Token</label>
            <p>Use this encoded token to authorise your API calls, as a querystring parameter for PUBLIC GET endpoints only, it will not work for POST API calls.</p>
            <div><textarea class="form-control">@Model.PublicToken</textarea></div>
            <p>
                <small>
                    <strong>This token will expire on @DateTime.Now.AddDays(7).ToDisplay(true)</strong><br />

                </small>
            </p>
        </div>
        <div class="m-b-lg">
            <h3>Using your API Key</h3>
            <p>You can use your API key to access any of the secured endpoints on the site, this will log you as the user of the endpoint. You can also use the encoded token to share links to various endpoints that can be used to grant priveleges to your users etc. For example, you can create a link to add your users to specified roles. As shown below with the "Forum" role, so if a user follows the link below, they will be added to the "Forum" role, which can be used to grant access to forums or sections of the site.</p>
            <h4>
                Example Endpoint
            </h4>
            <p>This link can be used to invite users to the Forum Access role, simply send your users to this URL:</p>
            @{
                var url = Url.AbsoluteAction("InviteRoleAsync", "Users", new { area = "Api", key = Model.PublicToken, role = "Forum" });
            }
            <div class="input-group">
                <input type="text" class="form-control" value="@url" placeholder="Add to forum role...">
                <span class="input-group-btn">
                    <a class="btn btn-default" href="@url">Go!</a>
                </span>
            </div>
            <p>
                <small>
                    <strong>This URL will expire on @DateTime.Now.AddDays(7).ToDisplay(true)</strong>
                </small>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Your API Key</h3>
        <p>You have been granted API access to the site, the following can be used to access the HoodCMS API.</p>
        <div class="form-group">
            <label>Api User</label>
            <div><input type="text" class="form-control" value="@Model.Id" /></div>
        </div>
        <div class="form-group">
            <label>Api Secret Key</label>
            <div><input type="text" class="form-control" value="@Model.Key" /></div>
            <p><small>Do not share this with ANYONE. This is private and should never be displayed outside your app or in any public areas.</small></p>
        </div>
    </div>
</div>
