@{
    BasicSettings _basicSettings  = Engine.Settings.Basic;
    IntegrationSettings _plugins = Engine.Settings.Integrations;
    Layout = "_Layout";
    Content currentContent = ViewData["Content"] as Content;
}
@section styles {
    @RenderSection("styles", required: false)
}
@section includes {
    @RenderSection("includes", required: false)
}
@section metas {
    @RenderSection("metas", required: false)
}
<section class="hero">
    @if (currentContent != null)
    {
        <fixedImage src="@currentContent.FeaturedImage.Url" class="background-image hood-image"></fixedImage>
    }
    else
    {
        <fixedImage src="https://cdn.jsdelivr.net/npm/hoodcms@4.1.2/images/bg/4.jpg" class="background-image hood-image"></fixedImage>
    }
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>@ViewData["Title"]</h1>
                    @if (currentContent != null)
                    {
                        <p>@currentContent.Excerpt</p>
                    }
                    else
                    {
                        <p>@ViewData["SubTitle"]</p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg-color-light-grey">
    <div class="container">
        <div class="m-t-lg m-b-lg">
            <partial name="_ContactForm" model="new ContactFormModel(true, true)" />
        </div>
    </div>
</div>
@if (_plugins.EnableGoogleMaps && _plugins.GoogleMapsApiKey.IsSet() && _basicSettings.Address.IsGeoLocated())
{
    <div class="google-map" data-lat="@_basicSettings.Address?.Latitude" data-long="@_basicSettings.Address?.Longitude" data-marker="@Engine.Settings.Basic.FullTitle" data-zoom="12"></div>
}
