@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;
@model EditUserModel
@{
    Layout = null;
    ApplicationUserApi mapi = new ApplicationUserApi(Model.User);
}
<div class="sidebar-container" id="user-blade-observable" data-id="@Model.User.Id">
    <div class="black-bg sidebar-title">
        <button type="button" class="close close-blade"><span>&times;</span></button>
        <fixedImage src="@mapi.Avatar.SmallUrl" class="img-sm img-rounded center-block m-sm m-t-lg @Model.User.Id" id="user-edit-avatar" />
        <div class="m-b-md text-center">
            <h2 class="font-bold no-margins text-white">
                <span>@Model.User.FullName</span>
            </h2>
            <small><span>@Model.User.JobTitle</span> at <span>@Model.User.CompanyName</span></small>
        </div>
    </div>
    <div class="setings-item">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">Profile Image</label>
                <div class="col-sm-8">
                    <fixedImage src="@mapi.Avatar.SmallUrl" class="img-xs img-circle m-r-sm @Model.User.Id" id="user-edit-avatar" />
                    <attacher dataid="@Model.User.Id" entity="ApplicationUser" field="AvatarId" type="image" refresh="/admin/users/getavatar" tag="@Model.User.Id" title="Choose a profile image for @Model.User.UserName" class="btn btn-xs btn-primary">Choose profile image...</attacher>
                    <a class="btn btn-xs btn-danger hood-inline-task" href="@Url.Action("ClearImage", "Users", new { area = "Api", id = Model.User.Id, field = "AvatarId" })" data-complete="$.hood.Content.Edit.Refresh()"><i class="fa fa-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="setings-item">
        <div class="form-horizontal">
            <boundField field-type="text" db-object="selectedModel" db-field="FirstName" field-name="First Name" db-value="@Model.User.FirstName" form-layout="horizontal" />
            <boundField field-type="text" db-object="selectedModel" db-field="LastName" field-name="Last Name" db-value="@Model.User.LastName" form-layout="horizontal" />
            <boundField field-type="text" db-object="selectedModel" db-field="JobTitle" field-name="Job Title" db-value="@Model.User.JobTitle" form-layout="horizontal" />
            <boundField field-type="text" db-object="selectedModel" db-field="CompanyName" field-name="Company Name" db-value="@Model.User.CompanyName" form-layout="horizontal" />
        </div>
    </div>
    <div class="setings-item">
        <div class="row">
            <div class="col-xs-6">
                <boundField field-type="text" db-object="selectedModel" db-field="Phone" field-name="Phone" db-value="@Model.User.Phone" />
            </div>
            <div class="col-xs-6">
                <boundField field-type="text" db-object="selectedModel" db-field="Mobile" field-name="Mobile" db-value="@Model.User.Mobile" />
            </div>
        </div>
    </div>
    <div class="setings-item">
        <boundField field-type="textarea" db-object="selectedModel" db-field="Notes" field-name="Notes" db-value="@Model.User.Notes" />
    </div>
    <div class="setings-item">
        <button type="button" class="btn btn-primary" data-bind="click: save, enabled: hasChanges"><i class="fa fa-save"></i> Save</button>
        <button type="button" class="btn btn-default close-blade"><i class="fa fa-ban"></i> Cancel</button>
    </div>
</div>
