@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;
@model EditUserModel
@{
    ViewBag.Title = "Edit User: " + Model.User.UserName;
    BasicSettings _basicSettings = _settings.GetBasicSettings();
}
@section buttons {
    @if (Model.User.StripeId.IsSet())
    {
        <a class="btn btn-info" target="_blank" href="@string.Format("https://dashboard.stripe.com{0}/customers/{1}", _settings.GetBillingSettings().EnableStripeTestMode? "/test" : "", Model.User.StripeId)">
            <i class="fa fa-cc-stripe"></i><span>&nbsp;View on Stripe</span>
        </a>
    }
    <a class="btn btn-default reset-password"><i class="fa fa-lock"></i> Reset Password</a>
    <a class="btn btn-warning" asp-action="Impersonate" asp-route-id="@Model.User.Id"><i class="fa fa-user-secret"></i> Impersonate</a>
    <a href="javascript:document.getElementById('edit-user-form').submit()" class="btn btn-success"><i class="fa fa-save"></i> Save Profile</a>
}
@section breadcrumbs {
    <ol class="breadcrumb">
        <li>
            <a href="/admin">Home</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Users" asp-route-area="Admin">
                <i class="fa fa-users"></i> Users
            </a>
        </li>
        <li class="active">
            <strong>@ViewBag.Title</strong>
        </li>
    </ol>
}
@if (Model.SaveMessage.IsSet())
{
    @Html.BootstrapAlert(Model.SaveMessage, Model.MessageType);
}
<form asp-action="Edit" asp-route-id="@Model.User.Id" method="post" id="edit-user-form" data-id="@Model.User.Id">
    @if (Model.SaveMessage.IsSet())
    {
        @Html.BootstrapAlert(Model.SaveMessage, Model.MessageType);
    }
    <div class="row">
        <div class="col-md-8">
            <div class="tabs-container m-b-lg">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#info" aria-expanded="true"> Basics</a></li>
                    <li><a data-toggle="tab" href="#socials"> Socials</a></li>
                    <li><a data-toggle="tab" href="#bio"> Bio</a></li>
                    <li><a data-toggle="tab" href="#subscriptions"> Subscriptions</a></li>
                    <li><a data-toggle="tab" href="#accesscodes"> Access codes</a></li>
                </ul>
                <div class="tab-content">
                    <div id="info" class="tab-pane active">
                        <div class="panel-body">
                            <h5>Basic Profile &amp; Contact Info</h5>
                            <fieldset class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" asp-for="User.UserName"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" asp-for="User.UserName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" asp-for="User.Email"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" asp-for="User.Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" asp-for="User.FirstName"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" asp-for="User.FirstName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" asp-for="User.LastName"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" asp-for="User.LastName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" asp-for="User.JobTitle"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" asp-for="User.JobTitle">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" asp-for="User.CompanyName"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" asp-for="User.CompanyName">
                                    </div>
                                </div>
                            </fieldset>
                            <hr />
                            <fieldset class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" asp-for="User.ClientCode"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" asp-for="User.ClientCode">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" asp-for="User.VATNumber"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" asp-for="User.VATNumber">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div id="socials" class="tab-pane">
                        <div class="panel-body">
                            <h5>
                                Social Media Accounts
                            </h5>
                            <fieldset class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" asp-for="User.Facebook"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" asp-for="User.Facebook">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" asp-for="User.GooglePlus"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" asp-for="User.GooglePlus">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" asp-for="User.LinkedIn"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" asp-for="User.LinkedIn">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" asp-for="User.Twitter"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" asp-for="User.Twitter">
                                    </div>
                                </div>
                            </fieldset>
                            <hr />
                            <fieldset class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" asp-for="User.TwitterHandle"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" asp-for="User.TwitterHandle">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" asp-for="User.WebsiteUrl"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" asp-for="User.WebsiteUrl">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div id="bio" class="tab-pane">
                        <div class="panel-body">
                            <h5>
                                Bio and Notes
                            </h5>
                            <div class="form-group">
                                <label class="control-label" asp-for="User.Bio"></label>
                                <div class="">
                                    <textarea type="text" class="form-control" asp-for="User.Bio"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" asp-for="User.Notes"></label>
                                <div class="">
                                    <textarea type="text" class="form-control" asp-for="User.Notes"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="subscriptions" class="tab-pane">
                        <div class="panel-body">
                            <h5>Active Subscriptions</h5>
                            <div class="tag-list">
                                @{ var subs = Model.User.Subscriptions.Where(s => s.Status == "active" || s.Status == "trialing"); }
                                @foreach (var sub in subs)
                                {
                                    <ul>
                                        <li>
                                            <div class="pull-right">
                                                <a class="btn btn-info btn-xs" target="_blank" href="@string.Format("https://dashboard.stripe.com{0}/subscriptions/{1}", _settings.GetBillingSettings().EnableStripeTestMode? "/test" : "", sub.StripeId)">View on Stripe</a>
                                            </div>
                                            <p>
                                                @sub.StripeId -
                                                @if (sub.Status == "active")
                                                {
                                                    <span class="label label-success">@sub.Status</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-warning">@sub.Status</span>
                                                }
                                                <span class="label label-default">Next cycle: @sub.CurrentPeriodEnd.Value.ToDisplay()</span>
                                            </p>
                                        </li>
                                    </ul>
                                }
                                @if (subs.Count() == 0)
                                {
                                    @Html.BootstrapAlert("No active subscriptions.", AlertType.Info, false)
                                }
                            </div>
                            <hr />
                            <h5>Inactive Subscriptions</h5>
                            <div class="tag-list">
                                @{ subs = Model.User.Subscriptions.Where(s => s.Status != "active" && s.Status != "trialing"); }
                                @foreach (var sub in subs)
                                {
                                    <ul>
                                        <li>
                                            <div class="pull-right">
                                                <a class="btn btn-danger btn-xs" asp-action="CancelUserSubscription" id="@sub.SubscriptionId">Cancel Subscription</a>
                                                <a class="btn btn-info btn-xs" target="_blank" href="@string.Format("https://dashboard.stripe.com{0}/subscriptions/{1}", _settings.GetBillingSettings().EnableStripeTestMode? "/test" : "", sub.StripeId)">View on Stripe</a>
                                            </div>
                                            <p>
                                                @sub.StripeId -
                                                @if (sub.Status == "active")
                                                {
                                                    <span class="label label-success">@sub.Status</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-warning">@sub.Status</span>
                                                }
                                                <span class="label label-default">Next cycle: @sub.CurrentPeriodEnd.Value.ToDisplay()</span>
                                            </p>
                                        </li>
                                    </ul>
                                }
                                @if (subs.Count() == 0)
                                {
                                    @Html.BootstrapAlert("No inactive subscriptions.", AlertType.Info, false)
                                }
                            </div>
                        </div>
                    </div>
                    <div id="accesscodes" class="tab-pane">
                        <div class="panel-body">
                            <h5>Access Codes</h5>

                            <div class="tag-list">
                                @foreach (var code in Model.User.AccessCodes)
                                {
                                    <ul>
                                        <li>
                                            <p>
                                                @code.Type - @code.Code - @code.Expiry.ToDisplay()
                                            </p>
                                        </li>
                                    </ul>
                                }
                                @if (Model.User.AccessCodes.Count() == 0)
                                {
                                    @Html.BootstrapAlert("No access codes.", AlertType.Info, false)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel-body">
                <h4 class="font-bold text-center">
                    <span>@Model.User.FullName</span>
                </h4>
                <p class="no-margin">
                    <button type="submit" class="btn btn-success btn-block no-margin"><i class="fa fa-save m-r-xs"></i> Save User Profile</button>
                </p>
            </div>
            <div class="panel-body small">
                <h4>Avatar</h4>
                <fieldset class="form-horizontal">
                    <div class="form-group row-center">
                        <label class="col-sm-4 text-right">Avatar</label>
                        <div class="col-sm-8">
                            <fixedImage src="@Model.User.Avatar.SmallUrl" class="img-xs img-circle m-r-sm @Model.User.Id" id="user-edit-avatar" />
                            <attacher dataid="@Model.User.Id" entity="ApplicationUser" field="Avatar" type="image" refresh="/admin/users/getavatar" tag="@Model.User.Id" class="btn btn-xs btn-primary">Choose profile image...</attacher>
                            <a class="btn btn-xs btn-danger hood-inline-task" asp-action="ClearImage" asp-controller="Users" asp-area="Admin" asp-route-id="@Model.User.Id" data-complete="$.hood.Uploader.RefreshImage('.@Model.User.Id', '/admin/users/getavatar', '@Model.User.Id')"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="panel-body small">
                <h4>User Roles</h4>
                <div class="category-list">
                    @foreach (var role in Model.AllRoles)
                    {
                        <div class="checkbox">
                            <input class="styled role-check" id="role-check-@role.Id" name="role-check-@role.Id" type="checkbox" data-id="@Model.User.Id" value="@role" @(Model.Roles.Contains(role.Name) ? "checked" : "")>
                            <label for="category-check-@role.Id">
                                @role.Name.CamelCaseToString()
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</form>
