@model Subscription
@if (!User.IsSubscribedToProduct(Model.SubscriptionProductId))
{
    <div class="charge-button">
        <a class="btn btn-sm btn-primary price-button" asp-action="Buy" asp-route-id="@Model.Id" asp-route-title="@Model.Name.ToSeoUrl()" asp-route-returnUrl="@Context.Request.Path" asp-controller="Subscriptions">
            <span class="price">@Model.Price</span>
            <span>per @Model.Interval</span>
        </a>
    </div>
}
else
{
    var sub = User.GetActiveSubscription(Model.SubscriptionProductId);
    if (User.IsSubscribed(Model.Id))
    {
        <div class="charge-button">
            <p>
                You are curently on this package:
            </p>
            <small class="text-info price-select price-button active">
                @if (!sub.CancelAtPeriodEnd)
                {
                    <span class="text-success">Next Charge:</span>
                    <span class="text-success">@Model.Price on @sub.CurrentPeriodEnd.Value.ToDisplay()</span>
                }
                else
                {
                    <span class="text-danger">Cancelling</span>
                    <span class="text-danger">Cancelling on @sub.CurrentPeriodEnd.Value.ToDisplay()</span>
                }
            </small>
        </div>
    }
    else
    {
        <div class="charge-button">
            <p>
                Change to this package:
            </p>
            <a class="btn btn-sm btn-primary price-select price-button confirm" asp-action="Change" asp-route-id="@sub.Id" asp-route-planId="@Model.Id"
               data-warning="Are you sure you want to change your subscription? Your account will be immediately charged for the new subscription, and any trial you have remaining will be removed from your account.">
                <span class="price">@Model.Price</span>
                <span>per @Model.Interval</span>
            </a>
        </div>
    }
}
