@model SubscriptionProductsModel
@{
    ViewBag.Title = "Purchase Subscriptions";
    ViewBag.SubTitle = "You can add subscription packages to your Hood CMS website and connect them to a Stripe account so you can charge your customers to access areas of the site, manage your regular billing or provide ongoing services.";

    Layout = "_Layout_Basic";
}
<div class="container">
    @if (Model.SaveMessage.IsSet())
    {
        <alert type="@Model.MessageType" size="Medium" icon="fa-save">@Model.SaveMessage</alert>
    }
    @if (Model.Products.Count() == 0)
    {
        <alert type="Warning" size="Medium" icon="fa-exclamation-triangle">There are no subscription products added to the site yet.</alert>
    }
    else
    {
        foreach (var product in Model.Products)
        {
            <h3>
                <a asp-action="Product" asp-route-id="@product.Id" asp-route-title="@product.DisplayName.ToSeoUrl()">
                    @product.DisplayName
                </a>
            </h3>
            <div class="row">
                @foreach (Subscription plan in product.Subscriptions.OrderBy(s => s.Level))
                {
                    <partial name="_Template_Plan" model="plan" />
                }
            </div>
        }
    }
</div>
