@model StartupException
@{
    string uid = Guid.NewGuid().ToString();
}
<a class="text-danger mb-2 text-decoration-none" type="button" data-bs-toggle="modal" data-bs-target="#modal-@uid">
    <i class="fa fa-exclamation-triangle me-2"></i><strong>@Model.Message</strong>
</a>
<div class="modal fade" id="modal-@uid" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class="mb-3">Error Type: @Model.Error.ToString().CamelCaseToString()</h6>
                <div class="p-2 card" style="font-family:monospace;white-space:nowrap;width:100%;overflow:auto;max-height:50vh;">
                    @Html.Raw(Model.StackTrace.AddHtmlLineBreaks())
                </div>
                @if (Model.InnerException != null)
                {
                    <h6 class="my-3"><strong>Inner Exception:</strong> @Model.InnerException.Message</h6>
                    <div class="p-2 card" style="font-family:monospace;white-space:nowrap;width:100%;overflow:auto;max-height:50vh;">
                        @Html.Raw(Model.InnerException.StackTrace.AddHtmlLineBreaks())
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>