@model ApiKeyModel
@{
    ViewBag.Title = "Manage Api Keys";
}
@section buttons {
    <button class="btn btn-success btn-sm create-api-key">
        <i class="fa fa-plus-circle m-r-sm"></i>Create New
    </button>
}
@section breadcrumbs {
    <ol class="breadcrumb">
        <li>
            <a href="/admin">Home</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Forum" asp-route-area="Admin">
                <i class="fa fa-comments m-r-xs"></i>
                Manage Api Keys
            </a>
        </li>
    </ol>
}
@if (Model.SaveMessage.IsSet())
{
    @Html.BootstrapAlert(Model.SaveMessage, Model.MessageType);
}
<div class="panel-body">
    <form>
        <div class="row m-b-sm m-t-sm">
            <div class="col-md-6">
                <select class="form-control submit-on-change" asp-for="Order" name="sort">
                    <option value="date+desc">Newest First</option>
                    <option value="date">Oldest First</option>
                    <option value="name">By Title (A-Z)</option>
                    <option value="name+desc">By Title (Z-A)</option>
                </select>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input asp-for="Search" name="search" type="text" placeholder="Search" class="form-control">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary"> Search!</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    @if (Model.List.Count > 0)
    {
        @foreach (var key in Model.List)
        {
            <div class="data-item">
                <div class="row row-center">
                    <div class="col-md-4">
                        <a class="forum-item-title" asp-action="Edit" asp-route-id="@key.Id">
                            @key.Name
                            @if (key.Active)
                            {
                                <small class="txt-color-greenLight">Active</small>
                            }
                            else
                            {
                                <small class="txt-color-red">Deactivated</small>
                            }
                        </a>
                        <small>Created on <i class="fa fa-clock-o"></i> @key.CreatedOn.ToDisplay()</small><br />
                    </div>
                    <div class="col-md-2 visible-lg">
                        <p class="small font-bold">Key</p>
                        <p><strong>@key.Key</strong></p>
                    </div>
                    <div class="col-md-2 visible-lg visible-md">
                        <p class="small font-bold">Access Level</p>
                        <p><strong>@key.AccessLevel</strong></p>
                    </div>
                    <div class="col-md-1 visible-lg visible-md">
                        <span class="small font-bold">Owner</span>
                        <div class="tag-list">
                            <span class="tag-item">@key.User?.FullName</span>
                        </div>
                    </div>
                    <div class="col-md-3 text-right">
                        @if (!key.Active)
                        {
                            <a class="activate-api-key btn btn-sm btn-success" data-id="@key.Id">
                                <i class="fa fa-thumbs-up m-r-xs"></i>
                                <span>
                                    Activate
                                </span>
                            </a>
                        }
                        else
                        {
                            <a class="deactivate-api-key btn btn-sm btn-warning" data-id="@key.Id">
                                <i class="fa fa-archive m-r-xs"></i>
                                <span>
                                    Deactivate
                                </span>
                            </a>
                        }
                        <a class="btn-danger btn btn-sm delete-api-key" data-id="@key.Id">
                            <i class="fa fa-edit m-r-xs"></i>
                            <span>
                                Delete
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        }
        <div class="text-center">
            @{ await Html.RenderPartialAsync("_Pagination"); }
        </div>
    }
    else
    {
        <div class="alert alert-info">
            <p class="text-center m-t-xs m-b-lg">There are no api keys yet, click "Create New" to add the first key.</p>
        </div>
    }
</div>
