@model CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}
<div class="container">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#cart" aria-expanded="true" aria-controls="cart">
                        Your Cart
                    </a>
                </h4>
            </div>
            <div id="cart" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="hood-inline hood-inline-cart" data-loading="#cart-loading-content" data-url="@Url.Action("Cart", "Cart")"></div>
                    <div class="hidden" id="cart-loading-content">
                        <div class="alert alert-info">
                            <p class="text-center">
                                <i class="fa fa-3x fa-refresh fa-spin"></i><br />
                                Just loading your shopping cart, please wait...
                            </p>
                        </div>
                    </div>
                    <p class="text-center no-margin">
                        <a class="collapsed btn btn-lg btn-default" href="/products">
                            Continue Shopping
                        </a>
                        @if (Model.ShowCheckout)
                        {
                            <a class="collapsed btn btn-lg btn-primary" role="button" data-toggle="collapse" data-parent="#accordion" href="#address" aria-expanded="false" aria-controls="address">
                                Proceed to Checkout
                            </a>
                        }
                    </p>
                </div>
            </div>
        </div>
        @if (Model.ShowCheckout)
        {

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#address" aria-expanded="false" aria-controls="address">
                            Billing &amp; Delivery Address
                        </a>
                    </h4>
                </div>
                <div id="address" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="row m-b-lg">
                            <div class="col-md-6">
                                <div class="well">
                                    <span class="pull-right">
                                        <a class="btn btn-success btn-xs add-new-address">Add new address <i class="fa fa-plus-circle"></i></a>
                                    </span>
                                    <h5 class="m-b-lg">Billing Address</h5>
                                    <p class="no-margin">
                                        <select class="form-control address-select billing-select"></select>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="well">
                                    <span class="pull-right">
                                        <a class="btn btn-success btn-xs add-new-address">Add new address <i class="fa fa-plus-circle"></i></a>
                                    </span>
                                    <h5 class="m-b-lg">Delivery Address</h5>
                                    <p class="no-margin">
                                        <select class="form-control address-select delivery-select"></select>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p class="text-center">
                                <a class="collapsed btn btn-lg btn-primary" role="button" data-toggle="collapse" data-parent="#accordion" href="#payment" aria-expanded="false" aria-controls="payment">
                                    Finish &amp; Pay
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#payment" aria-expanded="false" aria-controls="payment">
                            Payment Options
                        </a>
                    </h4>
                </div>
                <div id="payment" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div class="row m-b-lg">
                            <div class="col-xs-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#card" aria-controls="card" role="tab" data-toggle="tab">Pay with Card</a></li>
                                    <li role="presentation"><a href="#paypal" aria-controls="paypal" role="tab" data-toggle="tab">Pay with <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png" class="paypal-tab-logo" border="0" alt="PayPal Logo" /></a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane p-lg active" id="card">
                                        <h3>Pay with a credit card</h3>
                                        <p>
                                            Pay with your credit card now...
                                        </p>
                                        <form id="address-form" method="post" asp-action="Checkout">
                                            <div class="form-horizontal">
                                                <div asp-validation-summary="All" class="text-danger"></div>
                                                <input type="hidden" asp-for="BillingAddressId" />
                                                <input type="hidden" asp-for="DeliveryAddressId" />
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Name:</label>
                                                    <div class="col-md-6">
                                                        <input asp-for="FirstName" class="form-control half" placeholder="First Name" />
                                                        <input asp-for="LastName" class="form-control half" placeholder="Last Name" /><br />
                                                        For test: George Whysall
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Card Number:</label>
                                                    <div class="col-md-6">
                                                        <input asp-for="Number" class="form-control" /><br />
                                                        For test: 4137350738337093
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Card Type:</label>
                                                    <div class="col-md-6">
                                                        <select asp-for="Type">
                                                            <option value="visa">Visa</option>
                                                            <option value="mastercard">MasterCard</option>
                                                            <option value="amex">American Express</option>
                                                            <option value="discover">Discover</option>
                                                            <option value="maestro">Maestro</option>
                                                        </select><br />
                                                        For test: Visa
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Card Security Number:</label>
                                                    <div class="col-md-6">
                                                        <input asp-for="CVV2" class="form-control" /><br />
                                                        For test: 874
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Expiry Date:</label>
                                                    <div class="col-md-6">
                                                        <select asp-for="ExpiryMonth">
                                                            @for (int i = 1; i < 13; i++)
                                                            {
                                                            <option value="@i.ToString("D2")">@i.ToString("D2")</option>
                                                            }

                                                        </select>
                                                        <select asp-for="ExpiryYear">
                                                            @for (int i = DateTime.Now.Year; i < DateTime.Now.Year + 15; i++)
                                                            {
                                                            <option value="@i">@i</option>
                                                            }
                                                        </select><br />
                                                        For test: 10/2019
                                                    </div>
                                                </div>
                                                <p class="text-center">
                                                    <button class="btn btn-lg btn-primary" type="submit">Pay Now</button>
                                                </p>
                                            </div>
                                        </form>
                                    </div>
                                    <div role="tabpanel" class="tab-pane p-lg" id="paypal">
                                        <h3>Pay with PayPal</h3>
                                        <p>
                                            Pay with your PayPal account now...
                                        </p>
                                        <form id="address-form" asp-action="PaymentWithPaypal">
                                            <p class="text-center">
                                                <button class="btn btn-lg btn-paypal" type="submit">Checkout with <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png" class="paypal-tab-logo" border="0" alt="PayPal Logo" /></button>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
