@model Cart
@{ 
    Layout = null;
}
<a class="header-icon right-icon" asp-action="Checkout">
    <i class="fa fa-shopping-cart"></i>
    <div class="cart-notification-wrap"><span class="cart-notification">@Model.OrderLines.Count</span></div>
</a>
<!-- Cart Dropdown -->
<div class="cart-dropdown">
    <ul class="cart-list">
        @foreach (CartItem item in Model.OrderLines)
        {
            <li class="light-color">
                <a class="close-cart-list cart-remove" data-id="@item.ProductID"><i class="fa fa-times-circle"></i></a>
                <div class="media">
                    <a href="@item.Url" class="pull-left">
                        <fixedImage src="@item.Image.ThumbUrl" class="content-feature-thumb"></fixedImage>
                    </a>
                    <div class="media-body">
                        <h6><a href="@item.Url">@item.Title</a></h6>
                        <p>@item.Quantity x @item.Price.ToString("C")</p>
                    </div>
                </div>
            </li>
        }
        @if (Model.OrderLines.Count == 0)
        {
            <li>
                <p class="text-center txt-color-white">There are no items in your cart.</p>
            </li>
        }
    </ul>
    <p class="text-center m-xs"><a class="btn btn-xs btn-danger cart-clear">Clear cart</a></p>
    <p class="cart-sub-totle">
        <span class="pull-left">Cart Subtotal</span>
        <span class="pull-right totle"><strong>@Model.Total.ToString("C")</strong></span>
    </p>
    <div class="clearfix"></div>
    <div class="cart-checkout-btn">
        <a asp-action="Checkout" class="btn btn-md btn-color-b form-full checkout">Checkout</a>
    </div>
</div>
<!-- End Cart Dropdown -->
