@model ChangeSubscriptionModel
@{
    ViewBag.Title = "Change your subscription";
    ViewBag.SubTitle = "Confirm your new package and go!";
}
@if (Model.SaveMessage.IsSet())
{
    <alert type="@Model.MessageType" size="Medium" icon="fa-save">@Model.SaveMessage</alert>
}
@if (Model.Customer?.Sources?.Data?.Count == 0)
{
    <alert type="Warning" size="Epic" icon="fa fa-info-circle" class="text-center">
        <h5>You do not currently have an active payment source.</h5>
        <p>You need a payment source, such as a credit card, to continue your subscription after the current period you must add one to your account now.</p>
        <div>
            <a asp-action="Index" asp-controller="Billing" class="btn btn-outline-dark"><i class="fa fa-credit-card mr-2"></i>Manage Cards</a>
        </div>
    </alert>
}

<div class="card-deck">
    @{
        var currentSub = Model.CurrentSubscription.Subscription;
    }
    <div class="card mb-4 shadow-sm">
        <div class="card-header text-center">
            <div><strong>Change from this:</strong></div>
            <h6 class="mb-0">@currentSub.Name</h6>
        </div>
        <div class="card-body">
            <p class="h3 card-title text-center">@currentSub.Price <small class="text-muted">/ @currentSub.Interval</small></p>
            @if (currentSub.TrialPeriodDays > 0)
            {
                <div class="text-info text-center">@currentSub.TrialPeriodDays days free trial</div>
            }
            else
            {
                <div class="text-info text-center">No trial period.</div>
            }
            <div class="mt-4 mb-4">
                @Html.Raw(currentSub.Description)
            </div>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header text-center">
            <div><strong>To this:</strong></div>
            <h6 class="mb-0">@Model.Plan.Name</h6>
        </div>
        <div class="card-body">
            <p class="h3 card-title text-center">@Model.Plan.Price <small class="text-muted">/ @Model.Plan.Interval</small></p>
            @if (Model.Plan.TrialPeriodDays > 0)
            {
                <div class="text-info text-center">@Model.Plan.TrialPeriodDays days free trial</div>
            }
            else
            {
                <div class="text-info text-center">No trial period.</div>
            }
            <div class="mt-4 mb-4">
                @Html.Raw(Model.Plan.Description)
            </div>
        </div>
    </div>
</div>

<form method="post" class="text-center">
    <input type="hidden" asp-for="SubscriptionId" />
    <input type="hidden" asp-for="PlanId" />
    <button class="btn btn-success" type="submit">Confirm &amp; Change Subscription</button>
</form>
