@model PropertyListing
<div class="forum-item data-item">
    <div class="row">
        <div class="col-md-4">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="/admin/content/edit/@Model.Id">
                        <figure class="img-xs content-feature-@Model.Id hood-image" style="background-image:url(@Model.FeaturedImage.ThumbUrl">
                            <img src="@Model.FeaturedImage.ThumbUrl" alt="@Model.Title">
                        </figure>
                    </a>
                </div>
                <div class="media-body">
                    <a class="forum-item-title" href="/admin/property/edit/@Model.Id">
                        @Model.Title
                        @if (Model.Status == 1)
                        {
                            <small class="txt-color-magenta">@Model.StatusString</small>
                        }
                        else
                        {
                            if (Model.Status == 3)
                            {
                                <small class="txt-color-orangeDark">@Model.StatusString</small>
                            }
                            else
                            {
                                if (Model.PublishPending)
                                {
                                    <small class="txt-color-orange">@Model.StatusString</small>
                                }
                                else
                                {
                                    <small class="txt-color-greenLight">@Model.StatusString</small>
                                }
                            }
                        }
                    </a>
                    <small><i class="fa fa-map-pin m-r-xs"></i>@Model.SingleLineAddress</small><br />
                    <small><i class="fa fa-clock-o"></i> Created on @Model.CreatedOn.ToDisplay()</small><br />
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <span class="small font-bold">Agent</span>
            <div class="tag-list">
                <span class="tag-item">@Model.Agent.UserName</span>
            </div>
        </div>
        <div class="col-md-1">
            <span class="small font-bold">Status</span>
            <div class="tag-list">
                @if (Model.Status == 1)
                {
                    <span class="label label-default">Draft</span>
                }
                else if (Model.Status == 2)
                {
                    <span class="label label-info">Published</span>
                }
                else if (Model.Status == 3)
                {
                    <span class="label label-danger">Archived</span>
                }
            </div>
        </div>
        <div class="col-md-1">
            <span class="small font-bold">Rent</span>
            <div class="tag-list">
                <span class="tag-item">@Model.FormattedRent</span>
            </div>
        </div>
        <div class="col-md-1">
            <span class="small font-bold">Asking Price</span>
            <div class="tag-list">
                <span class="tag-item">@Model.FormattedAskingPrice</span>
            </div>
        </div>
        <div class="col-md-1">
            <span class="small font-bold">Premium</span>
            <div class="tag-list">
                <span class="tag-item">@Model.FormattedPremium</span>
            </div>
        </div>
        <div class="col-md-3 action-buttons">
            <a class="btn-default btn btn-sm action-button" href="/admin/property/edit/@Model.Id"><i class="fa fa-edit"></i><span>&nbsp;Edit</span></a>
            @if ((Model.Status == 1) || (Model.Status == 3))
            {
                <a class="btn-success btn btn-sm action-button publish-property" data-id="@Model.Id"><i class="fa fa-thumbs-up"></i><span>&nbsp;Publish</span></a>
            }
            else if (Model.Status == 2)
            {
                <a class="btn-warning btn btn-sm action-button archive-property" data-id="@Model.Id"><i class="fa fa-archive"></i><span>&nbsp;Archive</span></a>
            }
            <a class="btn-danger btn btn-sm action-button delete-property" data-id="@Model.Id"><i class="fa fa-trash-o"></i><span>&nbsp;Delete</span></a>
        </div>
    </div>
</div>
