@{
    Layout = "_Layout";
    ViewData["SubTitle"] = "This is the Property Layout - it can be overwritten in your theme directory by copying <code>/Views/Layouts/_Layout_Property.cshtml</code> to match in your themes directory <code>/Themes/{YOURTHEME}/Views/Layouts/_Layout_Property.cshtml</code>";
}
@section styles {
    @RenderSection("styles", required: false)
}
@section metas {
    @RenderSection("metas", required: false)
}
<fixedImage src="https://cdn.jsdelivr.net/npm/hoodcms@4.1.5/images/bg/8.jpg" class="jumbotron p-4 p-md-5 text-white bg-dark rounded-0 img img-full">
    <div class="container">
        <div class="px-0">
            <h1 class="display-4">
                @if (ViewData.ContainsKey("PageTitle")) 
                {
                    @ViewData["PageTitle"]
                }
                else
                {
                    @ViewData["Title"]
                }
            </h1>
            <p class="lead my-3">@Html.Raw(ViewData["SubTitle"])</p>
        </div>
    </div>
</fixedImage>
@RenderBody()
