@model PropertyListing
@{
    Layout = null;
}
@if (Model.FloorAreas != null && Model.FloorAreas.Count > 0)
{
    @foreach (var floor in Model.FloorAreas.OrderByDescending(fa => fa.Number))
    {
        <div class="card mb-2">
            <div class="card-body p-2">
                <div class="row align-items-center">
                    <div class="col-5">
                        <span class="badge badge-dark mr-2">@floor.Number</span>
                        <strong>@floor.Name</strong>
                    </div>
                    <div class="col">
                        <strong>@floor.SquareMetres.ToString("N0") m<sup>2</sup></strong>
                        <small class="text-info">@floor.SquareFeet.ToString("N0") sq. ft.</small>
                    </div>
                    <div class="col-auto text-right">
                        <a class="btn btn-link text-danger property-delete-floor" asp-action="RemoveFloorArea" asp-route-id="@Model.Number" asp-route-number="@floor.Number">
                            <i class="fa fa-trash-alt mr-2"></i>Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <alert type="Info" icon="fa-info" size="Epic" class="text-center">
        No floors added.
    </alert>
}
