@model Post
@{
    bool moderator = User.Identity.IsAuthenticated && (Model.AuthorId == Engine.Account.Id || User.IsForumModerator() || User.IsAdminOrBetter());
}
<div class="post card mb-4" id="@string.Format("post-{0}", Model.Id)">
    <div class="card-body row">
        <div class="col">
            <div class="post-view">
                @if (Model.ReplyId.HasValue)
                {
                    <small class="d-block text-info">
                        This is a reply to
                        <a asp-action="ShowTopic" asp-route-topicId="@Model.TopicId" asp-route-title="@Model.Topic.Title" asp-route-highlight="@Model.ReplyId">this post</a>.
                    </small>
                }
                @Html.Raw(Model.Body)
                @if (Model.Edited && Model.EditedTime.HasValue)
                {
                    <small class="d-block text-muted"><i class="fa fa-pencil m-r-xs"></i> This was last edited @Model.EditedTime.Value.ToHumaneDate() by @Model.EditedBy.ToDisplayName()</small>
                }
            </div>
        </div>
        <div class="col-auto text-right">
            <a class="btn btn-sm btn-success mb-2" asp-action="ShowTopic" asp-route-topicId="@Model.TopicId" asp-route-title="@Model.Topic.Title" asp-route-reply="@Model.Id">Reply</a><br />
            <a class="btn btn-sm btn-info warning-alert" asp-action="ReportPost" asp-route-postId="@Model.Id" data-warning="This will alert administrators to look into this post for abuse, are you sure you want to send the report?">Report</a>
        </div>
        @if (moderator)
        {
            <div class="card-body collapse" id="@string.Format("edit-post-{0}", Model.Id)">
                <div class="edit-view card">
                    <form method="post" class="edit-post-form card-body" asp-action="EditPost" asp-route-postId="@Model.Id">
                        <fieldset>
                            <input name="postId" type="hidden" value="@Model.Id" />
                            <div class="form-group">
                                <label class="control-label">Edit post</label>
                                <div class="">
                                    <textarea name="body" for="post-body-@Model.Id" type="text" class="form-control">@Model.Body</textarea>
                                    <span for="post-body-@Model.Id"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary"><span>Update post</span></button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>      }
    </div>
    <div class="card-body text-muted small">
        @Html.Raw(Model.Signature)
    </div>
    <div class="card-footer d-flex align-items-center">
        <div class="flex-grow-1">
            <small class="text-muted mr-2"><i class="fa fa-user mr-1"></i> @Model.Topic.Author.ToDisplayName()</small>
            <small class="text-muted"><i class="fa fa-clock mr-1"></i> @Model.Topic.CreatedOn.ToHumaneDate()</small>
        </div>
        <div>
            @if (moderator)
            {
                <a class="btn btn-sm btn-warning mr-2" data-toggle="collapse" data-target="@string.Format("#edit-post-{0}", Model.Id)">Edit</a>
                <a class="btn btn-sm btn-danger warning-alert" asp-action="DeletePost" asp-route-postId="@Model.Id" data-warning="This will delete the post, and cannot be undone, are you sure?">Delete</a>
            }
        </div>
    </div>
</div>