@model Forum
<div class="card mb-4" id="@string.Format("topic-{0}", Model.Id)">
    <div class="card-body d-flex align-items-center">
        <div class="flex-grow-1">
            <h5 class=""><a href="@Model.Url">@Model.Title</a></h5>
            <p class="mb-2">@Model.Description</p>
            @if (Model.LastPostId.HasValue)
            {
                <small class="d-block mb-1">
                    Latest Post by <strong>@Model.LastUserDisplayName</strong> at <strong>@Model.LastPosted.Value.ToDisplay()</strong>
                </small>
            }
            else
            {
                <small class="d-block mt-1 mb-1">No posts yet.</small>
            }
        </div>
    </div>
    <div class="card-footer">
        @if (Model.Categories != null && Model.Categories.Count != 0)
        {
            foreach (var category in Model.Categories)
            {
                <span class="badge badge-primary mr-2" asp-action="Index" asp-route-category="@category.Category.Slug">@category.Category.DisplayName</span>
            }
        }
        else
        {
            <span class="badge badge-primary mr-2">Uncategorised</span>
        }
        <small class="mr-2 text-muted d-block d-md-inline-block"><i class="fa fa-comments mr-1"></i> <strong>@Model.NumTopics</strong> discussions.</small>
        <small class="mr-2 text-muted d-block d-md-inline-block"><i class="fa fa-paper-plane mr-1"></i> <strong>@Model.NumPosts</strong> posts.</small>
        <small class="mr-2 text-muted d-block d-md-inline-block"><i class="fa fa-user mr-1"></i> Created by <strong>@Model.Author.ToDisplayName()</strong></small>
    </div>
</div>
