@{
    BasicSettings _basicSettings = _settings.GetBasicSettings();
    SeoSettings _seoSettings = _settings.GetSeo();

    var pageTitle = ViewData["PageTitle"] as string;
    if (pageTitle.IsSet())
    {
        ViewData["Title"] += " - " + pageTitle;
    }
}
<!DOCTYPE html>
<html lang="en-gb" xml:lang="en">
<head>
    @{ await Html.RenderPartialAsync("_BaseMetas"); }
    <title>@ViewData["Title"]</title>
    @if (!IsSectionDefined("metas"))
    {
        await Html.RenderPartialAsync("_Metas");
    }
    @RenderSection("metas", required: false)
    @if (_settings.GetBasicSettings().EnablePreload)
    {
        await Html.RenderPartialAsync("_DeferredStyles");
    }
    else
    {
        await Html.RenderPartialAsync("_Styles");
    }
    @RenderSection("styles", required: false)
    @Html.Raw(_seoSettings.HeadTags)
</head>
<body class="@ViewData["BodyClass"]" @ViewData["BodyAttributes"]>
    @RenderSection("afterbody", required: false)
    @{ await Html.RenderPartialAsync("_NoScript"); }
    @if (_settings.GetBasicSettings().EnablePreload)
    {
        await Html.RenderPartialAsync("_PreLoader");
    }
    @RenderSection("beforecontent", required: false)
    <div class="wrapper" id="wrapper">
        @await Component.InvokeAsync(typeof(Hood.ViewComponents.Header))
        @RenderBody()
    </div>
    @RenderSection("beforefooter", required: false)
    @{ await Html.RenderPartialAsync("_Footer"); }
    @RenderSection("afterfooter", required: false)
    @{ await Html.RenderPartialAsync("_AdminEditor"); }
    @if (_settings.GetBasicSettings().EnablePreload)
    {
        await Html.RenderPartialAsync("_DeferredStylesLoader");
    }
    @RenderSection("includes", required: false)
    @{ await Html.RenderPartialAsync("_Scripts"); }
    @RenderSection("scripts", required: false)
    @Html.Raw(JavaScriptSnippet.FullScript)
    @Html.Raw(_seoSettings.GoogleAnalytics)
    @Html.Raw(_seoSettings.BodyTags)
</body>
</html>
