@inject IConfiguration Config
<!DOCTYPE html>
<html>
<head>
    @{ await Html.RenderPartialAsync("_BaseMetas"); }
    <title>@ViewData["Title"]</title>
    @RenderSection("metas", required: false)
    @{ await Html.RenderPartialAsync("_LoginStyles"); }
    @RenderSection("styles", required: false)
</head>
<body class="@ViewData["BodyClass"]">
    <div class="login-block">
        <header>
            <img src="~/hood/images/hood-logo.svg" alt="Hood - Digital Architecture - Your Digital Account" />
        </header>
        @RenderBody()
        <footer>
            <small><a href="http://hooddigital.com/">Powered by HoodCMS v@_settings.GetVersion() by Hood Digital</a></small>
        </footer>
    </div>
    @{ await Html.RenderPartialAsync("_LoginScripts"); }
    @RenderSection("scripts", required: false)
</body>
</html>
