@model SaveableModel
@{
    Layout = "_Layout";
}
@section buttons {
    @RenderSection("buttons", required: false)
    <a href="javascript:document.getElementById('settings-form').submit()" class="btn btn-success">
        <i class="fa fa-save me-2"></i> Save
    </a>
}
<form method="post" id="settings-form" class="container ms-md-0 p-0">
    <alert type="@Model.MessageType" size="Medium" icon="fa-save">@Model.SaveMessage</alert>
    @RenderSection("alerts", required: false)
    @RenderBody()
</form>
