@model Content
<h5>@Model.ContentType.ToTitleCase() @Model.Type.TitleName</h5>
<div class="ibox-content">
    <fieldset class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">@Model.Type.TitleName:</label>
            <div class="col-sm-8"><input id="Title" name="Title" value="@Model.Title" type="text" class="form-control" /></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">@Model.Type.ExcerptName:</label>
            <div class="col-sm-8">
                @if (Model.Type.MultiLineExcerpt)
                {
                    <textarea id="Excerpt" name="Excerpt" class="form-control @(Model.Type.RichTextExcerpt ? "tinymce-simple" : "")">@Model.Excerpt</textarea>
                }
                else
                {
                    <input id="Excerpt" name="Excerpt" value="@Model.Excerpt" type="text" class="form-control" />
                }
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Show in featured list:</label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <input class="styled" id="Featured" name="Featured" type="checkbox" value="true" @(Model.Featured ? "checked" : "") />
                    <label for="Featured">Featured</label>
                </div>
            </div>
        </div>
    </fieldset>
</div>
