@model Content
@{
    Layout = null;
}
@if (Model.Media != null && Model.Media.Count > 0)
{
    <div class="card-deck card-deck-4">
        @foreach (var media in Model.Media)
        {
            <div class="card text-center hover">
                <fixedImage src="@media.Icon" class="img img-full img-square card-img-top" />
                <div class="card-body p-1">
                    <p class="m-0 font-weight-bold text-truncate">
                        @media.Filename
                    </p>
                    <p>
                        <small>@media.FormattedSize</small>
                    </p>
                    @if (media.GenericFileType == GenericFileType.Image)
                    {
                        <a class="btn btn-sm btn-success hood-inline-task" asp-action="SetFeatured" asp-route-id="@Model.Id" asp-route-mediaId="@media.Id">Set as featured</a>
                    }
                    <a class="btn btn-sm btn-danger content-media-delete" asp-action="RemoveMedia" asp-route-id="@Model.Id" asp-route-mediaId="@media.Id"><i class="fa fa-trash"></i></a>
                </div>
            </div>
        }
    </div>
}
else
{
    <alert type="Info" icon="fa-info" size="Epic" class="text-center">
        No media added.
    </alert>
}
