@model ContentModel
@inject ContentCategoryCache _categories
@{
    ViewBag.Title = Model.ContentType.Title;
    var categories = _categories.TopLevel(Model.ContentType.Type);
}
@section buttons {
    @if (Model.ContentType.IsPublic)
    {
        <a class="btn btn-info btn-sm" href="@string.Format("/{0}/", Model.ContentType.Slug)" target="_blank">
            <i class="fa fa-desktop m-r-sm"></i>
            Preview
        </a>
    }
    @if (User.IsAdminOrBetter())
    {
        <a class="btn btn-danger btn-sm create-content warning-alert" asp-action="DeleteAll" data-warning="Are you sure?! This will delete ALL @Model.ContentType.TypeNamePlural.ToLower() from the site!">
            <i class="fa fa-trash m-r-sm"></i>
            Delete All
        </a>
    }
    <button class="btn btn-success btn-sm create-content" data-type="@Model.ContentType.Slug"><i class="fa fa-plus-circle m-r-sm"></i>Create New</button>
}
@section breadcrumbs {
    <ol class="breadcrumb">
        <li>
            <a href="/admin">Home</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Content" asp-route-type="@Model.ContentType.Type" asp-route-area="Admin">
                <i class="fa @Model.ContentType.Icon m-r-xs"></i>
                @Model.ContentType.TypeNamePlural
            </a>
        </li>
    </ol>
}
@if (Model.SaveMessage.IsSet())
{
    @Html.BootstrapAlert(Model.SaveMessage, Model.MessageType);
}
<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#items" aria-expanded="false"> @Model.ContentType.Title</a></li>
        <li class=""><a data-toggle="tab" href="#categories" aria-expanded="false"> @Model.ContentType.TypeName Categories</a></li>
    </ul>
    <div class="tab-content">
        <div id="items" class="tab-pane active">
            <div class="panel-body">
                <form>
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-4">
                            <select class="form-control submit-on-change" asp-for="Order" name="sort">
                                <option value="publish+desc">Recently Published</option>
                                <option value="publish">Published Date (Oldest-Newest)</option>
                                <option value="date+desc">Newest First</option>
                                <option value="date">Oldest First</option>
                                <option value="title">By Title (A-Z)</option>
                                <option value="title+desc">By Title (Z-A)</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control submit-on-change" asp-for="Category" name="category" data-selected="@Model.Category">
                                <option value="">Show All</option>
                                @_categories.CategorySelectOptions(categories, Model.Category, true)
                            </select>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input asp-for="Search" name="search" type="text" placeholder="Search" class="form-control">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"> Search!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
                @if (Model.List.Count > 0)
                {
                    @foreach (var content in Model.List)
                    {
                        <div class="card">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-auto">
        
        <a href="profile-posts.html" class="avatar avatar-lg">
          <img src="assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
        </a>

      </div>
      <div class="col ml-n2">
        
        <h4 class="card-title mb-1">
          <a href="profile-posts.html">Ab Hadley</a>
        </h4>

        <p class="card-text small text-muted mb-1">
          Working on the latest API integration.
        </p>

        <p class="card-text small">
          <span class="text-success">●</span> Online
        </p>

      </div>
      <div class="col-auto">
        
        <a href="#!" class="btn btn-sm btn-primary d-none d-md-inline-block">
          Subscribe
        </a>

      </div>
      <div class="col-auto">
        
        <div class="dropdown">
          <a href="#!" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
            <i class="fe fe-more-vertical"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="#!" class="dropdown-item">
              Action
            </a>
            <a href="#!" class="dropdown-item">
              Another action
            </a>
            <a href="#!" class="dropdown-item">
              Something else here
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

                        <div class="data-item">
                            <div class="row row-center">
                                <div class="col-md-6">
                                    <div class="media">
                                        @if (Model.ContentType.ShowImage)
                                        {
                                            <div class="media-left media-middle">
                                                <a href="/admin/content/@content.Id/edit/">
                                                    <figure class="img-xs content-feature-@content.Id hood-image" style="background-image:url(@content.FeaturedImage.ThumbUrl)">
                                                        <img src="@content.FeaturedImage.ThumbUrl" alt="@content.Title">
                                                    </figure>
                                                </a>
                                            </div>
                                        }
                                        <div class="media-body">
                                            <a class="forum-item-title" href="/admin/content/@content.Id/edit/">
                                                @content.Title
                                                @if (content.IsHomepage)
                                                {
                                                    <span class="label label-success">Homepage</span>
                                                }
                                                @if (content.Status == 1)
                                                {
                                                    <small class="txt-color-magenta">@content.StatusString</small>
                                                }
                                                else
                                                {
                                                    @if (content.Status == 3)
                                                    {
                                                        <small class="txt-color-orangeDark">@content.StatusString</small>
                                                    }
                                                    else
                                                    {
                                                        @if (content.PublishPending)
                                                        {
                                                            <small class="txt-color-orange">@content.StatusString</small>
                                                        }
                                                        else
                                                        {
                                                            <small class="txt-color-greenLight">@content.StatusString</small>
                                                        }
                                                    }
                                                }
                                            </a>
                                            <small>Created on <i class="fa fa-clock-o"></i> @content.CreatedOn.ToDisplay()</small><br />
                                            @if (Model.ContentType.HasPage)
                                            {
                                                <small class="font-bold"><a href="@content.Url" target="_blank">@content.Url</a></small>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 visible-lg">
                                    <span class="small font-bold">Status</span>
                                    <div class="tag-list">
                                        @if (content.Status == 1)
                                        {
                                            <span class="tag-item">Draft</span>
                                        }
                                        else if (content.Status == 2)
                                        {
                                            <span class="tag-item bg-color-green txt-color-white">Published</span>
                                        }
                                        else if (content.Status == 3)
                                        {
                                            <span class="tag-item bg-color-purple txt-color-white">Archived</span>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-1 visible-lg visible-md">
                                    <span class="small font-bold">Author</span>
                                    <div class="tag-list">
                                        <span class="tag-item">@content.Author.ToFullName()</span>
                                    </div>
                                </div>
                                <div class="col-md-2 visible-lg">
                                    <span class="small font-bold">Categories</span>
                                    <div class="tag-list">
                                        @if (content.Categories.Count == 0)
                                        {
                                            <span class="tag-item">Not in a category.</span>
                                        }
                                        @foreach (var category in content.Categories)
                                        {
                                            <span class="tag-item">@category.Category.DisplayName</span>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2 action-buttons">
                                    @if ((content.Status == 1) || (content.Status == 3))
                                    {
                                        <a class="publish-content btn btn-sm btn-primary" data-id="@content.Id">
                                            <i class="fa fa-thumbs-up m-r-xs"></i>
                                            <span>
                                                Publish
                                            </span>
                                        </a>
                                    }
                                    else if (content.Status == 2)
                                    {
                                        <a class="archive-content btn btn-sm btn-danger" data-id="@content.Id">
                                            <i class="fa fa-archive m-r-xs"></i>
                                            <span>
                                                Archive
                                            </span>
                                        </a>
                                    }
                                    <a class="btn-default btn btn-sm action-button" href="/admin/content/@content.Id/edit"><i class="fa fa-edit"></i><span>&nbsp;Edit</span></a>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            @if (!content.IsHomepage)
                                            {
                                                @if (Model.ContentType.BaseName == "Page")
                                                {
                                                    <li>
                                                        <a class="hood-inline-task" href="/admin/content/@content.Id/sethomepage" data-complete="$.hood.Content.Manage.Refresh()">
                                                            <i class="fa fa-home m-r-sm"></i>
                                                            <span>
                                                                Set as Homepage
                                                            </span>
                                                        </a>
                                                    </li>
                                                }
                                            }
                                            @if (Model.ContentType.ShowDesigner)
                                            {
                                                <li>
                                                    <a href="@content.Url?editMode=true">
                                                        <i class="fa fa-pencil m-r-sm"></i>
                                                        <span>
                                                            Design
                                                        </span>
                                                    </a>
                                                </li>
                                            }
                                            @if (Model.ContentType.HasPage)
                                            {
                                                <li>
                                                    <a href="@content.Url" target="_blank">
                                                        <i class="fa fa-search m-r-sm"></i>
                                                        <span>
                                                            Preview
                                                        </span>
                                                    </a>
                                                </li>
                                            }
                                            <li>
                                                <a class="delete-content" data-id="@content.Id">
                                                    <i class="fa fa-trash-o m-r-sm"></i>
                                                    <span>
                                                        Delete
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="text-center">
                        @{ await Html.RenderPartialAsync("_Pagination"); }
                    </div>
                }
                else
                {
                    <div class="alert alert-info">
                        <p class="text-center m-t-xs m-b-lg">There are no @Model.ContentType.TypeNamePlural yet, click "Create New" to add your first @Model.ContentType.TypeName.</p>
                    </div>
                }
            </div>
        </div>
        <div id="categories" class="tab-pane">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="hood-inline categorylist" data-url="@Url.Action("CategoryList")"></div>
                    </div>
                    <div class="col-sm-4">
                        <form id="add-content-category-form" class="well">
                            <h4>Add a category...</h4>
                            <input id="Add-ContentType" name="ContentType" type="hidden" value="@Model.ContentType.Type" />
                            <div class="form-group">
                                <label class="control-label" for="Add-DisplayName">Category</label>
                                <div>
                                    <input class="form-control" type="text" id="Add-DisplayName" name="DisplayName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="Add-ParentCategoryId">Parent Category</label>
                                <div>
                                    <select class="form-control" id="Add-ParentCategoryId" name="ParentCategoryId">
                                        <option>No Parent</option>
                                        @_categories.CategorySelectOptions(categories, "")
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary add-content-category"><i class="fa fa-save"></i> Add Category</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
