@model ConnectAccountModel
@{
    ViewData["Title"] = "Finish connecting your account";
}
<div class="header">
    <h2>@ViewData["Title"]</h2>
    @if (Model.SaveMessage.IsSet())
    {
        <alert type="@Model.MessageType">@Model.SaveMessage</alert>
    }
    <div class="d-flex align-items-center my-4">
        <div>
            <fixedImage src="@Model.RemotePicture" class="img-sm ms-3 rounded" />
        </div>
        <div class="flex-fill">
            <i class="fa fa-arrow-right fa-2x mx-3"></i>
        </div>
        <div>
            <fixedImage src="@Model.LocalPicture" class="img-sm me-3 rounded" />
        </div>
    </div>
    <p>
        Looks like a legacy account with this email address already exists, would you like to connect this account to it?
    </p>
    <form asp-action="ConnectAccountConfirm" method="post" class="d-grid gap-2">
        <button class="btn btn-success" type="submit">Connect</button>
    </form>
</div>
