@model ISaveableModel
@{
    ViewData["Title"] = "Delete Your Account";
    ViewData["SubTitle"] = "Completely remove your account and data from this site.";
    ViewData.AddActivePage(ManageNavPages.DeleteAccount);
}
@if (Model.SaveMessage.IsSet())
{
    <alert type="@Model.MessageType">@Model.SaveMessage</alert>
}
<div class="header">
    <h2>@ViewData["Title"]</h2>
    <fixedImage src="@User.GetAvatar()" class="rounded m-auto my-4 img img-sm" />
    <h5>@User.ToDisplayName()</h5>
    <p><strong>@User.GetEmail()</strong></p>
    <p>
        <strong class="text-danger">If you delete your account you will no longer be able to access some of our services.</strong>
    </p>
    <p>
        Are you sure you want to delete your account?
    </p>
    <div>
        <form asp-action="ConfirmDelete" method="post" class="form-group">
            <button class="btn btn-danger warning-alert" type="submit">Delete Account</button>
        </form>
    </div>
</div>
