@model PayPalPaymentException
@{
    ViewData["Title"] = "PayPal: Failed...";
}
<div class="container">
    <div class="row m-lg">
        <h2>The transaction failed!</h2>
        @if (User.IsInRole("Admin"))
        {
            <div class="alert alert-danger">
                <p>@Model.InnerException.Message</p>
                <p>at @Model.InnerException.Source</p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#innerStack" aria-expanded="false" aria-controls="innerStack">
                    Show stack trace
                </button>
                <div class="collapse" id="innerStack">
                    <div class="well">
                        <p class="word-wrap">@Model.InnerException.StackTrace</p>
                    </div>
                </div>
            </div>
            @if (Model.InnerException.InnerException != null)
            {
                <div class="alert alert-danger">
                    <h3>@Model.InnerException.InnerException.Message</h3>
                    <p>at @Model.InnerException.InnerException.Source</p>
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#innerInnerStack" aria-expanded="false" aria-controls="innerInnerStack">
                            Show stack trace
                        </button>
                    </p>
                    <div class="collapse" id="innerInnerStack">
                        <div class="well">
                            <p class="word-wrap">@Model.InnerException.InnerException.StackTrace</p>
                        </div>
                    </div>
                </div>
            }
            <h3>Transaction</h3>
            if (Model.Transaction != null)
            {
                <h5>Transaction Info - Invoice #@Model.Transaction.invoice_number</h5>
                    <dl>
                    <dt>Description</dt>
                    <dd>@Model.Transaction.description</dd>
                    <dt>Amount Total</dt>
                    <dd>@Model.Transaction.amount.total</dd>
                    @if (Model.Transaction.amount.details != null)
                    {
                        <dt>Tax</dt>
                        <dd>@Model.Transaction.amount.details.tax</dd>
                        <dt>Shipping</dt>
                        <dd>@Model.Transaction.amount.details.shipping</dd>
                        <dt>Subtotal</dt>
                        <dd>@Model.Transaction.amount.details.subtotal</dd>
                    }
                </dl>
                <h5>Items</h5>
                @foreach (PayPal.Api.Item i in Model.Transaction.item_list.items)
                {
                    <h6>Name: @i.name</h6>
                    <dl>
                        <dt>Description</dt>
                        <dd>@i.description</dd>
                        <dt>Amount</dt>
                        <dd>@i.price</dd>
                        <dt>Tax</dt>
                        <dd>@i.quantity</dd>
                        <dt>Sku</dt>
                        <dd>@i.sku</dd>
                        <dt>Tax</dt>
                        <dd>@i.tax</dd>
                        <dt>Url</dt>
                        <dd>@i.url</dd>
                    </dl>
                }
            }
        }
    </div>
</div>
