@model Content
@{
    Layout = null;
}
<div class="modal fade modal-right media-blade" id="content-create-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-blade" role="document">
        <form id="content-create-form" action="@Url.Action("Create")" asp-antiforgery="true" autocomplete="off" class="modal-content">
            <div class="modal-header bg-dark text-white">
                <div>
                    <h5 class="modal-title">
                        Create new @Model.Type.TypeName.ToLower()
                    </h5>
                    <p class="m-0 text-muted">
                        <i class="fa fa-plus-circle mr-2"></i> Add a new @Model.Type.TypeName.ToLower() to the website.
                    </p>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" asp-for="ContentType" value="@Model.Type.Type" />
                <div class="form-group floating-label">
                    <input asp-for="Title" class="form-control" />
                    <label asp-for="Title">@Model.Type.TitleName</label>
                    <small asp-for="Title"></small>
                </div>
                <div class="form-group floating-label">
                    <textarea asp-for="Excerpt" class="form-control"></textarea>
                    <label asp-for="Excerpt">@Model.Type.ExcerptName</label>
                    <small asp-for="Excerpt"></small>
                </div>
                <div class="form-group floating-label">
                    <input asp-for="PublishDate" type="datetime" class="form-control" />
                    <label asp-for="PublishDate"></label>
                    <small asp-for="PublishDate"></small>
                </div>
                <div class="blade-field">
                    <div class="form-group">
                        <label>Create as</label>
                        <div class="">
                            <select asp-for="Status" class="form-control">
                                <option value="1">Draft</option>
                                <option value="2">Published</option>
                                <option value="3">Archived</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="content-create-submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal" aria-label="Close"><i class="fa fa-ban"></i> Cancel</button>
            </div>
        </form>
    </div>
</div>
