@model Content
@inject ContentCategoryCache _categories

<div class="card mb-3">
    <div class="card-header position-relative" id="content-access-panel-heading">
        <p class="card-title m-0 font-weight-bold">
            <a class="stretched-link text-dark text-decoration-none" data-bs-toggle="collapse" data-target="#content-access-panel" href="#content-access-panel" aria-expanded="true" aria-controls="content-access-panel">
                URL &amp; Status
                <i class="fe fe-arrow-up mt-1"></i>
            </a>
        </p>
    </div>
    <div class="card-body collapse show" aria-labelledby="content-access-panel-heading" id="content-access-panel">
        <div class="form-floating mb-3">
            <select class="form-select" asp-for="Status">
                <option value="1">Draft</option>
                <option value="2">Published</option>
                <option value="3">Archived</option>
            </select>
            <label asp-for="Status">Publish Status</label>
            <small asp-for="Status"></small>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" asp-for="AuthorId">
                @foreach (var author in Model.Authors)
                {
                    <option value="@author.Id">@author.UserName - @author.FirstName @author.LastName</option>
                }
            </select>
            <label asp-for="AuthorId"></label>
            <small asp-for="AuthorId"></small>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="PublishDate" type="datetime-local" class="form-control" />
            <label asp-for="PublishDate"></label>
            <small asp-for="PublishDate"></small>
        </div>
        @if (Model.ContentType == "page")
        {
            <div class="form-floating mb-3">
                <input asp-for="Slug" class="form-control restrict-to-page-slug" value="@Model.Slug" />
                <label asp-for="Slug"></label>
                <small asp-for="Slug"></small>
            </div>
        }
        else
        {
            <div class="mb-3">
                <div class="form-check form-switch">
                    <input asp-for="Featured" class="form-check-input">
                    <label asp-for="Featured" class="form-check-label d-block"></label>
                </div>
                <small asp-for="Featured"></small>
            </div>
            @if (Model.Type.UrlFormatting == "news")
            {
                <div class="form-floating mb-3">
                    <input asp-for="Slug" class="form-control restrict-to-page-slug" value="@Model.Slug" />
                    <label asp-for="Slug"></label>
                    <small asp-for="Slug"></small>
                </div>
            }
            else
            {
                <input asp-for="Slug" type="hidden" value="@Model.Slug" />
            }
        }
        <div class="mb-3">
            <div class="form-check form-switch">
                <input asp-for="Public" class="form-check-input">
                <label asp-for="Public" class="form-check-label d-block"></label>
            </div>
            <small asp-for="Public"></small>
        </div>
    </div>
    <div class="card-footer text-center">
        <p class="font-weight-bold m-0">URL Preview:</p>
        @if (Model.IsHomepage)
        {
            <p class="m-0"><strong>@Url.AbsoluteUrl()</strong></p>
        }
        else if (Model.ContentType == "page")
        {
            <p class="m-0">@Url.AbsoluteUrl()<strong><span class="slug-display">@Model.Slug</span></strong></p>
        }
        else
        {
            <p class="m-0k">@Url.AbsoluteUrl()<strong><span class="slug-display">@Model.Url.TrimStart('/')</span></strong></p>
        }
    </div>
</div>
