@model Content
@inject ContentCategoryCache _categories

<div class="card mb-3">
    <div class="card-header position-relative" id="content-access-panel-heading">
        <p class="card-title m-0 font-weight-bold">
            <a class="stretched-link text-dark text-decoration-none" data-bs-toggle="collapse" data-target="#content-access-panel" href="#content-access-panel" aria-expanded="true" aria-controls="content-access-panel">
                URL &amp; Status
                <i class="fe fe-arrow-up mt-1"></i>
            </a>
        </p>
    </div>
    <div class="card-body collapse show" aria-labelledby="content-access-panel-heading" id="content-access-panel">
        <div class="form-group">
            <label asp-for="Status">Publish Status</label>
            <select class="form-control" asp-for="Status" asp-items="@(Html.GetEnumSelectList<ContentStatus>())"></select>
            <small asp-for="Status"></small>
        </div>
        <div class="form-group floating-label">
            <label asp-for="PublishDate"></label>
            <input class="datepicker form-control" asp-for="PublishDate" type="text" value="@Model.PublishDate.ToShortDateString()">
            <small asp-for="Status"></small>
        </div>
        @if (Model.ContentType == "page")
        {
                <div class="form-group floating-label m-0">
                <label asp-for="Slug">Slug</label>
                <input asp-for="Slug" class="form-control restrict-to-page-slug" value="@Model.Slug" />
                <small asp-for="Slug"></small>
            </div>
        }
        else
        {
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input asp-for="Featured" class="custom-control-input">
                    <label asp-for="Featured" class="custom-control-label"></label>
                </div>
                <small asp-for="Featured"></small>
            </div>
            @if (Model.Type.UrlFormatting == "news")
            {
                <div class="form-group floating-label m-0">
                    <label asp-for="Slug"></label>
                    <input asp-for="Slug" class="form-control restrict-to-page-slug" value="@Model.Slug" />
                    <small asp-for="Slug"></small>
                </div>
            }
            else
            {
                <input asp-for="Slug" type="hidden" value="@Model.Slug" />
            }
        }
    </div>
    <div class="card-footer text-center">
        <p class="font-weight-bold m-0">URL Preview:</p>
        @if (Model.IsHomepage)
        {
            <p class="m-0"><strong>@Url.AbsoluteUrl()</strong></p>
        }
        else if (Model.ContentType == "page")
        {
            <p class="m-0">@Url.AbsoluteUrl()<strong><span class="slug-display">@Model.Slug</span></strong></p>
        }
        else
        {
            <p class="m-0k">@Url.AbsoluteUrl()<strong><span class="slug-display">@Model.Url.TrimStart('/')</span></strong></p>
        }
    </div>
</div>
<div class="card mb-3">
    <div class="card-header position-relative" id="content-categories-panel-heading">
        <p class="card-title m-0 font-weight-bold">
            <a class="stretched-link text-dark text-decoration-none" data-bs-toggle="collapse" data-target="#content-categories-panel" href="#content-categories-panel" aria-expanded="true" aria-controls="content-categories-panel">
                Categories
                <i class="fe fe-arrow-up mt-1"></i>
            </a>
        </p>
    </div>
    <div class="card-body collapse p-0 show" aria-labelledby="content-categories-panel-heading" id="content-categories-panel">
        @if (Model.Type.ShowCategories)
        {
            <div class="list-group list-group-flush">
                @{
                    _categories.ResetCache();
                }
                @if (_categories.Count(Model.Type.Type) > 0)
                {
                    @_categories.AddToCategoryTree(_categories.TopLevel(Model.Type.Type), Model)
                }
                else
                {
                    <p class="text-center p-2">No categories added yet. To add a category, go back to the @Model.Type.TypeName list and select @Model.Type.TypeName Categories.</p>
                }
            </div>
        }
    </div>
</div>
<div class="card mb-3">
    <div class="card-header position-relative" id="content-author-panel-heading">
        <p class="card-title m-0 font-weight-bold">
            <a class="stretched-link text-dark text-decoration-none" data-bs-toggle="collapse" data-target="#content-author-panel" href="#content-author-panel" aria-expanded="true" aria-controls="content-author-panel">
                Author
                <i class="fe fe-arrow-up mt-1"></i>
            </a>
        </p>
    </div>
    <div class="card-body collapse show" aria-labelledby="content-author-panel-heading" id="content-author-panel">
        <div class="form-group floating-label">
            <label asp-for="AuthorId"></label>
            <select class="form-control" asp-for="AuthorId">
                @foreach (var author in Model.Authors)
                {
                    <option value="@author.Id">@author.UserName - @author.FirstName @author.LastName</option>
                }
            </select>
            <small asp-for="AuthorId"></small>
        </div>
    </div>
</div>
