@model ContentModel
@{
    if (!Model.ContentType.IsUnknown)
    {
        ViewBag.Title = Model.ContentType.Title;
    }
    else
    {
        ViewBag.Title = "All Content";
    }
}
@section buttons {
    @if (!Model.ContentType.IsUnknown)
    {
        <a class="btn btn-success content-create" asp-action="Create" asp-route-type="@Model.ContentType.Slug">
            <i class="fa fa-user-plus me-2"></i>
            Create New
        </a>
    }
    @if (Model.ContentType.IsPublic)
    {
        <a class="btn btn-outline-dark" href="@string.Format("/{0}/", Model.ContentType.Slug)" target="_blank">
            <i class="fa fa-desktop me-2"></i>
            Preview
        </a>
    }
}
@if (Model.SaveMessage.IsSet())
{
    <alert type="@Model.MessageType" size="Medium">@Model.SaveMessage</alert>
}
<form class="inline" data-target="#content-list">
    <div class="row">
        <div class="col-lg-8 mb-3">
            <div id="content-list" class="query" data-url="@Url.Action("List", new { type = Model.Type })"></div>
        </div>
        <div class="col-lg-4">
            <partial name="_Filters" />
        </div>
    </div>
</form>
