@{
    ViewData["Title"] = "Debug Testing Area";
}
<h4>Account Info</h4>
<div class="text-monospace">
    <p>User.GetUserProfile().UserName = @User.GetUserProfile().UserName</p>
    <p>User.GetUserProfile().Email = @User.GetUserProfile().Email</p>
    <p>User.GetUserProfile().Id = @User.GetUserProfile().Id</p>
    <p>User.GetUserProfile().BillingAddressJson = @User.GetUserProfile().BillingAddressJson</p>
    <p>User.GetUserProfile().DeliveryAddressJson = @User.GetUserProfile().DeliveryAddressJson</p>
    <p>User.GetUserProfile().BillingAddress = @User.GetUserProfile().BillingAddress.ToFormat(AddressFormat.SingleLine)</p>
    <p>User.GetUserProfile().DeliveryAddress = @User.GetUserProfile().DeliveryAddress.ToFormat(AddressFormat.SingleLine)</p>
    <p>User.GetUserProfile().ToFullName() = @User.GetUserProfile().ToFullName()</p>
    <p>User.GetUserProfile().ToDisplayName() = @User.GetUserProfile().ToDisplayName()</p>
    <p>User.GetUserProfile().AvatarJson = @User.GetUserProfile().AvatarJson</p>
    <p>User.GetUserProfile().Avatar.Small = <br /><img class="img-fluid" src="@User.GetUserProfile().Avatar.SmallUrl" /></p>
    <p>User.GetUserProfile().Avatar.MediumUrl = <br /><img class="img-fluid" src="@User.GetUserProfile().Avatar.MediumUrl" /></p>
    <p>User.GetUserProfile().Avatar.Large = <br /><img class="img-fluid" src="@User.GetUserProfile().Avatar.LargeUrl" /></p>
    <p>User.GetUserProfile().Avatar.Thumb = <br /><img class="img-fluid" src="@User.GetUserProfile().Avatar.ThumbUrl" /></p>
    <p>User.GetUserProfile().LastLogOn = @User.GetUserProfile().LastLogOn</p>
    <p>User.GetUserProfile().LastLoginIP = @User.GetUserProfile().LastLoginIP</p>
    <p>User.GetUserProfile().LastLoginLocation = @User.GetUserProfile().LastLoginLocation</p>
    <p>User.GetUserProfile().Facebook = @User.GetUserProfile().Facebook</p>
    <p>User.GetUserProfile().Twitter = @User.GetUserProfile().Twitter</p>
    <p>User.GetUserProfile().TwitterHandle = @User.GetUserProfile().TwitterHandle</p>
    <p>User.GetUserProfile().WebsiteUrl = @User.GetUserProfile().WebsiteUrl</p>
</div>
<h4>Notes</h4>
<div class="text-monospace">
    @foreach (var note in User.GetUserProfile().Notes)
    {
        <p class="font-weight-bold">@note.CreatedOn.ToDisplay() by @note.CreatedBy</p>
        <p>@note.Note</p>
        <p><small>Note Id: @note.Id</small></p>
    }
</div>
