@model ContentModel
@if (Model.List.Count == 0)
{
     <partial name="_NoResults" />
}
else
{
    <div class="card-columns">
        @foreach (ContentView content in Model.List)
        {
            <div class="card">
                <a href="@content.Url"><fixedImage src="@content.FeaturedImage.MediumUrl" class="card-img-top img img-wide img-full" style="@content.GetImageStyle()" /></a>
                <div class="card-body">
                    <a href="@content.Url">
                        <h3>@content.Title</h3>
                    </a>
                    <p>@content.Excerpt</p>
                    <p><a href="@content.Url" class="btn btn-primary" role="button">Learn more...</a></p>
                </div>
            </div>
        }
    </div>
    <partial name="_Pagination" />
}