@model Forum
<div class="form-horizontal">
    <div class="form-group row-center">
        <label class="col-sm-4 text-right">Featured Image</label>
        <div class="col-sm-8">
            <input type="hidden" asp-for="FeaturedImageJson" />
            <fixedImage src="@Model.FeaturedImage.SmallUrl" class="img-xs img-circle m-r-sm forum-feature-@Model.Id" id="forum-blade-avatar" />
            <attacher dataid="@Model.Id" data-json="FeaturedImageJson" entity="Forum" field="FeaturedImage" type="image" refresh="/admin/forums/getfeaturedimage" tag="forum-feature-@Model.Id" title="Choose a featured image." class="btn btn-xs btn-primary">Choose...</attacher>
            <a class="btn btn-xs btn-danger hood-inline-task" asp-action="ClearImage" asp-controller="forum" asp-area="Admin" asp-route-id="@Model.Id" data-complete="$.hood.Uploader.RefreshImage('.forum-feature-@Model.Id', '/admin/forums/getfeaturedimage', @Model.Id)"><i class="fa fa-trash"></i></a>
        </div>
    </div>
    <div class="form-group no-margin row-center">
        <label class="col-sm-4 text-right">Share Image</label>
        <div class="col-sm-8">
            <input type="hidden" asp-for="ShareImageJson" />
            <fixedImage src="@Model.ShareImage.SmallUrl" class="img-xs img-circle m-r-sm forum-share-@Model.Id" id="forum-blade-avatar" />
            <attacher dataid="@Model.Id" data-json="ShareImageJson" entity="Forum" field="ShareImage" type="image" refresh="/admin/forums/getshareimage" tag="forum-share-@Model.Id" title="Choose a share image." class="btn btn-xs btn-primary">Choose...</attacher>
            <a class="btn btn-xs btn-danger hood-inline-task" asp-action="ClearShareImage" asp-controller="forum" asp-area="Admin" asp-route-id="@Model.Id" data-complete="$.hood.Uploader.RefreshImage('.forum-share-@Model.Id', '/admin/forums/getshareimage', @Model.Id)"><i class="fa fa-trash"></i></a>
        </div>
    </div>
</div>
