@inject IConfiguration Config
<!DOCTYPE html>
<html>
<head>
    @{ await Html.RenderPartialAsync("_BaseMetas"); }
    <title>@ViewData["Title"]</title>
    @RenderSection("metas", required: false)
    @{ await Html.RenderPartialAsync("_LoginStyles"); }
    @RenderSection("styles", required: false)
</head>
<body class="@ViewData["BodyClass"]">
    <div class="container">
        <div class="login-block">
            <div class="login-title">
                <img src="~/hood/images/hood-logo.svg" alt="Hood - Digital Architecture - Your Digital Account" />
            </div>
            @RenderBody()
            <p class="text-center"><small><a href="http://hooddigital.com/">Powered by HoodCMS v@_settings.GetVersion() by Hood Digital</a></small></p>
        </div>
    </div>
    @{ await Html.RenderPartialAsync("_LoginScripts"); }
    @RenderSection("scripts", required: false)
</body>
</html>
