@model ContentModel

@{
    ContentApi mapi = _settings.ToContentApi(Model.Content);
    BasicSettings _basicSettings = _settings.GetBasicSettings();
}
<div class="media">
    <div class="media-left">
        <fixedImage src="@mapi.Author.Avatar.SmallUrl" class="img-xs m-r-sm content-feature-@Model.Content.Id" alt="@mapi.Author.FullName" />
    </div>
    <div class="media-body media-middle">
        <h6>
            @mapi.Author.FullName
            @if (!string.IsNullOrEmpty(mapi.Author.JobTitle))
            {
                <small>
                    @mapi.Author.JobTitle
                    @if (!string.IsNullOrEmpty(mapi.Author.CompanyName))
                    {
                        <span>at @mapi.Author.CompanyName</span>
                    }
                </small>
            }
        </h6>
        @if (!string.IsNullOrEmpty(mapi.Author.Email))
        {
            <a href="mailto:@mapi.Author.Email" target="_blank"><i class="fa fa-envelope"></i></a>
        }
        @if (!string.IsNullOrEmpty(mapi.Author.Facebook))
        {
            <a href="@mapi.Author.Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
        }
        @if (!string.IsNullOrEmpty(mapi.Author.Twitter))
        {
            <a href="@mapi.Author.Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        }
        @if (!string.IsNullOrEmpty(mapi.Author.LinkedIn))
        {
            <a href="@mapi.Author.LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
        }
        @if (!string.IsNullOrEmpty(mapi.Author.GooglePlus))
        {
            <a href="@mapi.Author.GooglePlus" target="_blank"><i class="fa fa-google-plus"></i></a>
        }
    </div>
</div>
