@model Content
@{ 
    var capi = _settings.ToContentApi(Model);
}
<div class="featured-media">
    @switch (capi.GetMetaValue("Settings.SubType"))
    {
        case "Video":
            @if (capi.GetMetaValue("Content.News.Video").IsSet())
            {
                @Html.Raw(capi.GetMetaValue("Content.News.Video"));
            }
            break;
        case "Slides":
            if (Model.Media.Count > 0)
            {
                <div class="owl-carousel owl-slider">
                    @foreach (var media in Model.Media)
                    {
                        <div class="item">
                            <a href="@capi.Url">
                                <fixedImage src="@media.MediumUrl" class="img-wide img-full content-feature-@Model.Id" />
                            </a>
                        </div>
                    }
                </div>
            }
            break;
        default:
            if (Model.FeaturedImage != null)
            {
                <a href="@capi.Url">
                    @switch (Model.GetMeta("Settings.Image.Featured.Fit").GetStringValue())
                    {
                        case "100%":
                            <div>
                                <img src="@capi.FeaturedImage.LargeUrl" class="img-full content-feature-@Model.Id" />
                            </div>
                            break;
                        case "center":
                            <div class="text-center">
                                <img src="@capi.FeaturedImage.LargeUrl" class="content-feature-@Model.Id" />
                            </div>
                            break;
                        case "left":
                            <div class="text-left">
                                <img src="@capi.FeaturedImage.LargeUrl" class="content-feature-@Model.Id" />
                            </div>
                            break;
                        case "right":
                            <div class="text-right">
                                <img src="@capi.FeaturedImage.LargeUrl" class="content-feature-@Model.Id" />
                            </div>
                            break;
                        default:
                            <fixedImage src="@capi.FeaturedImage.MediumUrl" class="img-wide img-full content-feature-@Model.Id" style="@capi.GetImageStyle()" />
                            break;
                    }
                </a>
            }
            break;
    }
</div>
