@model ApplicationUser
@{
    Layout = null;
}
<div class="row">
    @if (Model.BillingAddress != null)
    {
        <div class="col-sm-6">
            <a class="btn btn-info btn-xs pull-right m-t-xs" title="@Model.BillingAddress.Latitude, @Model.BillingAddress.Longitude" target="_blank"
               href="@string.Format("https://www.google.com/maps/@{0},{1},20z", Model.BillingAddress.Latitude, Model.BillingAddress.Longitude)">
                View in maps
            </a>

            <h6>Billing Address</h6>
            <hr />
            @Html.FormatAddress(Model.BillingAddress, AddressFormat.MultiLine)
        </div>
    }
    @if (Model.DeliveryAddress != null)
    {
        <div class="col-sm-6">
            <a class="btn btn-info btn-xs pull-right m-t-xs" title="@Model.DeliveryAddress.Latitude, @Model.DeliveryAddress.Longitude" target="_blank"
               href="@string.Format("https://www.google.com/maps/@{0},{1},20z", Model.DeliveryAddress.Latitude, Model.DeliveryAddress.Longitude)">
                View in maps
            </a>

            <h6>Delivery Address</h6>
            <hr />
            @Html.FormatAddress(Model.DeliveryAddress, AddressFormat.MultiLine)
        </div>
    }
</div>
<div class="m-t-lg">
    @foreach (Address address in Model.Addresses)
    {
        <div class="thumbnail p-md">
            <p class="font-md">
                <span class="pull-right">
                    <a class="btn btn-info btn-xs" title="@address.Latitude, @address.Longitude" target="_blank"
                       href="@string.Format("https://www.google.com/maps/@{0},{1},20z", address.Latitude, address.Longitude)">
                        Mapped
                    </a>
                </span>
                @if (address.QuickName.IsSet())
                {
                    @address.QuickName
                }
                else
                {
                    @address.Address1
                }
            </p>
            <span class="pull-right">
                @if (address.Id == Model.BillingAddress?.Id)
                {
                    <a class="btn btn-success btn-xs set-billing" data-id="@address.Id"><i class="fa fa-check m-r-xs"></i>Billing Address</a>
                }
                else
                {
                    <a class="btn btn-default btn-xs set-billing" data-id="@address.Id">Set Billing</a>
                }
                @if (address.Id == Model.DeliveryAddress?.Id)
                {
                    <a class="btn btn-success btn-xs set-delivery" data-id="@address.Id"><i class="fa fa-check m-r-xs"></i>Delivery Address</a>
                }
                else
                {
                    <a class="btn btn-default btn-xs set-delivery" data-id="@address.Id">Set Delivery</a>
                }
                <a class="btn btn-warning btn-xs edit-address" data-id="@address.Id">Edit</a>
                <a class="btn btn-danger btn-xs delete-address" data-id="@address.Id">Delete</a>
            </span>
            <p class="no-margin">@address.ToFormat(AddressFormat.SingleLine)</p>
            <div class="clearfix"></div>
        </div>
    }

    @if (Model.Addresses?.Count == 0)
    {
        <div class="alert alert-info text-center">No addresses to display.</div>
    }
</div>
