@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model RegisterCodeViewModel
@inject SignInManager<ApplicationUser> SignInManager

@inject IContentRepository _content
@{
    BasicSettings _basicSettings  = _settings.GetBasicSettings();
    SeoSettings _seoSettings = _settings.GetSeo();
    string description = "Sign up - " + _basicSettings.Address.ToFormat(AddressFormat.SingleLine);
    string title = "Sign up - " + _basicSettings.CompanyName;
    if (_seoSettings.Login != null)
    {
        description = _seoSettings.SignUp.Description.IsSet() ? _seoSettings.SignUp.Description : _seoSettings.Description.IsSet() ? _seoSettings.Description : "Sign up - " + _basicSettings.Address.ToFormat(AddressFormat.SingleLine);
        title = _seoSettings.SignUp.Title.IsSet() ? _seoSettings.SignUp.Title : _seoSettings.Title.IsSet() ? _seoSettings.Title : "Sign up - " + _basicSettings.CompanyName;
    }
    ViewData["Title"] = title;
    Layout = "_LoginLayout";
}
@section metas {
    <meta name="description" content="@description" />
    <meta property="og:author" content="@_seoSettings.OgAuthor" />
    <meta property="og:title" content="@title" />
    <meta property="og:image" content="@_seoSettings.OgImageUrl" />
    <meta property="og:image:secure_url" content="@_seoSettings.OgSecureImageUrl" />
    <meta property="og:description" content="@description" />
    <meta name="twitter:title" content="@title" />
    <meta name="twitter:description" content="@description" />
    <meta name="twitter:image" content="@_seoSettings.TwitterCardImageUrl" />
}
<div class="login-block-header">
    <h2>@ViewData["Title"]</h2>
    <p>Already have an account? Click here to <a asp-action="Login">log in</a>.</p>
</div>
<form asp-controller="Account" asp-action="Create" method="post" class="" role="form">
    <div asp-validation-summary="All" class="validation-summary"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input asp-for="Email" class="form-control" placeholder="Your email address" />
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <p><button type="submit" class="btn btn-block">Create Account</button></p>
        </div>
    </div>
</form>
