@{
    BasicSettings _basicSettings  = _settings.GetBasicSettings();
    SeoSettings _seoSettings = _settings.GetSeo();
    IntegrationSettings _plugins = _settings.GetIntegrationSettings();
    ContactSettings _contact = _settings.GetContactSettings();
    Layout = "_Layout";
    Content currentContent = ViewData["Content"] as Content;
}
@section styles {
    @RenderSection("styles", required: false)
}
@section includes {
    @RenderSection("includes", required: false)
}
@section scripts {
    @RenderSection("scripts", required: false)
}
@section metas {
    @RenderSection("metas", required: false)
}
<div class="jumbotron">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        @if (currentContent != null)
        {
            <p>@currentContent.Excerpt</p>
        }
        else
        {
            <p>@ViewData["SubTitle"]</p>
        }
    </div>
</div>
<section class="container">
    @RenderBody()
</section>
@if (_plugins.EnableGoogleMaps && _plugins.GoogleMapsApiKey.IsSet())
{
    <div class="img-lg img-full google-map" data-lat="@_basicSettings.Address?.Latitude" data-long="@_basicSettings.Address?.Longitude" data-marker="@_settings.GetSiteTitle()" data-zoom="12"></div>
}
<div class="bg-color-light-grey">
    <div class="container">
        <div class="m-t-lg m-b-lg">
            @{ await Html.RenderPartialAsync("_ContactForm", new ContactFormModel(true, true)); }
        </div>
    </div>
</div>


