@model SubscriptionSearchModel
@{
    ViewBag.Title = "Manage Subscription Plans";
}
@section buttons {
    <a class="btn btn-sm btn-info" asp-action="Stripe"><i class="fa fa-cc-stripe m-r-sm"></i>Stripe</a>
    <a class="btn btn-sm btn-success create-subscription"><i class="fa fa-thumb-tack m-r-sm"></i>Create New</a>
}
<div class="panel-body">
    <form>
        <div class="row">
            <div class="col-md-6">
                <h4>Sort</h4>
                <select class="form-control" asp-for="Order" name="sort">
                    <optgroup label="Subscription">
                        <option value="name">Name (A-Z)</option>
                        <option value="name+desc">Name (Z-A)</option>
                        <option value="date+desc">Added Date (Newest)</option>
                        <option value="date">Added Date (Oldest)</option>
                    </optgroup>
                    <optgroup label="Price">
                        <option value="price+desc">Price (£££-£)</option>
                        <option value="price">Price (£-£££)</option>
                    </optgroup>
                </select>
            </div>
            <div class="col-md-6">
                <h4>Search</h4>
                <div class="input-group">
                    <input asp-for="Search" name="search" type="text" placeholder="Search" class="form-control">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary"> Search!</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel-body">
    @if (Model.List.Count > 0)
    {
        @foreach (var plan in Model.List)
        {
            <div class="forum-item data-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="media">
                            <a class="forum-item-title" href="/admin/subscriptions/edit/@plan.Id">
                                @plan.Name
                            </a>
                            <small>Created on <i class="fa fa-clock-o"></i> @plan.Created.ToDisplay()</small><br />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <span class="small font-bold">Stripe Id</span>
                        <div class="tag-list">
                            <span class="tag-item">@plan.StripeId</span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <span class="small font-bold">Subscribers</span>
                        <div class="tag-list">
                            <span class="tag-item">@plan.ActiveSubscribers</span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <span class="small font-bold">Type</span>
                        <div class="tag-list">
                            @if (!plan.Addon)
                            {
                                <span class="tag-item">Tiered: Level @plan.Level</span>
                            }
                            else
                            {
                                <span class="tag-item">Addon</span>
                            }
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="small font-bold">Price</span>
                        <div class="tag-list">
                            <span class="tag-item">@plan.FullPrice</span>
                        </div>
                    </div>
                    <div class="col-md-3 action-buttons">
                        <a class="btn-primary btn btn-sm action-button" href="/admin/subscriptions/edit/@plan.Id"><i class="fa fa-edit"></i><span>&nbsp;Edit</span></a>
                        @if (plan.SubscriberCount == 0)
                        {
                            <a class="btn-danger btn btn-sm action-button delete-subscription" data-id="@plan.Id"><i class="fa fa-trash-o"></i><span>&nbsp;Delete</span></a>
                        }
                        else
                        {
                            <a class="btn-info btn btn-sm action-button" href="/admin/subscribers?subscription=@plan.StripeId"><i class="fa fa-users"></i><span>&nbsp;Subscribers</span></a>
                        }
                    </div>
                </div>
            </div>
        }
        <div class="text-center">
            @{ await Html.RenderPartialAsync("_Pagination"); }
        </div>
    }
    else
    {
        <div class="alert alert-info">
            <p class="text-center m-t-xs m-b-lg">There are no subscription plans yet, click "Create New" to add your first subscription plan.</p>
        </div>
    }
</div>
