@model Content
@{
    Layout = null;
}
@if (Model.Media != null && Model.Media.Count > 0)
{
    <div class="row row-cols-2 row-cols-md-4 row-cols-xl-5 g-2">
        @foreach (var media in Model.Media)
        {
            <div class="col">
                <div class="card media-item text-center hover">
                    <fixedImage src="@media.Icon" class="img img-full img-wide m-0 card-img-top" />
                    <div class="card-body p-1">
                        <div class="fw-bold small text-truncate">
                            @media.Filename
                        </div>
                        <div class="text-muted mb-2">
                            @media.FormattedSize
                        </div>
                        <a class="btn btn-sm btn-danger content-media-delete" asp-action="RemoveMedia" asp-route-id="@Model.Id" asp-route-mediaId="@media.Id"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <alert type="Info" icon="fa-info" size="Epic" class="text-center">
        No media added.
    </alert>
}
