@model ContentModel
@{
    if (!Model.ContentType.IsUnknown)
    {
        ViewBag.Title = Model.ContentType.Title;
    }
    else
    {
        ViewBag.Title = "All Content";
    }
}
@section breadcrumbs {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item text-decoration-none active" aria-current="page"><a asp-action="Index" asp-controller="Home" asp-route-area="Admin">Home</a></li>
            @if (Model.ContentType.IsUnknown)
            {
                <li class="breadcrumb-item text-decoration-none active" aria-current="page"><i class="fa fa-archive me-2"></i>All Content</li>
            }
            else
            {
                <li class="breadcrumb-item text-decoration-none active" aria-current="page"><i class="fa @Model.ContentType.Icon me-2"></i>@Model.ContentType.TypeNamePlural</li>
            }
        </ol>
    </nav>
}
@section buttons {
    @if (!Model.ContentType.IsUnknown)
    {
        <a class="btn btn-success content-create" asp-action="Create" asp-route-type="@Model.ContentType.Slug">
            <i class="fa fa-user-plus me-2"></i>
            Create New
        </a>
    }
    @if (Model.ContentType.IsPublic)
    {
        <a class="btn btn-outline-dark" href="@string.Format("/{0}/", Model.ContentType.Slug)" target="_blank">
            <i class="fa fa-desktop me-2"></i>
            Preview
        </a>
    }
}
@if (Model.SaveMessage.IsSet())
{
    <alert type="@Model.MessageType" size="Medium">@Model.SaveMessage</alert>
}
<form class="inline" data-target="#content-list">
    <div class="row">
        <div class="col-lg-8 mb-3">
            <div id="content-list" class="query hood-inline-list" data-url="@Url.Action("List", new { type = Model.Type })"></div>
        </div>
        <div class="col-lg-4">
            <partial name="_Filters" />
        </div>
    </div>
</form>
