@model ContentModel
<div class="row">
    <div class="col-4 text-left">
        @if (Model.Previous != null)
        {
            <a href="@Model.Previous.Url" class="item-prev">
                <i class="fa fa-long-arrow-left"></i>
                <span class="sr-only">Previous @Model.ContentType.TypeName</span>
            </a>
        }
    </div>
    <div class="col-4 text-center">
        <a href="/@Model.ContentType.Type.ToLower()">
            Back to @Model.ContentType.Title
        </a>
    </div>
    <div class="co-4 text-right">
        @if (Model.Next != null)
        {
            <a href="@Model.Next.Url" class="item-prev">
                <span class="sr-only">Next @Model.ContentType.TypeName</span>
                <i class="fa fa-long-arrow-right"></i>
            </a>
        }
    </div>
</div>