@model PagedList<ContentView>
@inject IContentRepository _content
@if (Model != null && Model.List.Count > 0)
{
            @foreach (ContentView content in Model.List)
            {
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-3">
                            <a href="@content.Url">
                                <fixedImage src="@content.FeaturedImage.ThumbUrl" class="card-img mb-0 @string.Format("content-image-{0}", content.Id)" style="@content.GetImageStyle();height:100%;" />
                            </a>
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                        <p class="media-heading mb-0"><a class="title-link" href="@content.Url"><strong>@content.Title</strong></a></p>
                        
                                <small>
                                    <i class="mr-2 fa fa-user"></i>@content.ToDisplayName()<br />
                                    <i class="mr-2 fa fa-clock"></i>@content.PublishDate.ToLongDateString()
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            }
}
