@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject ISiteConfiguration _site
@inject IContentRepository _content
@{
    BasicSettings _info = _site.GetBasicSettings();
    SeoSettings _meta = _site.GetSeo();
    string description = "Log In - " + _info.Address.ToFormat(AddressFormat.SingleLine);
    string title = "Log In - " + _info.CompanyName;
    if (_meta.Login != null)
    {
        description = _meta.Login.Description.IsSet() ? _meta.Login.Description : _meta.Description.IsSet() ? _meta.Description : "Log In - " + _info.Address.ToFormat(AddressFormat.SingleLine);
        title = _meta.Login.Title.IsSet() ? _meta.Login?.Title : _meta.Title.IsSet() ? _meta.Title : "Log In - " + _info.CompanyName;
    }
    ViewData["Title"] = title;
    Layout = "_LoginLayout";
}
@section metas {
    <meta name="description" content="@description" />
    <meta property="og:author" content="@_meta.OgAuthor" />
    <meta property="og:title" content="@title" />
    <meta property="og:image" content="@_meta.OgImageUrl" />
    <meta property="og:image:secure_url" content="@_meta.OgSecureImageUrl" />
    <meta property="og:description" content="@description" />
    <meta name="twitter:title" content="@title" />
    <meta name="twitter:description" content="@description" />
    <meta name="twitter:image" content="@_meta.TwitterCardImageUrl" />
}
<div class="login-block-header">
    <h2>Sign In</h2>
    @{ await Html.RenderPartialAsync("_LoginSocials"); }
    <p>Don't Have Account? Click <a asp-action="Register">Sign Up</a> to create one.</p>
</div>
<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="" role="form">
    <div asp-validation-summary="All" class="validation-summary"></div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input asp-for="Email" class="form-control" placeholder="Your email address" />
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input asp-for="Password" class="form-control" placeholder="Your password" />
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <p><button type="submit" class="btn btn-block">Log In</button></p>
    <p class="text-center">
        <a asp-action="ForgotPassword">Forgot your password?</a>
    </p>

</form>
