@model ForumSettings
@{
    ViewData["Title"] = "Forum Settings";
    Layout = "_SettingsLayout";

    BasicSettings _basicSettings = _settings.GetBasicSettings();
    Hood.Infrastructure.OperationResult subResult = _settings.SubscriptionsEnabled();
    bool subsEnabled = subResult.Succeeded;
}
@section buttons {
    <a asp-action="ResetForum" class="btn btn-danger warning-alert" data-warning="This will completely reset these settings to their default state, are you sure!?"><i class="fa fa-refresh"></i> Reset to Default</a>
}
@section description {
    <p class="no-margin">
        Settings for site's forums.
    </p>
}
<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#forum">Forum Settings</a></li>
    </ul>
    <div class="tab-content">
        <div id="forum" class="tab-pane active">
            <div class="panel-body">
                <h5>
                    Forum Settings
                </h5>
                <p>
                    Settings for site's forums.
                </p>
                <div class="form-group">
                    <div class="checkbox">
                        <input asp-for="Enabled" class="styled">
                        <label asp-for="Enabled"></label>
                    </div>
                </div>
                <hr />
                <h5>
                    Viewing Settings
                </h5>
                <fieldset>
                    <div class="form-group">
                        <div class="checkbox">
                            <input asp-for="ViewingRequiresLogin" class="styled">
                            <label asp-for="ViewingRequiresLogin"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <input asp-for="ViewingRequiresSubscription" class="styled">
                            <label asp-for="ViewingRequiresSubscription"></label>
                        </div>
                    </div>
                    <div class="well well-sm">
                        <div class="form-group no-margin">
                            <label asp-for="ViewingSubscriptions" class="col-sm-3 control-label">
                                Viewer Subscriptions:
                            </label>
                            <div class="col-sm-8">
                                @if (subsEnabled && Model.Subscriptions.Count() > 0)
                                {
                                    List<string> subs = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(Model.ViewingSubscriptions.IsSet() ? Model.ViewingSubscriptions : "[]");
                                    <p class="m-t-xs">Select subscriptions that can view the forums. <em>If you select none, then then any subscription can (if subscriptions are required).</em></p>
                                    <input class="form-control checkbox-values" type="hidden" asp-for="ViewingSubscriptions" />
                                    @foreach (Subscription sub in Model.Subscriptions.OrderBy(p => p.Amount))
                                    {
                                        <div class="checkbox">
                                            @if (subs == null || !subs.Contains(sub.StripeId))
                                            {
                                                <input type="checkbox" value="@string.Format("{0}", sub.StripeId)" data-input="ViewingSubscriptions" id="ViewingSubscriptions-@sub.StripeId.ToSeoUrl()" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" value="@string.Format("{0}", sub.StripeId)" data-input="ViewingSubscriptions" id="ViewingSubscriptions-@sub.StripeId.ToSeoUrl()" checked />
                                            }
                                            <label for="ViewingSubscriptions-@sub.StripeId.ToSeoUrl()">
                                                @sub.Name
                                            </label>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <span class="label label-warning form-control-message"><i class="fa fa-exclamation-triangle m-r-xs"></i>Subscriptions are not enabled.</span>
                                }
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="well well-sm">
                        <div class="form-group no-margin">
                            <label asp-for="ViewingRoles" class="col-sm-3 control-label">
                                Viewer Roles:
                            </label>
                            <div class="col-sm-8">
                                @if (subsEnabled && Model.Roles.Count() > 0)
                                {
                                    List<string> roles = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(Model.ViewingRoles.IsSet() ? Model.ViewingRoles : "[]");
                                    <p class="m-t-xs">Select roles that can ALWAYS view the forums. <em>These roles will not require a subscription to access the forums, even if a specific forum requires it.</em></p>
                                    <input class="form-control checkbox-values" type="hidden" asp-for="ViewingRoles" />
                                    @foreach (IdentityRole role in Model.Roles.OrderBy(p => p.Name))
                                    {
                                        <div class="checkbox">
                                            @if (roles == null || !roles.Contains(role.Name))
                                            {
                                                <input type="checkbox" value="@string.Format("{0}", role.Name)" data-input="ViewingRoles" id="ViewingRoles-@role.Name.ToSeoUrl()" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" value="@string.Format("{0}", role.Name)" data-input="ViewingRoles" id="ViewingRoles-@role.Name.ToSeoUrl()" checked />
                                            }
                                            <label for="ViewingRoles-@role.Name.ToSeoUrl()">
                                                @role.Name
                                            </label>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <span class="label label-warning form-control-message"><i class="fa fa-exclamation-triangle m-r-xs"></i>Subscriptions are not enabled.</span>
                                }
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <h5>
                    Posting Settings
                </h5>
                <fieldset>
                    <div class="form-group">
                        <div class="checkbox">
                            <input asp-for="PostingRequiresLogin" class="styled">
                            <label asp-for="PostingRequiresLogin"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <input asp-for="PostingRequiresSubscription" class="styled">
                            <label asp-for="PostingRequiresSubscription"></label>
                        </div>
                    </div>
                    <div class="well well-sm">
                        <div class="form-group no-margin">
                            <label asp-for="PostingSubscriptions" class="col-sm-3 control-label">
                                Posting Subscriptions:
                            </label>
                            <div class="col-sm-8">
                                @if (Model.Subscriptions.Count() > 0)
                                {
                                    List<string> subs = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(Model.PostingSubscriptions.IsSet() ? Model.PostingSubscriptions : "[]");
                                    <p class="m-t-xs">Select subscriptions that can post on the forums. <em>If you select none, then then any subscription can (if subscriptions are required).</em></p>
                                    <input class="form-control checkbox-values" type="hidden" asp-for="PostingSubscriptions" />
                                    @foreach (Subscription sub in Model.Subscriptions.OrderBy(p => p.Amount))
                                    {
                                        <div class="checkbox">
                                            @if (subs == null || !subs.Contains(sub.StripeId))
                                            {
                                                <input type="checkbox" value="@string.Format("{0}", sub.StripeId)" data-input="PostingSubscriptions" id="PostingSubscriptions-@sub.StripeId.ToSeoUrl()" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" value="@string.Format("{0}", sub.StripeId)" data-input="PostingSubscriptions" id="PostingSubscriptions-@sub.StripeId.ToSeoUrl()" checked />
                                            }
                                            <label for="PostingSubscriptions-@sub.StripeId.ToSeoUrl()">
                                                @sub.Name
                                            </label>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <span class="label label-warning form-control-message"><i class="fa fa-exclamation-triangle m-r-xs"></i>Subscriptions are not enabled.</span>
                                }
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="well well-sm">
                        <div class="form-group no-margin">
                            <label asp-for="PostingRoles" class="col-sm-3 control-label">
                                Posting Roles:
                            </label>
                            <div class="col-sm-8">
                                @if (Model.Roles.Count() > 0)
                                {
                                    List<string> roles = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(Model.PostingRoles.IsSet() ? Model.PostingRoles : "[]");
                                    <p class="m-t-xs">Select roles that can ALWAYS post in the forums. <em>These roles will not require a subscription to post in the forums, even if a specific forum requires it.</em></p>
                                    <input class="form-control checkbox-values" type="hidden" asp-for="PostingRoles" />
                                    @foreach (IdentityRole role in Model.Roles.OrderBy(p => p.Name))
                                    {
                                        <div class="checkbox">
                                            @if (roles == null || !roles.Contains(role.Name))
                                            {
                                                <input type="checkbox" value="@string.Format("{0}", role.Name)" data-input="PostingRoles" id="PostingRoles-@role.Name.ToSeoUrl()" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" value="@string.Format("{0}", role.Name)" data-input="PostingRoles" id="PostingRoles-@role.Name.ToSeoUrl()" checked />
                                            }
                                            <label for="PostingRoles-@role.Name.ToSeoUrl()">
                                                @role.Name
                                            </label>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <span class="label label-warning form-control-message"><i class="fa fa-exclamation-triangle m-r-xs"></i>Subscriptions are not enabled.</span>
                                }
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
