@model MediaSettings
@{
    ViewData["Title"] = "Media Settings";
    Layout = "_SettingsLayout";
}
@section buttons {
    <a asp-action="RefreshMedia" class="btn btn-warning warning-alert" data-warning="This will refresh all media items, removing any broken media, and updating the location to the currently set up cloud storage. Are you sure?"><i class="fa fa-refresh"></i> Refresh all media</a>
    <a asp-action="ResetMedia" class="btn btn-danger warning-alert" data-warning="This will completely reset these settings to their default state, are you sure!?"><i class="fa fa-refresh"></i> Reset to Default</a>
}
@section description {
    <p class="no-margin">
        Settings for uploading media to the site.
    </p>
}
@section alerts {
    @if (Model.UpdateReport.HasRun)
    {
        <div class="alert @(Model.UpdateReport.Succeeded ? "alert-success" : Model.UpdateReport.Running ? "alert-warning" : "alert-danger")">
            @if (Model.UpdateReport.Running)
            {
                <h3 class="no-margin">Media is being refreshed.</h3>
            }
            else
            {
                if (Model.UpdateReport.Succeeded)
                {
                    <h3 class="no-margin">Media refresh succeeded.</h3>
                }
                else
                {
                    <h3 class="no-margin">Media refresh failed.</h3>
                }
            }
            <p class="m-t-md">@Model.UpdateReport.StatusMessage</p>
            <p>Processed: @Model.UpdateReport.Processed</p>
            <p>Total: @Model.UpdateReport.Total</p>
            <p>Completed: @Model.UpdateReport.Complete</p>
        </div>
    }
}
<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#billing">Media Settings</a></li>
    </ul>
    <div class="tab-content">
        <div id="billing" class="tab-pane active">
            <div class="panel-body">
                <strong>Media Settings</strong>
                <p>
                    Settings for uploading media to the site.
                </p>
                <hr />
                <form method="post" id="settings-form">
                    <fieldset class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" asp-for="AzureKey"></label>
                            <div class="col-sm-8">
                                <input asp-for="AzureKey" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" asp-for="AzureHost"></label>
                            <div class="col-sm-8">
                                <input asp-for="AzureHost" type="text" class="form-control" />
                                <small>Note: Images or files may take a few minutes to propogate and cache on your CDN endpoint, if you chose to use one.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" asp-for="AzureScheme"></label>
                            <div class="col-sm-8">
                                <select asp-for="AzureScheme" class="form-control">
                                    <option value="https">HTTPS (Secure)</option>
                                    <option value="http">HTTP (Insecure)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" asp-for="ContainerName"></label>
                            <div class="col-sm-8">
                                <input asp-for="ContainerName" type="text" class="form-control" />
                                <small>Note: This is the container (folder) name that the site will use to store media uploads on your Azure Storage account.</small>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="col-sm-3 control-label" asp-for="HoodApiUrl"></label>
                            <div class="col-sm-8">
                                <input asp-for="HoodApiUrl" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" asp-for="HoodApiKey"></label>
                            <div class="col-sm-8">
                                <input asp-for="HoodApiKey" type="text" class="form-control" />
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="col-sm-3 control-label" asp-for="NoImage"></label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input asp-for="NoImage" type="url" class="form-control NoImage" placeholder="Enter a url..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default hood-image-set" data-target=".NoImage" data-restrict="image" type="button"><i class="fa fa-camera"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
