@model Log
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <h4>Details:</h4>
        <div>@Html.Raw(Model.Detail.ToFormattedJson().AddHtmlBreaks())</div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <dl>
            @if (Model.User != null)
            {
                <dt>User</dt>
                <dd>
                    <a asp-action="Edit" asp-controller="Users" asp-route-id="@Model.User.Id">
                        @Model.User.FullName
                    </a>
                </dd>
            }
            @if (Model.SourceUrl.IsSet())
            {
                <dt>Source Url</dt>
                <dd>
                    <a asp-action="Edit" asp-controller="Users" asp-route-id="@Model.User.Id">
                        @Model.SourceUrl
                    </a>
                </dd>
            }
            @if (Model.EntityType.IsSet())
            {
                <dt>Source Object</dt>
                <dd>
                    @Model.EntityType
                </dd>
            }
            @if (Model.EntityId.IsSet())
            {
                <dt>Source Object Id</dt>
                <dd>
                    @Model.EntityId
                </dd>
            }
        </dl>
    </div>
</div>
