@model Log
<div class="data-item">
    <div class="row row-center">
        <div class="col-xs-1">
            <div>
                @switch (Model.Type)
                {
                    case LogType.Success:
                        <span class="label label-success">Success</span>
                        break;
                    case LogType.Error:
                        <span class="label label-danger">Error</span>
                        break;
                    case LogType.Warning:
                        <span class="label label-warning">Warning</span>
                        break;
                    case LogType.Info:
                        <span class="label label-info">Info</span>
                        break;
                }
            </div>
        </div>
        <div class="col-xs-1">
            <div>
                <span class="label label-default">@Model.Source</span>
            </div>
        </div>
        <div class="col-xs-3">
            <div>@Model.Time.ToDisplay()</div>
        </div>
        <div class="col-md-6">
            <div><strong>@Model.Title</strong></div>
        </div>
        <a data-toggle="collapse" href="@string.Format("#log-{0}", Model.Id)" class="full-box-link"></a>
    </div>
    <div class="collapse" id="@string.Format("log-{0}", Model.Id)">
        <div class="p-sm">
            @switch (Model.Source)
            {
                case LogSource.Api:
                    await Html.RenderPartialAsync("_Log_Api");
                    break;
                case LogSource.Subscriptions:
                    await Html.RenderPartialAsync("_Log_Subscription");
                    break;
                default:
                    await Html.RenderPartialAsync("_Log_Basic");
                    break;
            }
        </div>
    </div>
</div>
