@model EditUserModel

@{
    ViewData["Title"] = "Your Profile";
    ApplicationUserApi uapi = _settings.ToApplicationUserApi(Model.User);
}
<div class="row">
    <div class="col-sm-4">
        <div class="text-center m-b-lg">
            <fixedImage src="@uapi.Avatar.LargeUrl" class="img-md img-circle sidebar-avatar @string.Format("avatar-{0}", Model.User.Id)" />
        </div>
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li role="presentation" class="active"><a href="#basics" aria-controls="password" role="tab" data-toggle="tab">Basic Details</a></li>
            <li role="presentation"><a href="#socials" aria-controls="socials" role="tab" data-toggle="tab">Socials</a></li>
            <li role="presentation"><a href="#avatar" aria-controls="avatar" role="tab" data-toggle="tab">Avatar</a></li>
            <li role="presentation"><a href="#bio" aria-controls="bio" role="tab" data-toggle="tab">Bio</a></li>
        </ul>
    </div>
    <div class="col-sm-8">
        <form id="profile-form" method="post">
            @Html.BootstrapAlert(Model.SaveMessage, Model.MessageType)
            <div class="tabs">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="basics">
                        <h4>Your Details</h4>
                        <hr class="m-b-lg" />
                        <fieldset class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.UserName"></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="User.UserName" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.Email"></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="User.Email" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.FirstName"></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="User.FirstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.LastName"></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="User.LastName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.JobTitle"></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="User.JobTitle">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.CompanyName"></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="User.CompanyName">
                                </div>
                            </div>
                        </fieldset>
                        <hr />
                        <fieldset class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.Phone"></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="User.Phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.Mobile"></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="User.Mobile">
                                </div>
                            </div>
                        </fieldset>
                        <hr />
                        <fieldset class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.EmailOptin"></label>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <input asp-for="User.EmailOptin" class="styled">
                                        <label asp-for="User.EmailOptin">Recieve updates and latest news from us.</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <hr />
                        <fieldset class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.ClientCode"></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="User.ClientCode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.VATNumber"></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="User.VATNumber">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="socials">
                        <h4>Social Media Accounts</h4>
                        <hr class="m-b-lg" />
                        <fieldset class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.Facebook"></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="User.Facebook">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.GooglePlus"></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="User.GooglePlus">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.LinkedIn"></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="User.LinkedIn">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.Twitter"></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="User.Twitter">
                                </div>
                            </div>
                        </fieldset>
                        <hr />
                        <fieldset class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.TwitterHandle"></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="User.TwitterHandle">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.WebsiteUrl"></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="User.WebsiteUrl">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="avatar">
                        <h4>Your Avatar</h4>
                        <hr class="m-b-lg" />
                        <div class="media">
                            <div class="media-left media-middle">
                                <fixedImage src="@Model.User.Avatar?.SmallUrl" class="img-sm @string.Format("avatar-{0}", Model.User.Id)"></fixedImage>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Change your profile image</h4>
                                <p>You can set your own profile image, click the upload button below to begin.</p>
                                <p><a class="btn btn-default" id="avatar-upload" data-url="@Url.Action("UploadAvatar", new { userId = Model.User.Id })" data-preview="@string.Format(".avatar-{0}", Model.User.Id)">Upload</a></p>
                            </div>
                        </div>
                        <div id="avatar-total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="opacity: 0;">
                            <div class="progress-bar progress-bar-dark" style="width:0%;" data-dz-uploadprogress=""></div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="bio">
                        <h4>Bio</h4>
                        <hr class="m-b-lg" />
                        <fieldset class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.Bio"></label>
                                <div class="col-sm-9">
                                    <textarea type="text" class="form-control" asp-for="User.Bio" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" asp-for="User.Notes"></label>
                                <div class="col-sm-9">
                                    <textarea type="text" class="form-control" asp-for="User.Notes"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <hr />
            <p>
                <input type="submit" class="btn btn-success" value="Save profile" />
            </p>
        </form>
    </div>
</div>
