@model Content
@{
    Layout = null;
}
<div class="sidebar-container">
    <div class="sidebar-title create">
        <button type="button" class="close close-blade"><span>&times;</span></button>
        <h3>Create new @Model.Type.TypeName.ToLower()</h3>
        <p><i class="fa fa-plus-circle"></i> Add a new @Model.Type.TypeName.ToLower() to the website.</p>
    </div>
    <div class="sidebar-content">
        <form method="post" id="create-content-form">
            <input type="hidden" asp-for="ContentType" value="@Model.Type.Type" />
            <div class="blade-field">
                <label for="Title" class="control-label">@Model.Type.TitleName</label>
                <div>
                    <input asp-for="Title" class="form-control" />
                </div>
                <span asp-validation-for="Title"></span>
            </div>
            <div class="blade-field">
                <label for="Title" class="control-label">@Model.Type.ExcerptName</label>
                <div>
                    <textarea asp-for="Excerpt" class="form-control"></textarea>
                </div>
                <span asp-validation-for="Excerpt"></span>
            </div>
            <div class="blade-field">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">Date to publish</label>
                            <input asp-for="PublishDatePart" type="text" class="datepicker form-control" />
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">Time</label>
                            <div>
                                <select asp-for="PublishHours" class="form-control half">
                                    @for (int i = 0; i < 24; i++)
                                    {
                                        if (i == DateTime.Now.Hour)
                                        {
                                            <option value="@i" selected>@i.ToString("00")</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@i.ToString("00")</option>
                                        }
                                    }
                                </select>
                                <select asp-for="PublishMinutes" class="form-control half">
                                    @for (int i = 0; i < 60; i++)
                                    {
                                        if (i == DateTime.Now.Minute)
                                        {
                                            <option value="@i" selected>@i.ToString("00")</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@i.ToString("00")</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blade-field">
                <div class="form-group">
                    <label class="control-label">Create as</label>
                    <div class="">
                        <select asp-for="Status" class="form-control">
                            <option value="1">Draft</option>
                            <option value="2">Published</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="blade-field">
                <button type="button" id="create-content-submit" class="btn btn-primary"><i class="fa fa-content-plus"></i> Create @Model.Type.TypeName.ToLower()</button>
                <button type="button" class="btn btn-default close-blade"><i class="fa fa-ban"></i> Cancel</button>
            </div>
        </form>
    </div>
</div>
