@model Stripe.PaymentMethod
<div class="panel panel-default accordion-section m-b-xs">
    <div class="panel-heading accordion-title">
        <a data-toggle="collapse" href="@string.Format("#collapse-card-{0}", Model.Id)">
        @if (Model.Id == Model.Customer.InvoiceSettings.DefaultPaymentMethodId || Model.Id == Model.Customer.DefaultSourceId)
        {
            <span class="pull-right badge badge-success">Default</span>
        }
        @switch (Model.Card.Brand)
        {
            case "Visa":
                <img class="card-icon m-r-xs" src="~/hood/images/cards/visa.png" />
                break;
            case "American Express":
                <img class="card-icon m-r-xs" src="~/hood/images/cards/AmericanExpress.png" />
                break;
            case "MasterCard":
                <img class="card-icon m-r-xs" src="~/hood/images/cards/MasterCard.png" />
                break;
            case "Discover":
                <img class="card-icon m-r-xs" src="~/hood/images/cards/Discover.png" />
                break;
            case "JCB":
                <img class="card-icon m-r-xs" src="~/hood/images/cards/JCB.png" />
                break;
            case "Diners Club":
                <img class="card-icon m-r-xs" src="~/hood/images/cards/DinersClub.png" />
                break;
        }
        <span>Card ending in <strong>@Model.Card.Last4</strong></span>
        </a>
    </div>
    <div id="@string.Format("collapse-card-{0}", Model.Id)" class="panel-collapse accordion-content collapse" role="tabpanel" aria-labelledby="@string.Format("#heading-card-{0}", Model.Id)">
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    Brand
                </dt>
                <dd>
                    @Model.Card.Brand
                </dd>
                <dt>
                    Last 4 digits
                </dt>
                <dd>
                    @Model.Card.Last4
                </dd>
                <dt>
                    Expiry Date
                </dt>
                <dd>
                    @Model.Card.ExpMonth / @Model.Card.ExpYear
                </dd>
            </dl>
            <p class="text-right">
                <a class="btn btn-xs btn-primary payment-method-setdefault" asp-action="SetDefault" asp-route-id="@Model.Id">Make Default</a>
                <a class="btn btn-xs btn-danger payment-method-delete" asp-action="DeletePaymentMethod" asp-route-id="@Model.Id">Delete</a>
            </p>
        </div>
    </div>
</div>
