@model EditContentModel
<h5>@Model.Content.ContentType.ToTitleCase() Image Settings</h5>
<div class="ibox-content">
    <fieldset class="form-horizontal">
        @foreach (ContentMeta cm in Model.Content.Metadata.Where(c => c.Name.StartsWith("Settings.Image.")).OrderBy(cm => cm.Name))
        {
            if (Model.Type.ShowImage && cm.Name.Contains("Featured"))
            {
                <div class="form-group">
                    @if (cm.Name.Contains("Banner"))
                    {
                        <label for="@string.Format("Meta:{0}", cm.Name)" class="col-sm-3 control-label">
                            Banner Image @cm.Name.Replace("Settings.Image.Banner.", ""):
                        </label>
                    }
                    else
                    {
                        <label for="@string.Format("Meta:{0}", cm.Name)" class="col-sm-3 control-label">
                            Featured Image @cm.Name.Replace("Settings.Image.Featured.", ""):
                        </label>
                    }
                    <div class="col-sm-9">
                        @{await Html.RenderPartialAsync("_MetaEditor_Default", cm); }
                    </div>
                </div>
            }
        }
    </fieldset>
</div>
