@model EditContentModel
<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <label class="control-label">PublishDate</label>
            <div class="">
                <input class="datepicker form-control" id="PublishDate" name="PublishDate" value="@Model.Content.PublishDate.ToShortDateString()">
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label class="control-label">Time</label>
            <div>
                <select class="form-control half" id="PublishHour" name="PublishHour" data-selected="@Model.Content.PublishDate.Hour">
                    @for (int i = 0; i < 24; i++)
                    {
                        <option value="@i">@i.ToString("00")</option>
                    }
                </select>
                <select class="form-control half" id="PublishMinute" name="PublishMinute" data-selected="@Model.Content.PublishDate.Minute">
                    @for (int i = 0; i < 60; i++)
                    {
                        <option value="@i">@i.ToString("00")</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>
