@model Content
@{ 
    Layout = null;
}
@if (Model.Media != null)
{
    <div class="row">
        @foreach (var media in Model.Media)
                {
            <div class="col-md-6 col-lg-4">
                <div class="media">
                    <div class="media-left">
                        <fixedImage src="@media.LargeUrl" class="img-sm m-r-xs m-b-md"></fixedImage>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">@media.Filename</h4>
                        <a class="btn btn-xs btn-success" asp-action="SetFeatured" asp-route-id="@Model.Id" asp-route-mediaId="@media.Id">Set as featured</a>
                        <a class="btn btn-xs btn-danger warning-alert" data-warning="Are you sure you want to delete this image permanently?" asp-action="RemoveMedia" asp-route-id="@Model.Id" asp-route-mediaId="@media.Id"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
}
