@model Topic
@{
    var _account = Context.GetAccountInfo();
}
<div class="post" id="@string.Format("topic-{0}", Model.Id)">
    <a asp-action="ShowTopic" asp-route-id="@Model.Id" asp-route-title="@Model.Title.ToSeoUrl()" class="full-box-link"></a>
    <div class="row">
        <div class="col-md-8">
            <h5>@Model.Title</h5>
            <p class="stats">
                <span class="m-r-sm"><i class="fa fa-paper-plane m-r-xs"></i> <strong>@Model.NumPosts</strong> posts.</span>
                <span class="m-r-sm"><i class="fa fa-user m-r-xs"></i> @Model.Author.FullName</span>
                <span><i class="fa fa-clock-o m-r-xs"></i> @Model.CreatedOn.ToHumaneDate()</span>
            </p>
        </div>
        <div class="col-md-4">
            <p class="latest">
                @if (Model.LastPostId.HasValue)
                {
                    <span>
                        Latest Post by <strong>@Model.LastUserDisplayName</strong><br />
                        at <strong>@Model.LastPosted.Value.ToDisplay()</strong>
                    </span>
                }
                else
                {
                    <span>No posts yet.</span>
                }
            </p>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated &&
      (
          Model.AuthorId == _account.User.Id ||
          User.IsInRole("Admin") ||
          User.IsInRole("Moderator")
      )
   )
    {
        <hr class="m-t-sm m-b-sm" />
        <p class="no-margin">
            <a class="btn btn-xs btn-warning m-r-sm" asp-action="EditTopic" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-xs btn-danger" asp-action="DeleteTopic" asp-route-id="@Model.Id">Delete</a>
        </p>
    }
</div>