@model Forum
@{
    var _account = Context.GetAccountInfo();
}
<div class="post forum" id="@string.Format("topic-{0}", Model.Id)">
    <fixedImage src="@Model.FeaturedImage.MediumUrl" class="image" />
    <a href="@Model.Url" class="full-box-link"></a>
    <div class="row">
        <div class="col-md-8">
            <h5><a href="@Model.Url">@Model.Title</a></h5>
            <p class="categories">
                @if (Model.Categories != null && Model.Categories.Count != 0)
                {
                    foreach (var category in Model.Categories)
                    {
                        <a class="label label-default" asp-action="Index" asp-route-category="@category.Category.Slug">@category.Category.DisplayName</a>
                    }
                }
                else
                {
                    <span class="label label-default">Uncategorised</span>
                }
            </p>
            <p class="stats">
                <span class="m-r-sm"><i class="fa fa-comments m-r-xs"></i> <strong>@Model.NumTopics</strong> discussions.</span>
                <span class="m-r-sm"><i class="fa fa-paper-plane m-r-xs"></i> <strong>@Model.NumPosts</strong> posts.</span>
                <span class="m-r-sm"><i class="fa fa-user m-r-xs"></i> Created by <strong>@Model.Author.FullName</strong></span>
            </p>
        </div>
        <div class="col-md-4">
            <p class="no-margin">
                @if (Model.LastPostId.HasValue)
                {
                    <span>
                        Latest Post by <strong>@Model.LastUserDisplayName</strong><br />
                        at <strong>@Model.LastPosted.Value.ToDisplay()</strong>
                    </span>
                }
                else
                {
                    <span>No posts yet.</span>
                }
            </p>
        </div>
    </div>
</div>
