@model UserListModel
@{
    Layout = null;
}
<div class="">
    @foreach (var user in Model.List)
    {
        <div class="card hover overflow-hidden mb-3">
            <div class="row no-gutters align-items-center">
                <div class="col-auto">
                    <a asp-action="Edit" asp-route-id="@user.Id">
                        <fixedImage src="@user.Avatar.ThumbUrl" class="img img-circle img-sm m-4" alt="@user.ToFullName()"></fixedImage>
                    </a>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-action="Edit" asp-route-id="@user.Id">@user.ToAdminName()</a>
                        </h5>
                        <p class="card-text mb-1">
                            <small class="d-block">
                                Username: 
                                <strong>@user.UserName</strong> 
                            </small>
                            <small class="d-block">
                                Email: 
                                <strong>@user.Email</strong>
                                @if (!user.EmailConfirmed) { <i class="fa fa-exclamation-triangle text-danger" title="Email not confirmed."></i> }
                            </small>
                        </p>
                        <p class="card-text mb-1">
                            @foreach (var sub in user.ActiveSubscriptions)
                            {
                                <small class="badge badge-success">@sub.Name</small>
                            }
                            @if  (user.ActiveSubscriptions.Count == 0)
                            {
                                <small class="badge badge-dark">No active subscriptions</small>
                            }
                        </p>
                        <p class="card-text"><small class="text-muted">Last logged in @user.LastLogOn.ToHumaneDate()</small></p>
                    </div>
                </div>
                <div class="col-auto d-flex align-items-center">
                    <button type="button" class="btn btn-lg shadow-none v-middle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@user.Id"><i class="fa fa-edit"></i> Edit User</a>
                        <a class="dropdown-item user-reset-password" asp-action="ResetPassword" asp-route-id="@user.Id"><i class="fa fa-lock"></i> Reset Password</a>
                        <a class="dropdown-item" asp-action="Impersonate" asp-route-id="@user.Id"><i class="fa fa-user-secret"></i> Impersonate User</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item user-delete" asp-action="Delete" asp-route-id="@user.Id"><i class="fa fa-trash-alt"></i> Delete User</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<partial name="_Pagination" />
