@model UserListModel
@{
    IntegrationSettings _integrations = Engine.Settings.Integrations;
    ViewBag.Title = "Website Users";
}
@section buttons {
    @if (_integrations.EnableMailchimp && _integrations.MailchimpApiKey.IsSet() && _integrations.MailchimpUserListId.IsSet()) {
        <a class="btn btn-warning btn-sm warning-alert" asp-action="SyncToMailchimp" data-warning="Are you sure? This will sync ALL site users with the assigned Mailchimp list. Any extraneous users will be REMOVED from the mailchimp list."><i class="fa fa-refresh m-r-sm"></i>Sync List to Mailchimp</a>
    }
    <button class="btn btn-success btn-sm create-user"><i class="fa fa-user-plus m-r-sm"></i>Create New User</button>
}
@if (Model.SaveMessage.IsSet())
{
    <alert type="@Model.MessageType" size="Medium" icon="fa-save">@Model.SaveMessage</alert>;
}
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="row m-b-sm m-t-sm">
                <form>
                    <input type="hidden" asp-for="PageIndex" />
                    <input type="hidden" asp-for="PageSize" />
                    <div class="col-md-4">
                        <select class="form-control" asp-for="Order">
                            <option value="DateDesc">Newest First</option>
                            <option value="Date">Oldest First</option>
                            <option value="LastLogOn">By Log in time</option>
                            <option value="UserName">By Username (A-Z)</option>
                            <option value="UserNameDesc">By Username (Z-A)</option>
                            <option value="Email">By Email (A-Z)</option>
                            <option value="EmailDesc">By Email (Z-A)</option>
                            <option value="LastName">By Last Name (A-Z)</option>
                            <option value="LastNameDesc">By Last Name (Z-A)</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" asp-for="Role">
                            <option value="">All Users</option>
                            <option value="Admin">Administrator</option>
                            <option value="CMS">CMS Access</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input asp-for="Search" type="text" placeholder="Search" class="form-control">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary"> Search!</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @foreach (var user in Model.List)
            {
                <div class="data-item">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <figure class="img-xs media-@user.Id hood-image" style="background-image:url(@user.Avatar.ThumbUrl);">
                                        <img src="@user.Avatar.ThumbUrl" alt="">
                                    </figure>
                                </div>
                                <div class="media-body">
                                    <a class="forum-item-title" href="/admin/users/edit/@user.Id">@user.ToFullName() <small>Username: <strong>@user.UserName</strong> - Email: <strong>@user.Email</strong></small></a>
                                    <small>Last logged in from <strong>@user.LastLoginLocation</strong> <i class="fa fa-clock-o"></i> @user.LastLogOn.ToDisplay() #</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 action-buttons">
                            <action hood-id="@user.Id" hood-type="users" hood-action="edit"></action>
                            <action hood-id="@user.Id" hood-type="user" hood-action="delete"></action>
                        </div>
                    </div>
                </div>
            }
            <div class="text-center m-t-md">
                @{ await Html.RenderPartialAsync("_Pagination"); }
            </div>
       </div>
    </div>
</div>
