@model MailchimpSyncStats
@{
    IntegrationSettings _integrations = Engine.Settings.Integrations;
    ViewBag.Title = "Synced Users to Mailchimp List";
}
@section buttons {
    <a class="btn btn-sm btn-primary" asp-action="Index" asp-controller="Users" asp-area="Admin"><i class="fa fa-list-ol m-r-sm"></i>Back to List</a>
}
@section breadcrumbs {
    <ol class="breadcrumb">
        <li>
            <a href="/admin">Home</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Users" asp-route-area="Admin">
                <i class="fa fa-users"></i> Users
            </a>
        </li>
        <li class="active">
            <strong>@ViewBag.Title</strong>
        </li>
    </ol>
}
<div class="panel-body">
    <h4 class="font-bold">
        <span>Activity</span>
    </h4>
    <div>
        <div class="well-lg">
            <p>Total Users: <strong>@Model.SiteTotal</strong></p>
            <p>Mailchimp List Members: <strong>@Model.MailchimpTotal</strong></p>
            <p>
                Added:
                <strong>@Model.Added</strong>
            </p>
            <p>
                Deleted:
                <strong>@Model.Deleted</strong>
            </p>
            <p>
                Unsubscribed members on the list:
                <strong>@Model.UnsubscribedUsers.Count</strong>
            </p>
            <div class="form-group">
                <label>Unsubscribed Emails</label>
                <textarea class="form-control">@Model.UnsubscribedUserList</textarea>
                <small>
                    Note: These users have marked their Mailchimp status as unsubscribed.<br />
                    This is for information purposes only, and it is YOUR RESPONSIBILITY to maintain your list and purge data where necessary.
                </small>
            </div>
        </div>
    </div>
</div>
