@model SubscriptionProductListModel
@{
    Layout = null;
}
@if (Model.TotalCount > 0)
{
    @foreach (var product in Model.List)
    {
        <div class="card hover mb-3 p-2">
            <div class="row no-gutters align-items-center">
                <div class="col-auto">
                    <a asp-action="EditProduct" asp-route-id="@product.Id">
                        <fixedImage src="@product.FeaturedImage.ThumbUrl" class="img img-circle img-sm m-2 mr-4" alt="@product.DisplayName"></fixedImage>
                    </a>
                </div>
                <div class="col">
                    <div class="mb-1">
                        <h5 class="card-title d-lg-inline">
                            <a asp-action="EditProduct" asp-route-id="@product.Id">
                                @product.DisplayName
                            </a>
                        </h5>
                    </div>
                    <p class="text-muted m-0">@product.Subscriptions.Count Subscription Plans</p>
                </div>
                <div class="col-auto d-flex align-items-center">
                    <button type="button" class="btn btn-lg shadow-none v-middle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" asp-action="EditProduct" asp-route-id="@product.Id">
                            <i class="fa fa-edit"></i>
                            Edit Item
                        </a>
                        <a class="dropdown-item" asp-action="Plans" asp-route-product="@product.Id">
                            <i class="fa fa-award"></i>
                            Plans
                        </a>
                        <a class="dropdown-item" asp-action="SyncProduct" asp-route-id="@product.Id" asp-route-stripeId="@product.StripeId">
                            <i class="fa fa-sync-alt"></i>
                            Sync with Stripe
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item subscriptions-products-delete" asp-action="DeleteProduct" asp-route-id="@product.Id">
                            <i class="fa fa-trash-alt"></i>
                            Delete Item
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    <partial name="_Pagination" />
}
else
{
    <alert type="Info" icon="fa-info" size="Epic" class="text-center m-0">
        There are no subscription products yet, click "Create New" to add your first subscription product.
    </alert>
}