@model SubscriptionProduct
@{
    ViewBag.Title = "Edit " + Model.DisplayName;
}
@section buttons {
    <a href="javascript:document.getElementById('edit-product-form').submit()" class="btn btn-success"><i class="fa fa-save"></i> Save Product</a>
    <button type="button" class="btn btn-outline-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-ellipsis-h"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" asp-action="Plans" asp-route-product="@Model.Id"><i class="fa fa-award"></i> Plans</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item subscriptions-products-delete" asp-action="Delete" asp-route-id="@Model.Id" data-redirect="@Url.Action("Index")"><i class="fa fa-trash-alt"></i> Delete Product</a>
    </div>
}
@section breadcrumbs {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a asp-action="Products"><i class="fa fa-layer-group mr-2"></i>Product Groups</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
}
<alert type="@Model.MessageType" size="Medium" icon="fa-save">@Model.SaveMessage</alert>
<div class="container ml-md-0 p-0">
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <ul class="nav nav-tabs card-header-tabs" role="tablist" id="page-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="plan-tab" data-toggle="tab" href="#plan" role="tab" aria-controls="plan" aria-selected="true">
                            Edit Product Group
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="tab-content">
                <div id="plan" class="tab-pane p-4 active" role="tabpanel" aria-labelledby="plan-tab">
                    <form asp-action="EditProduct" asp-route-id="@Model.Id" method="post" id="edit-product-form" data-id="@Model.Id">

                        @if (Model.StripeProduct != null)
                        {
                            <alert type="Info" icon="fa fa-info" size="Medium">
                                <a class="float-right" href="@($"https://dashboard.stripe.com/products/{Model.StripeProduct.Id}")" target="_blank">View on Stripe<i class="ml-2 fa fa-external-link-alt"></i></a>
                                <p class="m-0">This is linked to stripe, with stripe Id: <strong>@Model.StripeProduct.Id</strong></p>
                            </alert>
                        }
                        else
                        {
                            if (Model.StripeProduct != null)
                            {
                                <alert type="Warning" icon="fa fa-info" size="Medium">
                                    <p class="m-0">There is a stripe Id set, <strong>@Model.StripeId</strong>, but it is not connected to stripe, are you using the correct API keys?</p>
                                </alert>
                            }
                            else
                            {
                                <alert type="Danger" icon="fa fa-info" size="Medium">
                                    <p class="m-0">This is not connected to stripe.</p>
                                </alert>
                            }
                        }
                        <input asp-for="Id" type="hidden" />
                        <input asp-for="StripeId" type="hidden" />
                        <input asp-for="Created" type="hidden" />
                        <input asp-for="CreatedBy" type="hidden" />
                        <input asp-for="LastEditedOn" type="hidden" />
                        <input asp-for="LastEditedBy" type="hidden" />
                        <div class="form-group floating-label">
                            <label asp-for="DisplayName"></label>
                            <input asp-for="DisplayName" class="form-control">
                            <small asp-for="DisplayName"></small>
                        </div>
                        <div class="form-group">
                            <label asp-for="Body"></label>
                            <textarea type="text" class="form-control tinymce-simple" asp-for="Body"></textarea>
                            <small asp-for="Body"></small>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input asp-for="Public" class="custom-control-input">
                                <label asp-for="Public" class="custom-control-label"></label>
                            </div>
                            <small asp-for="Public"></small>
                        </div>
                        <hr class="mt-4" />
                        <h5 class="mt-2 mb-0">Featured Image</h5>
                        <p>Set the featured image for this property.</p>
                        <input type="hidden" asp-for="FeaturedImageJson">
                        <div class="form-group row align-items-center">
                            <div class="col-auto">
                                <fixedImage src="@Model.FeaturedImage.SmallUrl" class="img-sm img-circle m-0 FeaturedImage" id="product-feature-image" />
                            </div>
                            <div class="col">
                                <h6>Featured Image</h6>
                                <p>Choose a featured image for this product group.</p>
                                <p class="m-0">
                                    <mediaAttach asp-for="FeaturedImage" asp-entity="@nameof(SubscriptionProduct)" asp-id="@Model.Id" asp-filetype="Image" asp-json="FeaturedImageJson">
                                        Choose...
                                    </mediaAttach>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
