@model SubscriptionPlanListModel
@{
    ViewBag.Title = "Subscription Plans";
}
@section buttons {
    <a class="btn btn-success hood-modal" asp-action="Create" data-complete="$.hood.Subscriptions.Plans.Create">
        <i class="fa fa-user-plus mr-2"></i>
        Create New
    </a>
    <button type="button" class="btn btn-outline-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-ellipsis-h"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" asp-action="Products">
            <i class="fa fa-layer-group mr-2"></i>Product Groups
        </a>
        <a class="dropdown-item" asp-action="Stripe">
            <i class="fab fa-stripe-s mr-2"></i>Connected Stripe Plans
        </a>
        <a class="dropdown-item" asp-action="StripeProducts">
            <i class="fab fa-stripe-s mr-2"></i>Connected Stripe Products
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-action="Select" asp-controller="Subscriptions" asp-area="" target="_blank">
            <i class="fa fa-shopping-bag mr-2"></i>Pricing Page
        </a>
        @if (User.IsSuperUser()) { 
            <div class="dropdown-divider"></div>
            <a class="dropdown-item warning-alert" asp-action="ClearAllLocalData" asp-controller="Subscriptions" asp-area="Admin" data-title="Are you sure?" data-warning="This will clear ALL the LOCAL subscription data from the database, this does not delete any Stripe data. Local products, plans and subscriptions will need to be resynced from Stripe.">
                <i class="fa fa-trash mr-2"></i>Delete Local Data
            </a>
        }
    </div>
}
@if (Model.SaveMessage.IsSet())
{
    <alert type="@Model.MessageType" size="Medium" icon="fa-save">@Model.SaveMessage</alert>
}
<form class="inline" data-target="#subscriptions-plans-list">
    <div class="row">
        <div class="col-lg-8 mb-3">
            <div id="subscriptions-plans-list" class="hood-inline-list refresh query" data-url="@Url.Action("PlansList")" data-complete="$.hood.Subscriptions.Lists.Plans.Loaded">
                <partial name="_List_Plans" />
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-header position-relative" id="subscription-plans-filters-panel-heading">
                    <p class="card-title m-0 font-weight-bold">
                        <a class="stretched-link text-dark text-decoration-none" data-toggle="collapse" data-target="#subscription-plans-filters-panel" href="#subscription-plans-filters-panel" aria-expanded="true" aria-controls="subscription-plans-filters-panel">
                            Search Filters
                            <i class="fe fe-arrow-up mt-1"></i>
                        </a>
                    </p>
                </div>
                <div class="card-body collapse show" aria-labelledby="subscription-plans-filters-panel-heading" id="subscription-plans-filters-panel">
                     <div class="form-group floating-label">
                        <label asp-for="ProductId"></label>
                        <select class="form-control refresh-on-change" asp-for="ProductId">
                            <option value="">Show All</option>
                            @{
                                var products = await Engine.AccountManager.GetSubscriptionProductsAsync();
                            }
                            @foreach (var product in products.List)
                            {
                                <option value="@product.Id">@product.DisplayName</option>
                            }
                        </select>
                        <small asp-for="ProductId"></small>
                    </div>
                   <div class="form-group floating-label">
                        <label asp-for="Search"></label>
                        <select class="form-control refresh-on-change" asp-for="Order">
                            <optgroup label="Subscription">
                                <option value="Name">Name (A-Z)</option>
                                <option value="NameDesc">Name (Z-A)</option>
                                <option value="AmountDesc">Price (&pound;&pound;&pound;-&pound;)</option>
                                <option value="Amount">Price (&pound;-&pound;&pound;&pound;)</option>
                                <option value="CreatedDesc">Added Date (Newest)</option>
                                <option value="Created">Added Date (Oldest)</option>
                            </optgroup>
                            <optgroup label="Subscribers">
                                <option value="ActiveCountDesc">Active Subscribers (Higest to Lowest)</option>
                                <option value="ActiveCount">Active Subscribers (Lowest to Higest)</option>
                                <option value="TrialCountDesc">Trials (Higest to Lowest)</option>
                                <option value="TrialCount">Trials (Lowest to Higest)</option>
                            </optgroup>
                        </select>
                        <small asp-for="Search"></small>
                    </div>
                   <div class="form-group floating-label mb-0">
                        <label asp-for="Search"></label>
                        <input asp-for="Search" class="form-control">
                        <small asp-for="Search"></small>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success btn-block"> Search!</button>
                </div>
            </div>
        </div>
    </div>
</form>