@using Stripe
@model IEnumerable<StripePlan>
@{
    ViewBag.Title = "Subscription Plans (Stripe)";
}
@section buttons {
    <a class="btn btn-sm btn-primary" asp-action="Index"><i class="fa fa-link m-r-sm"></i>Connected Subscriptions</a>
}
<div class="panel-body">
    <h4>A list of subscriptions on your connected Stripe account</h4>
    <p class="m-b-lg">
        <label class="label label-info m-r-sm">Coming soon</label> Sync your stripe subscriptions accross to the site.
    </p>
    @foreach (StripePlan plan in Model)
    {
        var price = (decimal)plan.Amount / 100;
        <div class="forum-item data-item">
            <div class="row">
                <div class="col-md-6">
                    <a class="forum-item-title" href="#">
                        @plan.Name
                    </a>
                    <small>Created on <i class="fa fa-clock-o"></i> @plan.Created.ToLongDateString()</small>
                </div>
                <div class="col-md-2">
                    <span class="small font-bold">Trial</span>
                    <div class="tag-list">
                        <span class="tag-item">@plan.TrialPeriodDays days</span>
                    </div>
                </div>
                <div class="col-md-1">
                    <span class="small font-bold">Price</span>
                    <div class="tag-list">
                        <span class="tag-item">@price.ToString("C")</span>
                    </div>
                </div>
                <div class="col-md-1">
                    <span class="small font-bold">Stripe Id</span>
                    <div class="tag-list">
                        <span class="tag-item text-transform-normal">@plan.Id</span>
                    </div>
                </div>
            </div>
        </div>

    }
    @if (Model.Count() == 0)
    {
        <div class="alert alert-info">
            <p class="text-center">There are no subscription plans created on the site yet.</p>
        </div>
    }
</div>
