@model InstallModel
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment _env
@{
    bool production = _env.EnvironmentName == "Production";
    Layout = null;
}
<!DOCTYPE html>
<html class="h-100">

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

    <environment exclude="Production">
        <link rel="stylesheet" href="@Engine.Resource("/src/css/install.css")" asp-append-version="true">
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="@Engine.Resource("/dist/css/install.css")" asp-append-version="true">
    </environment>

</head>

<body class="@(!production ? "dev-mode" : "") d-flex h-100 bg-dark">

    <div class="login-container d-flex w-100 h-100 p-3 px-5 mx-auto flex-column bg-white">

        <header class="mb-auto">
            <a href="/">
                <img src="@Engine.Resource("/images/hood-cms.png")" alt="HoodCMS - Install" />
            </a>
        </header>

        <div class="login-content" style="max-width:100%;">
            <div class="text-center">
                <h4>
                    Your website is ready to roll!
                </h4>
                <p>You just need to disable initialization flags in your environment variables to start the site.</p>
                <div class="card border-danger text-start p-3">
                    <ul>
                        @if (Engine.Configuration.InitializeOnStartup)
                        {                            
                            <li>Disable the <code>Hood:InitializeOnStartup</code> flag in your app settings.</li>
                        } 
                        @if (Engine.Auth0Configuration.SetupRemoteOnIntitialize)
                        {                            
                            <li>Disable the <code>Identity:Auth0:SetupRemoteOnIntitialize</code> flag in your app settings.</li>
                        } 
                    </ul>
                </div>
            </div>
        </div>

        <footer class="mt-auto">
            <small><a href="http://hooddigital.com/">Powered by HoodCMS @($"v{Engine.Version}") by Hood Digital</a></small>
        </footer>

    </div>

    <div id="image-container" class="h-100 w-100 position-relative" data-image-url="@Url.Action("BackgroundImage", "Images")">
        <small id="image-credit" class="position-absolute bottom-0 start-0 rounded p-2 m-3">
            <span></span>
        </small>
    </div>

    <partial name="_Scripts_Login" />

</body>

</html>
